<div id="close">
    Go to Website
    <div id="close-x">
    </div>
</div>
<div id="logo">
    <a href="#"><img height="40px" src="{{properties.urls.images}}/logo.png" /></a>
</div>
<div id="user" class="clearfix">
</div>
<div id="notifications-container">
</div>
