<div class="fade">
    <div id="item">
        <div act="previous" class="item-nav-button" style="left: 0px;">Previous</div>
        <div act="next" class="item-nav-button" style="right: 0px;">Next</div>
        <div id="item-body">

        </div>
    </div>
</div>