#about-content {

    padding-top:        40px;



    #about-banner {
        background-color:   #f0f0f0;
        padding:            50px;
        border-bottom:      1px solid #CCC;

        h1 {
            @include        fontTitle(60px);
        }

        .subheading{
            @include        fontTitle(20px, #666666);
        }

        #about-shortcuts {
            margin-top:         30px;
            float:              right;
            width:              300px;
            border-radius:      5px;
            border:             1px solid #CCC;
            background-color:   rgba(255, 255, 255, 0.7);
            li {
                list-style: none;
                padding:    10px 20px;
                a {
                    @include            fontTitleLight(18px);
                    text-decoration:    none;
                    &:hover {
                        color:          $colorEC;
                    }
                }
            }
        }
    }
    #about-bookmarklet {
        padding:            25px;
        background-color:   #e2eefd;
        border-bottom:      1px solid #CCC;

        h2 {
            @include        fontTitleLight(24px);
        }

        .about-installation{
            margin-top:         10px;
            h3 {
                @include        fontTitleLight(20px);
                text-align:     center;
            }
            ol {
                width:          600px;
                margin:         auto;
            }

            ol li{
                @include        fontTitle(16px);
                padding:        5px 0px;
            }


        }
    }

    #about-body{
        padding:            25px;
        h2 {
            @include        fontTitleLight(24px);
        }

    }

    h4 {
        @include            fontTitleLight(20px);
    }

    p {
        @include            fontText(15px);
        margin-top:         10px;
    }

    .about-divider{
        padding-bottom:     20px;
        margin-bottom:      20px;
        border-bottom:      1px solid #CCC;
    }

}

.bookmarklet{
    @include                fontTextBold(16px, #666666);
    @include                dropShadowDown();
    text-decoration:        none;
    background-color:       #ffffff;
    border-radius:          5px;
    border:                 1px solid #999999;
    padding:                11px 15px;
    display:                inline-block;
    min-width:              160px;
    text-align:             center;
    &:active{
        border-color:       #666666;
        color:              #333333
    }

}