.expandingText{
    display: inline-block;
    margin-bottom: 10px;
    textarea, .textareaClone{
        border-radius: 5px;
        min-height: 10em;
        padding: 5px 6px;
        @include fontText(14px);
        resize: none;
        outline: 0px;
        border: 1px solid #CCC;
    }
}
