.expandingText{
    display: inline-block;
    margin-bottom: 10px;
    textarea, .textareaClone{
        min-height: 10em;
        padding: 8px 5px;
        @include fontText(13px);
        resize: none;
        height: 100%;
    }
}
