#field-container{
    z-index: 9999;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    position: fixed;
    min-width: 1200px;
    overflow-y: scroll;
    display: none;
}

#field{
    position:absolute;
    top: 25px;
    left: 50%;
    z-index: 99999;
    width: 816px;
    margin-left: -408px;
    background-color: #FFF;
    @include dropShadowDown;
    border-radius: 5px;
    &.small{
        width: 460px;
        margin-left: -230px;
    }

    .field-close{
        position:absolute;
        right: -15px;
        top: -15px;
        @include sprite(-31px, -157px, 36px, 37px);
        cursor: pointer;
    }

    .field-title{
        padding: 5px;
        @include fontTextBold(24px,#FFF);
        background-color: #333;
        text-align: center;
        margin: 10px 10px 0px 10px;
    }

    .field-body{
        background-color: #F0F0F0;
        margin: 0px 10px 10px 10px;
        position: relative;
        @include transition;
    }

    .story-summary {
        margin: 0 10px 10px 10px;
        padding: 10px;
        #story-hide {
                position: absolute;
                right: 18px;
        }
    }
}

.field-main-row{
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    &.highlight{
        border-color: $colorEC;
    }

}

.field-edit{
    @include fontText(14px, $colorEC);
    text-decoration: underline;
    cursor: pointer;
    float:right;
}

.field-summary-label{
    @include fontTextBold(14px);
}

.chapter-thumb-x{
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 10;
    @include sprite(-31px, -157px, 36px, 37px);
    cursor: pointer;


}

.field-text-input{
    width: 572px;
    resize: none;
    padding: 8px 5px;
    border: 1px solid #FFF;
    -webkit-appearance:none;
    //border-radius: 5px;
    background-color: #FFF;
    @include dropShadowDown;
    @include fontText(14px);
    outline: none;
    &:focus, &:hover{
        //border: 1px solid #CCC;
    }
}

.field-submit{
    @include button;
}

.field-question-label{
    @include fontTextBold(14px);
}


.story-detail-row{
    //display: table;
    padding: 5px 0px;
    position: relative;
    margin-left: 100px;
    margin-right: 50px;
    label{
        vertical-align: top;
        @include fontTextBold(14px);
        margin-right: 10px;
    }
    .story-input-label{
        width: 100px;
        position: absolute;
        left: -110px;
        text-align:right;
        @include fontTextBold(14px, #444);
        padding-right: 10px;
    }
    .story-input-content{

        @include fontText(13px);
    }

}

.story-summary-photo{
    margin-right: 5px;
    border: 3px solid #666;
}


#field-photo-upload{
    display:inline-block;
}

.field-photo-container{
    max-width: 210px;
    float:left;
    overflow: hidden;
    #preview{
        display:inline-block;
        overflow: hidden;
        #field-photo{
        }
    }

}

#chapter-cancel{
    @include fontTextBold(12px, $colorEC);
    text-decoration: underline;
    cursor: pointer;
}

#story-input-thumbnails{
    background-color: #bebebe;
    padding: 5px;
    .thumb{
        border: 3px solid #FFF;
        margin: 0px 5px 5px 0px;
        position: relative;
        float:left;

        img {
            height: 75px;
            display: block;
        }

        .thumb-cancel{
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}

#thumbnail-placeholder{
    float:left;
    img{
        height: 75px;
        background-color: #777;
        &.in{
            background-color: #000;
        }
    }
}

#input-add{
    padding: 10px;
    border-bottom: 1px solid #CCC;
    ul{
        float:left;
        clear: left;
        position: relative;
        left: 50%;
        text-align: center;
    }
    li{
        display: block;
        float:left;
        list-style: none;
        position: relative;
        right: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 120px;
        height: 30px;
        padding-top: 120px;
        @include fontTextBold(14px, #666);
        border-right: 1px solid #CCC;
        box-shadow: 1px 0px #FFF;
        cursor: pointer;
        &:hover, &.on{
            background-color: #333;
            color: #FFF;
        }
        &.photos{
            background-image: image-url('bk_photos_pad.png');
        }
        &.text{
            background-image: image-url('bk_text_pad.png');
        }
        &.link{
            background-image: image-url('bk_link_pad.png');
        }
    }
}