.login-form-title{
    margin-bottom: 10px;
    text-align: center;
    @include fontHeader(36px);
}
.login-form{
    margin: 20px auto;
    width: 320px;
    text-align: center;
    .login-form-row{
        position: relative;
        margin: 10px 0px;
    }

    label{
        display: block;
        //color: $colorEC;
        &.error{
            color: $colorEC;
        }
    }
    input[type="text"], input[type="password"]{
        width: 300px;
        @include fontText(24px);
        border-radius: 5px;
        padding: 0px;
        z-index: 3;
        margin: 0px;
        outline: none;
        border: 1px solid #333;
        padding: 5px 10px;
        background-color: transparent;
        &:focus{
            background-color: rgba(255, 255, 255, 0.5);
            border-color: $colorEC;
        }
        &.on{
            background-color: #FFF;
        }
    }
    .placeholder-white{
        position:absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        background-color: #FFF;
        z-index: -2;
        border-radius: 5px;
    }

    .placeholder-text{
        position: absolute;
        @include fontText(24px, #999);
        top: 5px;
        left: 13px;
        z-index: -1;
    }

    input[type="submit"]{
        width: 200px;
        @include fontTextBold(20px);
        background-color: #F0F0F0;
        outline: none;
        border: 1px solid #CCC;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: $colorEC;
            color: #FFF;
            border-color: #000;
        }
    }
}