#login-container{
    position: fixed;
    top:0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    z-index: 1000000;
    display: none;

    #login{
        position: absolute;
        background-color: #FFF;
        border-radius: 5px;
        width: 400px;
        left: 50%;
        margin-left: -200px;
        top: 50px;
        padding: 20px 10px;
        .login-logo{
            text-align: center;
        }
        .login-buttons{
            text-align: center;
        }
        .login-email{
            text-align: center;
            @include fontTextBold(14px);
            a{
                @include fontTextBold(14px);
                text-decoration: underline;
                &:hover{
                    color: $colorEC;
                }
            }
        }
        .login-body{
            text-align: center;
            @include fontText(24px);
            padding: 10px;
        }
    }
}