#notifications-container{
    position: absolute;
    display:none;
    right: 180px;
    top: 0px;
    border-left: 1px solid #CCC;
    box-shadow: -1px 0px #FFF;
    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    &.on{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

#notifications {
    cursor: pointer;
    padding: 9px 10px;
}

#notifications-text{
    padding: 4px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: $colorEC;
    @include fontTextBold(12px, #FFF);
    line-height: 12px;
    &.off{
        background-color: #AAA;
        color: #333;
        border-color: transparent;
    }
}

#notifications-menu{
    background-color: #FFF;
    position:absolute;
    border: 1px solid #666;
    border-bottom: 0px !important;
    top: 40px;
    right: 0px;
    display: none;
    width: 260px;
    #notifications-list-header{
        padding: 7px 0px 5px 5px;
        @include fontTextBold(12px);
        border-bottom: 1px dashed #CCC;
    }
    .notification{
        padding: 5px 10px;
        background-color: #F0F0F0;
        border-bottom: 1px solid #666;
        line-height: 1.8em;
        cursor: pointer;
        &:hover{
            background-color: rgb(255, 255, 200);
        }
    }
    #notification-settings{
        padding: 5px;
        font-weight: bold;
        border-bottom: 1px solid #666;
    }
}
