.input-select-off{
    @include fontText(13px);
    background-color: none;
    outline: none;
    hover:{
        border-color: #CCC !important;
    }
}

.input-select{
    display: inline-block;
    position:relative;
    .field-text-input{
        @include fontText(13px);
        background-position: right;
        background-repeat: no-repeat;
        background-color: #F3F3F3;
        //border: 1px solid $colorEC !important;
        background-image: -moz-linear-gradient(top, white 0%, #F3F3F3 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #F3F3F3));
        background-image: -webkit-linear-gradient(top, white 0%, #F3F3F3 100%);
        background-image: -o-linear-gradient(top, white 0%, #F3F3F3 100%);
        background-image: -ms-linear-gradient(top, white 0%, #F3F3F3 100%);
        background-image: linear-gradient(top, white 0%, #F3F3F3 100%);
        border-bottom: 1px solid #333;
        border-radius: 5px;
        cursor: pointer;
    }
    .field-question-label{
        cursor: pointer;
        &:hover{
            border-color: #333;
            .downarrow{
                border-top-color: #333;
            }
        }
    }
    .field-question-options-list{
        position: absolute;
        top: 40px;
        left: 0px;
        border: 1px solid #333;
        z-index: 100;
        .field-question-option{
            position:relative;
            background-color: #FFF;
            padding: 5px 6px;
            width: 500px;
            @include fontText(13px);
            cursor: pointer;
            &:hover{
                font-weight: bold;
                background-color: #F0F0F0;
            }
        }
    }

}
