#static-masthead{
    margin-top: 40px;
    padding: 20px 0px;
    background-color: rgb(30, 85, 120);
    border-bottom: 10px solid #8E98AC;
    .masthead-subtitle{
        padding: 20px 0px;
        width: 750px;
        line-height: 1.5em;
        @include fontTitleLight(24px, #FFF);
    }
}

img{
    &.right{
        float:right;
        padding: 5px;
        background-color: #FFF;
        border-radius: 5px;
        margin-left: 25px;
        @include dropShadowDown;
    }
    &.left{
        float:left;
        padding: 5px;
        background-color: #FFF;
        border-radius: 5px;
        margin-right: 25px;
        @include dropShadowDown;
    }
}

body{
    &.white{
        background-color: #FFF;
        background-image: none;
    }
}

#static-body{
    padding: 20px;
    background-color: #FFF;
}

.white-h1{
    @include fontTitleLight(48px, #FFF)
}

.center{
    width: 960px;
    margin:auto;
}

.static-section{
    margin-bottom: 30px;
    @include fontText(16px);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.subtitle{
    @include fontTextBold(30px);
    border-bottom: 2px solid #CCC;
    margin: 15px 0px;
}


.privacy, .terms{
    p{
        line-height: 1.5em;
        margin-bottom: 20px;
    }

    ol{
        list-style: lower-alpha;
    }

    li{
        margin: 10px 40px 10px 40px;
        line-height: 1.5em;
    }
}



.roundbox{
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px;

    .register_form_container{
        margin: 20px 0px;
        .register_form{
            margin: auto;
            width: 600px;
            padding: 10px;
            background-color: #F1F1F1;
            border: 2px solid #FF0000;
            border-radius: 5px;

            label{
                font-size: 16px;
                margin: 10px 5px 5px 5px;
                display:block;
            }
            input[type=text],input[type=password]{
                display:block;
                width: 400px;
                font-size: 16px;
                line-height: 1em;
                border: 1px solid #CCC;
                margin: 5px;
            }
        }
    }

}