#story{
    position: absolute;
    left: 50%;
    z-index: 99999;
    width: 876px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.story-nav-button{
    position: absolute;
    top: 0px;
    margin-top: -32px;
    padding: 10px 0px;
    @include fontTextBold(16px, #F0F0F0);
    cursor: pointer;
    &:hover{
        color: #FFF;
    }
}

#story-views{
    border-top: 1px dotted #FFF;
    @include fontTextBold(15px, #FFF);
    text-align: center;
    padding: 10px 0px;
}

.echo-story-container{
    position:relative;
    background-image: image-url("bk_noise.jpg");
    background-color: #F7F7F7;
    padding-bottom: 10px;
    border: 8px solid #FFF;
    border-radius: 3px;
    border-top-left-radius: 0px;

    .echo-s-h-close{
        position:absolute;
        right: -155px;
        top: -25px;
        cursor: pointer;
        @include sprite(-31px, -157px, 36px, 37px);
    }
    .echo-story-header{
        position:relative;
        padding: 10px;
        border-bottom: 1px solid #CCC;
        box-shadow: 0px 1px 0px #FFF;
        .echo-s-h-title{
            @include fontText(16px);
            .echo-s-h-t-t{
                @include fontTitle(36px, #111);
                text-shadow: 0px 1px 0px #FFF;
                margin: 0px 30px;
                text-align: center;
                word-wrap: break-word;
            }
            .echo-s-h-i-c{
                float:left;
                display: none;
                margin-right: 10px;
                .echo-s-h-i-i {
                    height: 50px;
                }
            }
        }
    }
    .echo-chapters{
        width: 300px;
        background-color: #F0F0F0;
        box-shadow:         inset 0 0 1px #000000;
        -moz-box-shadow:    inset 0 0 1px #000000;
        -webkit-box-shadow: inset 0 0 1px #000000;



        .echo-chapters-title{
            padding: 3px 5px;
            @include fontTextBold(14px);
        }
        .echo-chapter{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 3px 20px;
            cursor:pointer;
            @include fontText(12px);

            &.on, &:hover{
                //background-color: #FFF;
                @include fontTextBold(12px);
            }
        }
    }
    .echo-story-chapter-title{
        margin: 0px 10px;
        padding: 10px 0px 5px;
        @include fontTextBold(20px);
        text-shadow: 0px 1px 0px #FFF;
    }
    .echo-story-body{
        position: relative;
        margin: 0px 10px;
        min-height: 290px;
        .echo-s-b-text{
            display: inline;
            padding: 0px 0px 0px 5px;

            .echo-s-b-t-b{
                padding-bottom: 20px;
                @include fontText(13px, #333);
                line-height: 1.5em;
                word-wrap: break-word;
            }
        }
        .echo-s-b-segment{
            position: absolute;
            left: 0px;
            bottom: 10px;
            padding: 10px 0px;
            background-color: #CCC;
            .echo-s-b-s-t{
                padding: 0px 10px;
                @include fontTextBold(14px);
            }
        }
        .echo-s-b-gallery{
            float: right;
            width: 460px;
            margin-left: 10px;
            text-align:center;
            .echo-s-b-item{
                cursor: pointer;
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                border: 5px solid #FFF;
                .echo-s-b-i-c{
                    margin: auto;
                    width: 450px;
                    overflow:hidden;
                    text-align: center;

                    img{
                        width: 450px;
                        display: block;
                        margin: auto;

                    }
                }
            }
        }

    }
    .echo-story-footer{
        padding: 0px 10px;
        .echo-story-nav{
            margin: 5px 0px 10px 0px;
            .echo-s-n-s{
                margin-right: 5px;
                cursor: pointer;
                float:left;
                border: 1px solid #CCC;

                img {
                    height: 40px;
                    padding: 3px;
                    background-color: #FFF;
                }
                .echo-s-n-s-tt {
                    visibility: hidden;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #000;
                    color: #FFF;
                    @include fontText(14px, #FFF);
                    position:absolute;
                }
            }
        }
        .echo-story-comments{
            .echo-s-c-t{
                @include fontTextBold(24px);
                text-shadow: 0px 1px 0px #FFF;
                #echo-s-c-t-count{

                }
            }
            .echo-s-c-ta{
                margin: 10px 0px;
                textarea{
                    width: 830px;
                    padding: 5px;
                    border-radius: 5px;
                    resize: none;
                    height: 50px;
                    border: 1px solid #CCC;
                    @include fontText(14px);
                    outline: none;
                    &:focus{
                        border-color: #333;
                    }
                }

            }
            .comment-submit{
                cursor: pointer;
                @include button;
            }
            .comment-login-title {
                @include fontTextBold(14px);
                margin: 5px;
            }
            .login-button{
                cursor: pointer;
            }
            .echo-s-c-l{
                margin-top: 5px;
                border-top: 1px dotted #999;
                .echo-s-c-l-c{
                    padding: 10px 0px 10px 10px;
                    .echo-s-c-l-c-u{
                        @include fontText(14px, $colorEC);
                    }
                    .echo-s-c-l-c-d{
                        margin-left: 10px;
                        @include fontText(12px);
                    }
                    .echo-s-c-l-c-u-i{
                        height: 25px;
                        width: 25px;
                        margin-right: 10px;
                        border: 2px solid #FFF;
                    }
                    .echo-s-c-l-c-t{
                        padding: 0px 37px 5px;
                        @include fontText(13px, #000);
                        border-bottom: 1px dotted #999;
                        word-wrap: break-word;
                    }

                }

            }
        }

    }
}

.echo-story-main{
    position: relative;
}

.echo-story-gallery{
    position: absolute;
    padding: 0px 5px;
    top: 25px;
    bottom: 25px;
    left: 0px;
    overflow:hidden;

    text-align: center;
    .echo-gallery-header{
        @include fontTextBold(14px, #FFF);
        margin-bottom: 5px;
        text-align: left;
    }
    .echo-gallery-chapter{
        padding: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        border: 1px solid #666;
        background-color: rgba(255, 255, 255, 0.8);
        &.highlight, &:hover{
            background-color: rgba(255, 255, 255, 0.9);
            border-color: #FFF;
        }
    }
    .echo-gallery-title{
        @include fontTextBold(12px, #000);
        text-shadow: 0px 1px #FFF;
        margin-bottom: 5px;
    }
    .echo-s-b-thumbnail{
        margin: 5px 0px;
        border: 2px solid #666;
        cursor: pointer;
        &:hover, &.highlight{
            border-color: #000;
        }
    }
}


#echo-story-user-container{
    position:absolute;
    top: -8px;
    right: -138px;
}

#echo-story-user{
    width: 122px;
    background-color: rgba(20, 20, 20, 0.2);
    border: 8px solid #FFF;
    //height: 400px;
}

#echo-story-gallery-container{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    padding: 10px 5px;
    width: 105px;
    border-right: 1px solid #CCC;
}

#echo-story-gallery-prev, #echo-story-gallery-next{
    height: 20px;
    width: 115px;
    text-align: center;
    position: fixed;
    cursor:pointer;
    opacity: .5;
    transition:opacity 1s linear;
    &:hover{
        opacity: 1;
    }
}

#echo-story-gallery-prev{
    position:absolute;
    left: 0px;
    top: 0px;
    border-bottom: 1px dotted #FFF;
    background-image: image-url("bk_prevarrow.png");
    background-position: center;
    background-repeat: no-repeat;
}

#echo-story-gallery-next{
    border-top: 1px dotted #FFF;
    position: absolute;
    bottom:0px;
    left: 0px;
    background-image: image-url("bk_nextarrow.png");
    background-position: center;
    background-repeat: no-repeat;
}

.echo-s-h-t-n{
    text-align: center;
    border-bottom: 1px dotted #CCC;
    padding: 10px;
    .echo-s-h-t-n-i{
        height: 100px;
        width: 100px;
        border: 2px solid #FFF;
        margin: auto;
    }
}

.echo-s-h-t-n-t{
    @include fontText(14px);
    text-shadow: 0px -1px #000;
    margin: 10px 0px;
}

.echo-s-h-t-n-t-l{
    @include fontText(13px, $colorEC);
    text-decoration: underline;
}

.echo-story-from{
    @include fontText(14px);
    text-align: center;
}

.bold-link{
    font-weight: bold;
    &:hover{
        color: $colorEC;
    }
}

#story-edit-container{
    text-align: center;
}

#story-edit-tab{
    display: none;
    padding: 2px 20px 5px;
    background-color: rgb(200, 45, 45);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    @include fontTextBold(13px, #FFF);
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #333;
    border-top: 0px;
    &:hover{
        background-color: $colorEC;
        padding-top: 10px;
        transition: padding 0.2s linear;
        -webkit-transition: padding 0.2s linear;
        -moz-transition: padding 0.2s linear;
        -o-transition: padding 0.2s linear;
    }
}

.greyButton{
    @include whiteButton;
}

.redButton{
    @include redButton;
}

#story-login-container{
    position: fixed;
    top:0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    #story-login{
        position: absolute;
        background-color: #FFF;
        border-radius: 5px;
        width: 400px;
        left: 50%;
        margin-left: -200px;
        top: 50px;
        padding: 20px 10px;
        .story-login-logo{
            text-align: center;
        }
        .story-login-buttons{
            text-align: center;
        }
        .story-login-email{
            text-align: center;
            @include fontTextBold(14px);
            a{
                @include fontTextBold(14px);
                text-decoration: underline;
                &:hover{
                    color: $colorEC;
                }
            }
        }
        .story-login-body{
            text-align: center;
            @include fontText(24px);
            padding: 10px;
        }
    }
}

#story-actions{
    padding: 5px 7px;
    .story-share{
        border-radius: 3px;
        cursor: pointer;
        float:left;
        margin: 2px;
        border: 1px solid;
        border-color: transparent;
        &:hover{
            border-color: #333;
        }
    }

    .fb{
        @include sprite(0px, -164px, 30px, 30px);
        background-color: $colorFB;
    }
    .tw{
        @include sprite(-73px, -164px, 30px, 30px);
        background-color: $colorTW;
    }
    .pinterest{
        width: 30px;
        height: 30px;
        background-image: image-url("bk_pinterest.png");
        background-color: #FFF;
    }
    //border-bottom: 1px dotted #CCC;
}

.user-label{
    text-align: center;
    margin: 5px 0px;
    @include fontTextBold(14px, #FFF);
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px;
}

#echo-s-vote{
    padding: 0px 10px 5px;
    border-bottom: 1px dotted #FFF;
}

.upvote, .downvote{
    cursor:pointer;
    width: 33px;
    height: 33px;
    display: inline-block;
    background-repeat: none;
    vertical-align: middle;
}

#upvote-counter, #downvote-counter{
    @include fontTextBold(20px, #FFF);
    vertical-align: middle;
    width: 60px;
    text-align: center;
    display: inline-block;
    height: 33px;
    line-height: 33px;
}

.upvote{
    background-image: image-url("uparrow_off.png");
    &:hover{
        background-image: image-url("uparrow_hover.png");
    }
    &:active, &.on{
        background-image: image-url("uparrow.png");
    }

}

.downvote{
    background-image: image-url("downarrow_off.png");
    &:hover{
        background: image-url("downarrow_hover.png");
    }
    &:active, &.on{
        background: image-url("downarrow.png");
    }
}