#title-container{
    margin: 5px auto;
    min-width: 1200px;
    display: none;

    #breadcrumbs{
        padding: 10px 0px;
        @include fontTextBold(14px, #FFF);
    }

    #title{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @include dropShadowDown;

        #title-header{
            position: relative;
            padding: 5px 10px;
            text-shadow: 0px -1px rgba(0, 0, 0, 0.8);
            background-color: #262626;
        }
        #title-text{
            @include fontTextBold(24px, #FFF);
        }
        #title-body{
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px;
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #CCC;
            .title-label{
                font-weight: bold;
                text-align: left;
                @include fontTextBold(13px);
            }

            #title-stats{
                float: right;
                .title-stats-label{
                    width: 100px;
                    padding-left: 5px;
                    display: inline-block;
                    text-align: left;
                }
                .title-stats-text{
                    text-align: right;
                    display: inline-block;
                    width: 100px;
                    font-weight: bold;
                    padding-right: 5px;
                }
                li{
                    border-bottom: 1px solid #CCC;
                }
            }
            #title-content{
                float: right;
                margin-right: 40px;
                .title-content-label{
                    width: 130px;
                    display: inline-block;
                    text-align: left;
                    margin-right: 5px;
                }

                .title-content-text{
                    font-weight: bold;
                }
                li{
                    display: block;
                    width: 450px;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }
            }
            ul{
            }
            li{
                @include fontText(13px);
                list-style: none;
                a {
                    &:hover{
                        color: $colorEC;
                    }
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }

    #title-nav{
        //background-color: rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        li{
            list-style: none;
            background-color: #CCC;
            padding: 5px 7px;
            border-radius: 5px;
            margin-right: 5px;
            float:left;
            @include transition;
            cursor: pointer;
            border: 1px solid #000;
            @include fontTextBold(13px, #111);
            a {
                text-decoration: none;
                color:           inherit;
            }
            &:hover {
                //background-color: rgba(255, 255, 255, 0.3);
                background-color: rgba(0, 0, 0, 0.8);
                color: #FFF;
            }

            &.selected {
                background-color: #111;
                text-shadow: 0px -1px rgba(0, 0, 0, 0.4);
                color: #FFF;
            }
        }
    }
}

#title-share-label{
    @include fontTextBold(16px, #FFF);
    margin-bottom: 10px;
    text-shadow: rgba(0, 0, 0, 0.8) 0px -1px;
}

#title-login{
    text-align: center;
}

#title-action-button{
    @include        buttonRed();
    float: right;
}
