#moderate{
    display:            none;
}


#moderate-table{
    width:              100%;
    border-collapse:    collapse;
    thead{
        border-bottom:  1px solid #CCC;
    }
    th, td{
        padding:        8px 3px;
    }
}

.moderate-header{
    @include            fontTextBold(13px);
}

.moderate-preview{
    @include            buttonRed;
    @include            fontTextBold(12px, #FFF);
}

