{{<common_super}}
    {{$jsHead}}
        {{#scriptTag}}admin.js{{/scriptTag}}
    {{/jsHead}}
    {{$title}}
        Echoed | Admin Dashboard
    {{/title}}
    {{$css}}
        <link rel="stylesheet" href="{{urls.css}}/echoed.admin.css" />
    {{/css}}
    {{$content}}
    <div id="container">
        <div id="header-container">
            <div id="logo">
                <img height="40px" src="{{urls.images}}/logo.png">
            </div>
            <div id="header-tabs">
                <ul>
                    <li>
                        <a href="#">
                            Admin Home
                        </a>
                    </li>
                    <li>
                        <a href="#partners">
                            Partners
                        </a>
                    </li>
                </ul>
            </div>
            <div id="user" class="clearfix">
                <div id="user-text">
                </div>
                <span class="downarrow"></span>
                <div id="user-list">
                    <ul>
                        <li class="user-list-item">
                            <a href="{{urls.site}}/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="nav-container">
        </div>
        <div id="content">
            <div id="moderate" class="content-container"></div>
            <div id="partnerList" class="content-container"></div>
            <div id="fade">
                <div id="story"></div>
            </div>
        </div>
    </div>
    {{/content}}
{{/common_super}}