{{> adminheader}}


<div id="container">
    <div id="header">
        <div id="logo">
            <img height="40px" src="{{urls.images}}/logo.png">
        </div>
        <div id="user" class="clearfix">
            <div id="user-text">
                {{#echoedUser}}{{name}}{{/echoedUser}} ( <span class="highlight"><strong><a id="logout" href="{{urls.site}}/logout">Logout</a></strong></span> )<br />
            </div>
        </div>
        <div id="header-nav" class="clearfix">
        </div>
    </div>
    <div id="content">
        <div class="row">
            <div class="full">
                <div class="label">
                    Echoed Users
                </div>
                <div id="echoed-users">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="full">
                <div class="label">
                    Echo Possibilities
                </div>
                <div id="echoes">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>