{{<public_super}}
    {{$title}}Echoed | Admin Login{{/title}}
    {{$public_content}}
    <div id="login-content">
        <div id="admin-form" class="login-form">
            <div class="login-form-title">Admin Login</div>
            {{#error}}<div id="lm-error">Error: {{message}}</div> {{/error}}
            <form action="{{urls.site}}/admin/login" method="POST">
                <input id="email" name="email" type="text" placeholder="E-mail"/>
                <label for="email"></label>
                <input id="password" name="password" type="password" placeholder="Password"/>
                <label for="password"></label>
                <input id="login" name="login" type="submit">
            </form>
        </div>
    </div>
    {{/public_content}}
    {{$olark}}{{/olark}}
{{/public_super}}


