{{<public_super}}
    {{$jsHead}}
        {{#scriptTag}}static.js{{/scriptTag}}
    {{/jsHead}}
    {{$title}}Echoed | Admin Login{{/title}}
    {{$public_content}}
    <div id="login-content">
        <div id="admin-form" class="login-form">
            <div class="login-form-title">Admin Login</div>
            {{#error}}<div id="lm-error">Error: {{message}}</div> {{/error}}
            <form action="{{urls.site}}/admin/login" method="POST">
                <div class="login-form-row">
                    <input class="placeholder-input" id="email" name="email" type="text"/>
                    <label class="placeholder-text">Email Address</label>
                    <span class="placeholder-white"></span>
                </div>
                <div class="login-form-row">
                    <input class="placeholder-input" id="password" name="password" type="password"/>
                    <label class="placeholder-text">Password</label>
                    <span class="placeholder-white"></span>
                </div>

                <input id="login" name="login" type="submit">
            </form>
        </div>
    </div>
    {{/public_content}}
    {{$olark}}{{/olark}}
{{/public_super}}


