<!DOCTYPE html>
<html style="height: 100%; width: 100%">
<head>
    <title></title>
    <script type="text/javascript">
        //{{>echoed_setup}}//
    </script>
    {{#scriptTag}}applet.js{{/scriptTag}}
</head>
<body style="height: 100%; width: 100%; overflow: hidden;" >
    <iframe sandbox="" src="{{domain}}" id="echoed-background" frameborder="0" scrolling="no" style="display: none;"></iframe>
</body>
</html>
<script type="text/javascript">
    window.onbeforeunload = function(){
    }
</script>

