<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:200,300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo:200,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{urls.css}}/applet.css"/>
    <script type="text/javascript">
        //{{>echoed_setup}}//
    </script>
    {{$jsHead}}
    {{#scriptTag}}applet.iframe.js{{/scriptTag}}
    {{/jsHead}}
</head>
<body>
    <iframe sandbox="" id="background" frameborder="0" scrolling="no" ></iframe>
    <div id="container">
        <div id='header-container'></div>
        <div id="nav-container" class="clearfix white"></div>
        <div id="item-container"></div>
        <div id="field-container"></div>
        <div id="login-container"></div>
        <div id="echoed-exhibit-container">
            <div id="content">
                <div id="title-container"></div>
                <div id='exhibit'></div>
                <div id="infiniteScroll" style="display:none;">
                    Loading <img align="absmiddle" src="{{urls.images}}/bk_loader_circle.gif" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function postMessageInterface(data){
        self.postMessage(data, "*");
    }
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28093745-1']);
    _gaq.push(['_setDomainName', 'echoed.com']);
    _gaq.push(['_trackEvent', 'Widget', 'Load', '{{#partner}}{{id}}{{/partner}}']);

    //{{#prod}}//
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


    //CrazyEgg
    setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/0648.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);

    //{{/prod}}//
</script>
