(function(){
    if(typeof(window.Echoed) ==='undefined') Echoed = {};

    {{>echoed_setup}}
    var es = document.createElement('script');
    es.type = 'text/javascript';
    es.async = true;

    {{#dev}}
    es.src = "{{https.js}}/libs/require/require-2.1.1.js";
    es.setAttribute('data-main',"{{https.js}}/applet.js");
    {{/dev}}
    {{^dev}}
    es.src = "{{https.js}}/applet.js"
    {{/dev}}
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(es, s);

})();