<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
    <title>Redirecting for Facebook authorization</title>
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
        <div class="poweredby">

        </div>
        <div class="sharingvalued">
            Sharing. <span class="red">Valued</span>
        </div>
    </div>
    <div id="content">
        <div id="thankyou">
            <span class="ty-text">
                If you are not automatically redirected please click <a href="{{authUrl}}">here</a>.
            </span>
        </div>
     </div>
</div>
<script>
    top.location.href='{{{authUrl}}}'
</script>
</body>
</html>
