<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Your Echoed Account</title>
</head>
<body class="">
<div>
    {{> partial_register_email}}
    <p>
        An account manager will reach out to you to help you set up your account.
    </p>
    {{> bigcommerce_partial_integration}}
    <p>
        Please do not hesitate to email accountmanager@echoed.com or call 917-267-4591 with your questions.
    </p>
</div>
</body>
</html>
