<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <script type="text/javascript">
        Echoed = {};
        Echoed.errors = {};
        Echoed.errors.global = new Array();
        //{{#errors.global}}//
        Echoed.errors.global.push("{{this}}");
        //{{/errors.global}}//

        //{{#errors.fieldErrors}}//
        Echoed.errors["{{object}}"] = {}
        //{{/errors.fieldErrors}}//

        //{{#errors.fieldErrors}}//
        Echoed.errors["{{object}}"]["{{field}}"] = "{{message}}"
        //{{/errors.fieldErrors}}//

        Echoed.messages = {};
        Echoed.messages.global = new Array();
        //{{#messages.global}}//
        Echoed.messages.global.push("{{this}}");
        ///{{/messages.global}}//

        Echoed.urls = {};
        //{{#urls}}//
        Echoed.urls.api = "{{api}}";
        Echoed.urls.cdn = "{{cdn}}";
        Echoed.urls.js = "{{js}}";
        Echoed.urls.css = "{{css}}";
        Echoed.urls.images = "{{images}}";
        Echoed.urls.views = "{{views}}";
        Echoed.urls.site = "{{site}}";
        //{{/urls}}//
        Echoed.facebookLogin ={};
        Echoed.facebookLogin.head = "https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri=";
        Echoed.facebookLogin.redirect = "{{https.site}}/facebook/login?redirect=";
        Echoed.facebookLogin.tail = "&scope=email,user_birthday,publish_actions";
        Echoed.twitterUrl = "{{urls.site}}/twitter?redirect=";
    </script>
    {{$jsHead}}
    {{/jsHead}}
    <title>{{$title}}Echoed | Community{{/title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:200,300,400,700' rel='stylesheet' type='text/css'>
    {{$css}}{{/css}}
    {{$header}}{{/header}}
</head>
<body>
{{$content}} {{/content}}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28093745-1']);
    _gaq.push(['_setDomainName', 'echoed.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
