<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
<title>Confirm</title>
</head>
<body>
	<div id="container">
        <div id="header" class="clearfix">
            <div class="poweredby">
                <img src="{{urls.images}}/img_pbe.png"/>
            </div>
        </div>
        <div id="content">
            <div id="thankyou">
                <span class="ty-text">{{#echoedUser}}{{name}}{{/echoedUser}}, Echo This Purchase and Save!</span><span class="not-name">  ( <span class="highlight"><strong><a href="{{logoutUrl}}">Not {{#echoedUser}}{{name}}{{/echoedUser}}</a></strong></span>? )</span>
            </div>
            <div id="lower" class="clearfix">
                <div id="left" class="wide">
                    <div id="product">
                        <div id="product_upper" class="clearfix small">
                            <div id="product_picture_container">
                            {{#echoPossibility}}
                                <img id="product_picture" src="{{imageUrl}}"/>
                            {{/echoPossibility}}
                            </div>
                            <div id="product-description">
                                {{#echoPossibility}}
                                <strong>{{productName}}</strong><br />
                                by {{brand}}<br />
                                {{/echoPossibility}}
                                ${{productPriceFormatted}}
                            </div>
                        </div>
                    </div>
                </div>
    	        <div id="right" >
                    <div id="right_content" class="border-grey bg-color-white rounded-corners">
                        <div id="echoes-container">
                            <div class="confirm-label red" style="margin-bottom: 5px;">
                                SHARE NOW TO GET YOUR REWARD, IT'S EASY!
                            </div>
                            <div style="margin-bottom:10px;">
                                Get <strong>10 friends</strong> to click on your link and we will give you <strong>5% back</strong>. You&#39;ll earn more for every friend that clicks, up to <strong>20% back</strong>!
                            </div>
                            <form name="message" id="echo" action="{{urls.site}}/echo/it" method="get">
                                {{#echoPossibility}}
                                <input type="hidden" name="echoPossibilityId" value="{{id}}">
                                {{/echoPossibility}}
                                <table id="echoes" width="100%" cellspacing="5px">
                                    <thead>
                                        <tr>
                                            <th width="40px">Network</th>
                                            <th>Custom Message</th>
                                            <th width="20px">On/Off</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#echoedUser}}
                                        {{#facebookUserId}}
                                        <tr>
                                            <td>
                                                <img src="{{urls.images}}/icon_facebook.png" height="60"/>
                                            </td>
                                            <td>
                                                <textarea name="facebookMessage" class="rounded-corners" >Check out the {{#echoPossibility}}{{productName}}{{/echoPossibility}} I just bought from {{#retailer}}{{name}}{{/retailer}}</textarea>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="postToFacebook" checked="true"/>
                                            </td>
                                        </tr>
                                        {{/facebookUserId}}
                                        {{^facebookUserId}}
                                        <tr>
                                            <td>
                                                <a href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{facebookAddUrl}}&scope=email,publish_stream,offline_access">
                                                    <img src="{{urls.images}}/btn_icon_facebook_bw.png" height="60"/>
                                                </a>
                                            </td>
                                            <td>
                                                Click the icon to add facebook.
                                            </td>
                                        </tr>
                                        {{/facebookUserId}}
                                        {{#twitterUserId}}
                                            <tr>
                                                <td>
                                                    <img src="{{urls.images}}/icon_twitter.png" height="60"/>
                                                </td>
                                                <td>
                                                    <textarea name="twitterMessage" class="rounded-corners" >Check out the {{#echoPossibility}}{{productName}}{{/echoPossibility}} I just bought from {{#retailer}}{{name}}{{/retailer}}</textarea>
                                                </td>
                                                <td>
                                                    <input type="checkbox" name="postToTwitter" checked="true"/>
                                                </td>
                                            </tr>
                                        {{/twitterUserId}}
                                        {{^twitterUserId}}
                                            <tr>
                                                <td>
                                                    <a id="twitterLogin" href="{{urls.site}}/twitter?redirect={{twitterAddUrl}}">
                                                        <img src="{{urls.images}}/btn_icon_twitter_bw.png" height="60"/>
                                                    </a>
                                                </td>
                                                <td>
                                                    Click the logo to add Twitter
                                                </td>
                                            </tr>
                                        {{/twitterUserId}}
                                        {{/echoedUser}}
                                        <tr>
                                            <td align="center" colspan="3">
                                                <input id="echoit" type="image" style="cursor:pointer;" class="bg-color-orange rounded-corners" src="{{urls.images}}/btn_echoit.png" />
                                            </td>
                                        </tr>
                                    </tbody>
                                 </table>
                            </form>
                        </div>
                    </div>
	            </div>
            </div>
        </div>
    </div>
</body>
</html>
{{> google}}
