<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
<title>Confirm</title>
</head>
<body>
	<div id="container">
        <div id="header" class="clearfix">
            <div class="poweredby">
                <img src="{{urls.images}}/img_pbe.png"/>
            </div>
            <div class="sharingvalued">
                <img src="{{urls.images}}/img_sv.png"/>
            </div>
        </div>
        <div id="content">
            <div id="thankyou">
                <span class="ty-text">{{#echoedUser}}{{name}}{{/echoedUser}}, Share This Purchase and Save!</span><span class="not-name">  ( <span class="highlight"><strong><a href="{{logoutUrl}}">Not {{#echoedUser}}{{name}}{{/echoedUser}}</a></strong></span>? )</span>
            </div>
            <div id="lower">
                <div id="left">
                    <div id="left_content">
                        <div id="product">
                            <div id="product_upper" class="clearfix small">
                                <div id="product_picture_container" style="float:left">
                                {{#echoPossibility}}
                                    <img id="product_picture" src="{{imageUrl}}"/>
                                {{/echoPossibility}}
                                </div>
                                <div id="product-description">
                                    {{#echoPossibility}}
                                    {{productName}}<br /><br/>
                                    by {{brand}}<br /><br/>
                                    {{/echoPossibility}}
                                    ${{productPriceFormatted}}
                                </div>
                            </div>
                            <div id="product-text">
                                <div class="pt-reward"><span class="pt-title">Rewards</span> (7 Days to register activity)</div>
                                <div class="pt-div third br">
                                    <div class="upto">&nbsp;</div>
                                    <div class="pct">1% Off</div>
                                    <div class="when">When you Echo to your Exhibit</div>
                                </div>
                                <div class="pt-div third br">
                                    <div class="upto">&nbsp;</div>
                                    <div class="pct">{{minPercentage}}% Off</div>
                                    <div class="when">When you get {{minClicks}} clicks across your social networks</div>
                                </div>
                                <div class="pt-div third">
                                    <div class="upto">Up to</div>
                                    <div class="pct">{{maxPercentage}}% Off</div>
                                    <div class="when">When more friends buy or check out what you shared.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    	        <div id="right" >
                    <div id="right_content" class="border-grey bg-color-white rounded-corners">
                        <form name="message" id="echo" action="{{urls.site}}/echo/it" method="get">
                            {{#echoPossibility}}
                            <input type="hidden" name="echoPossibilityId" value="{{id}}">
                            {{/echoPossibility}}
                    	    <table id="echoes" width="100%" cellspacing="5px">
                                <tbody>
                                    <tr>
                                        <td width="65">
                                            <img src="{{urls.images}}/icon_echoed.png" height="65"/>
                                        </td>
                                        <td>
                                            <textarea name="closetmessage" disabled="disabled" style="width:280px; height:65px;" class="rounded-corners" >Item will appear in your Echoed Exhibit</textarea>
                                        </td>
                                        <td width="50">
                                            <input type="checkbox" name="postToEchoedCloset" checked="true" disabled="true"/>
                                        </td>
                                    </tr>
                                    {{#echoedUser}}
                                    {{#facebookUserId}}
                                    <tr>
                                        <td>
                                        	<img src="{{urls.images}}/icon_facebook.png" height="65"/>
                                        </td>
                                        <td>
                                            <textarea name="facebookMessage" style="width:280px; height:65px;" class="rounded-corners" >Check out the {{#echoPossibility}}{{productName}}{{/echoPossibility}} I just bought from {{#retailer}}{{name}}{{/retailer}}</textarea>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="postToFacebook" checked="true"/>
                                        </td>
                                    </tr>
                                    {{/facebookUserId}}
                                    {{^facebookUserId}}
                                    <tr>
                                        <td colspan="3">
                                            <a href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{facebookAddUrl}}&scope=email,publish_stream,offline_access">
                                                <img class="login-button" width="250px" src="{{urls.images}}/btn_add_fb.png">
                                            </a>
                                        </td>
                                    </tr>
                                    {{/facebookUserId}}
                                    {{#twitterUserId}}
                                        <tr>
                                            <td>
                                            	<img src="{{urls.images}}/icon_twitter.png" height="65"/>
                                            </td>
                                            <td>
                                                <textarea name="twitterMessage" style="width:280px; height:65px;" class="rounded-corners" >Check out the {{#echoPossibility}}{{productName}}{{/echoPossibility}} I just bought from {{#retailer}}{{name}}{{/retailer}}</textarea>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="postToTwitter" checked="true"/>
                                            </td>
                                        </tr>
                                    {{/twitterUserId}}
                                    {{^twitterUserId}}
                                        <tr>
                                            <td colspan="3">
                                                <a id="twitterLogin" href="{{urls.site}}/twitter?redirect={{twitterAddUrl}}">
                                                    <img width="200" src='{{urls.images}}/btn_add_tw.png'/>
                                                </a>
                                            </td>
                                        </tr>
                                    {{/twitterUserId}}
                                    {{/echoedUser}}
                                    <tr>
                                        <td align="center" colspan="3">
    										<input id="echoit" type="image" style="cursor:pointer" class="bg-color-orange rounded-corners" src="{{urls.images}}/btn_echoit.png" />
                                        </td>
                                    </tr>
                                </tbody>
                             </table>
                        </form>
                    </div>
	            </div>
            </div>
        </div>
    </div>
</body>
</html>
{{> google}}
