<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
    <title>Thank you</title>
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
        <div class="poweredby">
            <img src="{{urls.images}}/img_pbe.png"/>
        </div>
    </div>
    <div id="content">
        <div id="thankyou">
            <span class="ty-text">This product has already been Echoed</span>
        </div>
        <div class="clearfix">
            <div id="right">
                <div id="right-content">
                    <div class="confirm-label">
                    </div>
                    <div class="confirm-text clearfix">
                        <div>
                            Thank you for shopping with us.<br/>
                            <br/><br/>
                            Track your rewards for the item you just shared from within your <a style="text-decoration: underline;font-weight:bold;" href="{{urls.site}}/#exhibit">Echoed Exhibit</a><br/><br/>
                            Encourage your friends to click on your shared purchase link and browse your <a style="text-decoration: underline;font-weight:bold;" href="{{urls.site}}/#exhibit">Exhibit</a>
                            <a href="http://pinterest.com/pin/create/button?url=http%3A%2F%2Fwww.echoed.com%2Fecho%2F{{id}}&media={{imageUrl}}" class="pin-it-button" count-layout="none">Pint it</a>
                            <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
                        </div>
                    </div>
                </div>
            </div>
            <div id="left">
                <div id="left_content">
                    <div id="product">
                        <div id="product_upper" class="clearfix large">
                            <div id="product_picture_container" >
                                <img id="product_picture" src="{{#echo}}{{imageUrl}}{{/echo}}"/>
                            </div>
                            <div id="product-description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{{> google}}
