<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
    <title>Login</title>
</head>
<body>
{{#echoPossibilityView}}
<div id="container">
    <div id="header" class="clearfix">
        <div class="partner-logo">
            <img src="{{partnerLogo}}"/>
        </div>
    </div>
    <div id="content">
        <div id="thankyou">
            {{#partner}}
            <span class="ty-text">Show Your Friends Why you Love {{name}}, It's Worth It</span>
            {{/partner}}
        </div>
        <div id="lower" class="clearfix">
            <div id="left">
                <div id="left_content">
                    <div id="product">
                        <div id="product_upper" class="clearfix large">
                            <div id="product_picture_container" >
                                {{#echoPossibility}}
                                <img id="product_picture" src="{{imageUrl}}"/>
                                {{/echoPossibility}}
                            </div>
                            <div id="product-description">
                                {{#echoPossibility}}
                                <strong>{{brand}}</strong><br />
                                {{productName}}
                                {{/echoPossibility}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right" class="long">
                <div id="right-content">
                    {{#partner}}
                    <div class="confirm-label">
                        STEP 1 OF 2: Login to Share With Friends
                    </div>
                    <div>
                        <a id="facebookLogin" href="{{urls.site}}/echo/authorize?id={{echoPossibility.id}}&network=facebook" >
                            <img height="50" src="{{urls.images}}/btn_facebook_login.png"/>
                        </a>
                        <a id="twitterLogin" href="{{urls.site}}/echo/authorize?id={{echoPossibility.id}}&network=twitter">
                            <img height="50" src="{{urls.images}}/btn_twitter_login.png"/>
                        </a>
                    </div>
                    <div class="confirm-text" style="margin-top: 20px;">
                        We want to thank you for supporting {{#partner}}{{name}}{{/partner}}. Please tell your friends about your purchase and help us grow. <br/><br/>
                        As more friends use your link to visit our site, your reward will grow, <strong>up to {{maxPercentage}}%.</strong> All rewards will be automatically credited to the card you used to buy this item.
                    </div>
                    {{/partner}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/echoPossibilityView}}
</body>
</html>
{{> partial_google}}