<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
    <title>Confirm</title>
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
        <div class="partner-logo">
            <img src="{{partnerLogo}}"/>
        </div>
    </div>
    <div id="content" class="clearfix">
        <div id="thankyou">
            <span class="ty-text">{{#echoedUser}}{{name}}{{/echoedUser}}, Share And Immediately Earn {{minPercentage}}% Back!</span><span class="not-name">  ( <span class="highlight"><strong><a href="{{logoutUrl}}">Not {{#echoedUser}}{{name}}{{/echoedUser}}</a></strong></span>? )</span>
        </div>
        <div id="lower" class="clearfix">
            <div id="left" class="wide">
                <div id="product">
                    <div id="product_upper" class="clearfix small">
                        <div id="product_picture_container">
                            {{#echoPossibility}}
                            <img id="product_picture" src="{{imageUrl}}"/>
                            {{/echoPossibility}}
                        </div>
                        <div id="product-description">
                            {{#echoPossibility}}
                            <strong>{{brand}}</strong><br />
                            {{productName}}
                            {{/echoPossibility}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="right" class="long">
                <div id="right_content">
                    <div id="echoes-container">
                        <div class="confirm-label">
                            STEP 2 OF 2: Customize Your Message And Share
                        </div>
                        <form name="echo" id="echo" action="{{urls.site}}/echo/finish" method="get">
                            {{#echoPossibility}}
                            <input type="hidden" name="echoId" value="{{id}}">
                            {{/echoPossibility}}
                            <div id="echoes" width="100%" >
                                <div><textarea id="message" name="message" class="rounded-corners" placeholder="Leave a message and tell your friends why you bought {{#echoPossibility}}{{productName}}{{/echoPossibility}}. The more friends that click through and check out this product the more you save!"></textarea></div>
                                <div style="font-size:14px;line-height: 25px;">
                                    {{#echoedUser}}
                                        <img align="absmiddle" src="{{urls.images}}/icon_facebook.png" height="25px"/>
                                        {{#facebookUserId}}
                                            <input type="checkbox" name="postToFacebook" checked="true"/>Share to Facebook
                                        {{/facebookUserId}}
                                        {{^facebookUserId}}
                                            <input type="checkbox" name="postToFacebook" onclick="addFacebook(this);"/>Click to Add Facebook
                                        {{/facebookUserId}}
                                        <img align="absmiddle" src="{{urls.images}}/icon_twitter.png" height="25px"/>
                                        {{#twitterUserId}}
                                            <input type="checkbox" name="postToTwitter" checked="true"/>Share to Twitter
                                        {{/twitterUserId}}
                                        {{^twitterUserId}}
                                            <input type="checkbox" name="postToTwitter" onclick="addTwitter(this);"/>Click to Add Twitter
                                        {{/twitterUserId}}
                                    {{/echoedUser}}
                                </div>
                                <div style="text-align: center;"><img id="echoit" onclick="formSubmit();" style="cursor:pointer;" src="{{urls.images}}/btn_clicktoshare.png" /></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    function addTwitter(obj){
        obj.checked=false;
        window.location.href = "{{urls.site}}/echo/authorize?id={{echoPossibility.id}}&network=twitter&add=true";
    }
    function addFacebook(obj){
        obj.checked=false;
        window.location.href = "{{urls.site}}/echo/authorize?id={{echoPossibility.id}}&network=facebook&add=true";
    }

    function formSubmit(){
        var ta = document.getElementById("message");
        if(ta.value != ""){
            var form = document.getElementById("echo");
            //alert(ta.value);
            form.submit();
        } else {
            alert("Please leave a message telling your friends why you bought the {{#echoPossibility}}{{productName}}{{/echoPossibility}}. Get them to click through and check it out and you'll save more.");
            ta.select();
        }
    }
</script>
{{> partial_google}}
