<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script type="text/javascript">
            window.setTimeout( function(){
                var data = {};
                {{#echoedUserName}}
                    data.name = '{{this}}';
                {{/echoedUserName}}
                {{#facebookUserId}}
                    data.facebook = true;
                {{/facebookUserId}}
                {{#twitterUserId}}
                    data.twitter = true;
                {{/twitterUserId}}
                data.success = true;

                var target = "echoed-iframe";
                var host = window.opener.frames[target];
                if (window.opener) {
                    try {
                        // test if we have access to the document
                        if (window.opener.document.title) {
                            host = window.opener;
                        }
                    }
                    catch (xDomainError) {
                        // we have an opener, but it's not on our domain,
                        host = window.opener.frames[target];
                    }
                    if (host) {
                        try {
                            //host.setApp(window);

                        }
                        catch (browserHostError) {
                            alert("was unable to gain a reference to the iframe");
                        }
                    }
                }
                var dataString = JSON.stringify(data);
                alert(dataString);
                host.postMessageInterface(dataString);
                window.close();
            }, 1000);

        </script>
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-close.css"/>
    </head>
    <body>
        <div id="container">
            <div id="message">
                <img src="{{urls.images}}/logo.png" /><br/>
                <img src="{{urls.images}}/bar-loader.gif" /><br/>
                {{#network}}
                    Logging into Echoed with {{this}}
                {{/network}}
                {{^network}}
                    Error logging you into Echoed
                {{/network}}
            </div>
        </div>
    </body>
</html>
