<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
    <title>Thank you</title>
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
        <div class="poweredby">
            <img src="{{urls.images}}/img_pbe.png"/>
        </div>
        <div class="sharingvalued">
            <img src="{{urls.images}}/img_sv.png"/>
        </div>
    </div>
    <div id="content">
        <div id="thankyou">
            <span class="ty-text">You&#39;ve Shared This Product to these Social Networks:
                {{#echoFull}}
                    {{#facebookPost}}
                        <img id="facebookAccount" src="{{urls.images}}/btn_sq_clr_fb.png" alt="facebook"/>
                    {{/facebookPost}}
                    {{#twitterStatus}}
                        <img id="twitterAccount" src="{{urls.images}}/btn_sq_clr_tw.png" alt="twitter"/>
                    {{/twitterStatus}}
                {{/echoFull}}
            </span>
        </div>
        <div class="clearfix">
            <div id="right">
                <div id="right-content">
                    <div class="confirm-label">
                        WHAT DO YOU GET?
                    </div>
                    <div class="confirm-text clearfix">
                        <div style="float:left;">
                            <img src="{{urls.images}}/bk_echoedlogo.png" alt="Echoed Logo"/>
                        </div>
                        <div style="float:left;padding:10px; width: 475px;">
                            Thank you for shopping with us at {{#echoFull}}{{#retailer}}{{name}}{{/retailer}}{{/echoFull}}.<br/>
                            <br/><br/>
                            Track your rewards for the item you just shared from within your <a style="text-decoration: underline;font-weight:bold;" href="{{urls.site}}/#exhibit">Echoed Exhibit</a><br/><br/>
                            Encourage your friends to click on your shared purchase link and browse your <a style="text-decoration: underline;font-weight:bold;" href="{{urls.site}}/#exhibit">Exhibit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="left">
                <div id="left_content">
                    <div id="product">
                        <div id="product_upper" class="clearfix large">
                            <div id="product_picture_container" >
                                <img id="product_picture" src="{{#echoFull}}{{imageUrl}}{{/echoFull}}"/>
                            </div>
                            <div id="product-description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{{> google}}
