<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{{#echo}}
<html>
<head>
    <title></title>
    <meta http-equiv="Refresh" content="10;URL={{landingPageUrl}}" />
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-redirect.css"/>
    <script type="text/javascript" src="{{urls.js}}/webfonts.js"></script>
</head>
<body onload="setTimeout(function(){ window.location='{{landingPageUrl}}';}, 10000)">
    <div class="logo">
        {{#partner}}<img src="{{logo}}"/>{{/partner}}
    </div>
    <div class="coupon-container">
        <div class="product">

            <div><img src="{{imageUrl}}"/></div>
            <div><img src="{{urls.images}}/bar-loader.gif"/></div>
            <span class="product-text">Taking you to see <span class="product-name">{{productName}}</span> at {{#partner}}{{name}}{{/partner}}</span><br/>
            <span class="link"><a href="{{landingPageUrl}}">Click Here To Go Now</a></span>
        </div>
        {{#partnerSettings}}
            {{couponDescription}} when you use coupon code <span class="coupon-code">{{couponCode}}</span><br/>
        {{/partnerSettings}}
            Expires: <span class="expires">{{#couponExpiresOn}}{{this}}{{/couponExpiresOn}}</span><br/>
    </div>
</body>
</html>
{{/echo}}
