function loadJSInclude(scriptPath, callback){
    var scriptNode = document.createElement("script");
    scriptNode.type ="text/javascript";
    scriptNode.src = scriptPath;
    var head = document.getElementsByTagName('HEAD')[0];
    head.appendChild(scriptNode);
    if(callback != null) {
        scriptNode.onload = callback;
    }
}


if(typeof jQuery == 'undefined'){
    loadJSInclude('https://c779203.ssl.cf2.rackcdn.com/jquery-1.6.2.min.js', function(){
        $(function(){
            echoedPrompt();
        });
    });
} else {
    echoedPrompt();
}

function echoedPrompt(){

        {{>partial_urls}}

        jQuery.noConflict();
        (function($){
            $.ajax({
                url:Echoed.urls.api + "/echo/request",
                dataType:'jsonp',
                data:{
                    "pid":"{{pid}}",
                    "data":echoData,
                    "view":"{{view}}"
                },
                success:function (data) {
                }
            });
        })(jQuery);
}