<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
    <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
    <title>Thank you</title>
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
        <div class="retailer-logo">
            {{#echoFull}}
            <img src="{{#retailer}}{{logo}}{{/retailer}}"/>
            {{/echoFull}}
        </div>
    </div>
    <div id="content">
        <div id="thankyou">
            <span class="ty-text">Successfully Echoed! You Shared To:
                {{#echoFull}}
                    {{#facebookPost}}
                        <img id="facebookAccount" src="{{urls.images}}/btn_sq_clr_fb.png" alt="facebook"/>
                    {{/facebookPost}}
                    {{#twitterStatus}}
                        <img id="twitterAccount" src="{{urls.images}}/btn_sq_clr_tw.png" alt="twitter"/>
                    {{/twitterStatus}}
                {{/echoFull}}
            </span>
        </div>
        <div class="clearfix">
            <div id="left">
                <div id="left_content">
                    <div id="product">
                        <div id="product_upper" class="clearfix large">
                            <div id="product_picture_container" >
                                <img id="product_picture" src="{{#echoFull}}{{#echo}}{{imageUrl}}{{/echo}}{{/echoFull}}"/>
                            </div>
                            <div id="product-description">
                                {{#echoFull}}{{#echo}}
                                <strong>{{brand}}</strong><br/>
                                {{productName}}
                                {{/echo}}{{/echoFull}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="right-content">
                    <div class="confirm-label">
                        TRACK YOUR REWARDS IN THE ECHOED EXHIBIT
                    </div>
                    <div class="confirm-text" style="margin-top: 20px;">
                        Head over to your <strong>Exhibit</strong>, where you can track the cash back you&#39;re earning. Visit your Exhibit any time or explore cool products your friends are sharing at <strong>Echoed.com</strong>.
                    </div>
                    <div style="text-align:center;margin-top: 20px;">
                        <a href="{{urls.site}}/#exhibit" target="_blank"><img id="echoedExhibit" src="{{urls.images}}/btn_toexhibit.png"</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{{> google}}
