<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css" />
    <script type='text/javascript' src="{{urls.js}}/webfonts.js"></script>
    <title>Thank you</title>
</head>
<body>
<div id="container" class="grey">
    <div id="header">
        <img src="{{urls.images}}/logo.png"/>
    </div>
    <div id="user-details">
        <div class="email-notification">
            Enter an Email Address where we can notify you about the rewards you have earned.
        </div>
        <form name="details" method="post" action="{{urls.site}}/echo/register?id={{id}}{{#close}}&close={{this}}{{/close}}">

            <div class="form-row">
                <input id="email" name="email" type="text" placeholder="Email Address" value="{{echoRegisterForm.email}}" />
            </div>
            {{#errors.echoRegisterForm.email}}
            <div class="form-row">
                <span class="form-error">{{this}}</span>
            </div>
            {{/errors.echoRegisterForm.email}}
            {{#error_email}}
            <div class="form-row">
                <span class="form-error">{{this}}</span>
            </div>
            {{/error_email}}
            <div class="form-row">
                <input name="submit" type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
{{> partial_google}}
