{{<email_super}}
{{$title}}Please verify your email{{/title}}
{{$content}}
    <p>{{echoedUser.name}}</p>
    <div>
        Thank you for visiting Echoed.com!  Please click <a href="{{urls.site}}/login/verify/{{code}}?id={{echoedUser.id}}">here</a>
        or copy the url below into your browser to verify email.
        <p>
            <a href="{{urls.site}}/login/verify/{{code}}?id={{echoedUser.id}}">{{urls.site}}/login/verify/{{code}}?id={{echoedUser.id}}</a>
        </p>
    </div>
{{/content}}
{{/email_super}}
