{{<email_super}}
{{$title}}You have new comments on your stories!{{/title}}
{{$content}}
    <p>
    {{name}},
    </p>
    You have new comments on your stories!
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-height: 250px;">
        {{#notifications}}
        <tr>
            <td style="padding: 10px 10px 10px 40px; color: #111; font-size: 12px;">
                {{#value}}
                <p><strong>{{subject}}</strong> {{action}} <strong>{{object}}</strong></p>
                <a href="{{urls.site}}/#story/{{storyId}}" style="font-weight:bold; color: #4099ff;">
                    See Comment
                </a>
                {{/value}}
            </td>
        </tr>
        {{/notifications}}
    </table>
{{/content}}
{{/email_super}}