<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-email.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900">
</head>
<body>
    <div class="echoed-container">
        <div class="echoed-email">
            <div class="echoed-email-header">
                <div class="echoed-email-header-subject">Re: Subject</div>
                <div class="echoed-email-header-date">Monday, May 21 2012</div>
            </div>
            <div class="echoed-email-body">
                <div class="echoed-email-body-title">Successfully Echoed</div>
                <div class="echoed-email-body-content">
                    Thank you for  sharing the Red Apple Slap Bracelet Watch with your social network.   Now, you have 7 days  left to save up to $8.00 on this purchase!
                    When your friends comment or "like" your shared link on Facebook, or Re-Tweet on Twitter, more people will check out your purchase and your rewards will grow faster.  You can follow your savings in real-time through your exhibit over at Echoed.com or from the exhibit link in your post on Facebook.
                    We'll send you a reminder in a 7 days and let you know how much you've earned.  In the meanwhile, encourage your friends to click your shared link!
                </div>
            </div>
            <div class="echoed-email-footer">
                <div class="echoed-logo"><img src="{{urls.images}}/logo.png"/></div>
            </div>
        </div>
        <div class="echoed-footer">
            <p>Copyright Echoed Inc 2012</p>
            <p>You received this email because you are registered on Echoed with the email address: . We respect your privacy. If you believe this has been sent to you in error, please unsubscribe.</p>
        </div>
    </div>
</body>
</html>