<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#4C4C4C;padding:40px;font-family: Arial, sans-serif;font-size: 12px;">
    <tr>
        <td align="center">
            <table width="660px" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px;" >
                <tr>
                    <td style="background-color: #FFF; border-radius: 5px; font-size: 12px;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td style="height:60px; padding: 10px; font-size: 24px;">
                                    {{$title}}{{/title}}
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #ECECEC; border-top: 2px solid #000; border-bottom: 2px solid #000; font-size: 12px; padding: 5px;">
                                    {{$content}}{{/content}}
                                </td>
                            </tr>
                            <tr>
                                <td style="height:50px; padding: 10px;">
                                    <img src="{{urls.images}}/logo.png"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="color: #FFF; padding: 10px; text-align:right;">
                        <p>Copyright Echoed Inc 2012</p>
                        <p>You received this email because you are registered on Echoed with the email address: . <br/>
                            We respect your privacy. If you believe this has been sent to you in error, please unsubscribe.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>