<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Error</title>
<script type="text/javascript">
    var error = new Array();//{{#errors}}
    errors.push("{{this}}");
    /*{{/errors}} // */
</script>
<link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed.css"/>
</head>
<body>
<div id="container">
    <div id="header">
        <div id="logo">
            <img src="{{urls.images}}/logo.png"/>
        </div>
    </div>
    <div id="content">
        <div class="center">
            <div style="text-align:center; margin:50px 0px;">
                <img src="{{urls.images}}/logo-180.png"/>
            </div>
            <div style="width:600px; margin:auto;">
                <div style="font-size:28px;">An Error has occurred...</div>
                <div>{{error}}</div>
                <div style="margin-top: 20px;">
                    <ul>
                        <li>Return to the <a class="orange" href="/">Home page</a></li>
                        <li>Need some help? Feel free to <a class="orange" href="contactus.html">contact us</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
{{> partial_google}}
