<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head prefix="og: http://ogp.me/ns# {{facebookAppNameSpace}}:
                  http://ogp.me/ns/apps/{{facebookAppNameSpace}}#">
    {{#storyFull}}

    <title>{{ title }}</title>
    <meta property="fb:app_id" content="{{facebookClientId}}" />
    <meta property="og:type" content="{{facebookAppNameSpace}}:story" />
    {{#chapters}}
    <meta property="og:description" content="{{text}}" />
    <meta property="{{facebookAppNameSpace}}:chapters" content="{{title}}"/>
    {{/chapters}}
    {{#story}}
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{urls.site}}/graph/story/{{id}}">
    {{#image}}
    <meta property="og:image" content="{{preferredUrl}}" />
    {{/image}}
    {{#chapterImages}}
    {{#image}}
        <meta property="og:image" content="{{preferredUrl}}" />
    {{/image}}
    {{/chapterImages}}
    {{#echoedUser}}
    <meta property="{{facebookAppNameSpace}}:author" content="{{name}}" />
    {{/echoedUser}}
    {{/story}}

</head>
<body>
<script type="text/javascript">
    window.location = "{{urls.site}}/redirect/partner/{{story.partnerId}}?id={{id}}";
</script>
</body>
</html>
{{/storyFull}}