<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type='text/javascript' src="{{urls.js}}/jquery-1.6.2.min.js?v={{version}}"></script>
    <script type='text/javascript' src="{{urls.js}}/json2.js?v={{version}}"></script>
    <script type='text/javascript' src="{{urls.js}}/underscore-min.js?v={{version}}"></script>
    <script type='text/javascript' src="{{urls.js}}/backbone-0.9.1-min.js?v={{version}}"></script>
    <script type='text/javascript' src="{{urls.js}}/jquery.fullbleed.js?v={{version}}"></script>
    <script type='text/javascript' src="{{urls.js}}/jquery.imagesloaded.js?v={{version}}"></script>
    <script type='text/javascript' src="{{urls.js}}/jquery.isotope.min.js?v={{version}}"></script>
    <script type='text/javascript' src='{{urls.js}}/highcharts.js?v={{version}}'></script>
    <script type="text/javascript" src="{{urls.js}}/highcharts.theme.js?v={{version}}"></script>
    <script type='text/javascript' src="{{urls.js}}/echoed.js?v={{version}}"></script>

    <script type="text/javascript">
        Echoed.errors = {};
        Echoed.errors.global = new Array(); //{{#errors.global}}
        Echoed.errors.global.push("{{this}}");
        /*{{/errors.global}} // */
        //{{#errors.fieldErrors}}
        Echoed.errors["{{object}}"] = {}
        //{{/errors.fieldErrors}}
        //{{#errors.fieldErrors}}
        Echoed.errors["{{object}}"]["{{field}}"] = "{{message}}"
        //{{/errors.fieldErrors}}


        Echoed.urls = {}; //{{#urls}}
        Echoed.urls.api = "{{api}}";
        Echoed.urls.cdn = "{{cdn}}";
        Echoed.urls.js = "{{js}}";
        Echoed.urls.css = "{{css}}";
        Echoed.urls.images = "{{images}}";
        Echoed.urls.views = "{{views}}";
        Echoed.urls.site = "{{site}}";
        /*{{/urls}} // */
    </script>
