<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Echoed | How it Works</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css?v={{version}}" />
</head>
<body>
<div id="container" class="grey">
    <div class="header-container">
        {{> staticNavBar }}
        <div style="height:40px;"></div>
    </div>
    <section class="wie">
        <div class="center">
            <div class="title">
                <img src="{{urls.images}}/hiw-title1.png"/>
            </div>
            <div class="box-container clearfix">
                <div class="box clouds">
                    <div class="box-title">
                        <span class="red">Share</span> Your Purchase
                    </div>
                    <div class="box-text">
                        Echoed makes it simple to get rewarded for sharing items that you&#39;ve purchased across your social networks. <strong>As friends click-through your shared item, the reward that you&#39;ll earn increases.</strong>
                    </div>
                </div>
                <div class="gap">
                    <img src="{{urls.images}}/sharearrow.png"/>
                </div>
                <div class="box piggy">
                    <div class="box-title">
                        <span class="red">Save</span> On Your Purchase
                    </div>
                    <div class="box-text">
                        x`After 7 days, you'll receive a credit from the retailer based on the level of social activity around the item you&#39;ve bought and shared. <strong>Your reward will automatically be credited back to your original form of payment. It&#39;s really that easy.</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hiw-reflect short">
    </section>
    <section class="hiw-subtitle">
        <div class="center bb">
            <div class="subtitle">
                It takes one-click the of the <img height="30px" src="{{urls.images}}/share.png"/> button on the confirmation page of your purchase to get started.
            </div>
            <div class="emb_logo">
                <img src="{{urls.images}}/bk_logopressd.png"/>
            </div>
        </div>
    </section>
    <section class="clearfix grey">
        <div class="center">
            <div id="footer-nav">
                <a href="howitworks.html">How It Works</a>
                <a href="contactus.html">Contact Us</a>
                <div class="sv" style="float:right">
                    Sharing. <span class="primary-text">Valued.</span>
                </div>
                Copyright 2012 - Echoed Inc.
            </div>
        </div>
    </section>
</div>
</body>
</html>
{{> google}}
