    {{> header }}
    <title>Echoed | How it Works</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css?v={{version}}" />

</head>
<body>
<div id="container">
    {{> staticNavBar }}
    <div id="primary">
        <div class="center">
            <section class="section clearfix">
                <div id="masthead" class="hiw">
                    <div class="masthead-content black">
                        <div class="masthead-title">ECHOED <span class="primary-text">+</span> YOU</div>
                        <div class="masthead-text">Earn rewards at participating retailers when you share purchases with your social networks.
                        </div>
                    </div>
                </div>
            </section>
            <section class=" section clearfix">
                <div class="quarter">
                    <div class="secondary-title text-blue1">Share Purchases</div>
                    <div class="secondary-text">Click on the <strong>Echo It</strong> button to share the item you&#39;ve just purchased. You can share it in your own personal product gallery or on your social networks.</div>
                </div>
                <div class="quarter">
                    <div class="secondary-title text-yellow">Spread Word</div>
                    <div class="secondary-text">Echoed will track how many of your friends check out your shared product. As more of your friends click through to the item you shared, the reward you will receive increases.</div>
                </div>
                <div class="quarter">
                    <div class="secondary-title text-green1">Receive Rewards</div>
                    <div class="secondary-text">After 7 days, you&#39;ll receive a credit from the retailer based on the level of social activity (Clicks accumulated, Comments, Likes, Tweets, Re-Tweets, purchases) for the item you bought and shared. Your reward will automatically be credited back to your original form of payment.</div>
                </div>
                <div class="quarter">
                    <div class="secondary-title text-magenta">Explore Products</div>
                    <div class="secondary-text">The <strong>Echoed Exhibit</strong> makes it fun to discover what you and your friends have been buying/sharing. Think of your Exhibit as a beautiful gallery that represents your unique style.</div>
                </div>
            </section>
            <section class="section clearfix">
                <div id="sv">
                    Sharing. <span class="primary-text">Valued.</span>
                </div>
                <div id="footer-nav">
                    <a href="{{urls.site}}/howitworks.html">How It Works</a>
                    <a href="{{urls.site}}/contactus.html">Contact Us</a>
                    <div class="copyright">
                        Copyright 2012 - Echoed Inc.
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>
{{> google}}
