        {{> partial_header_public }}
    <title>Echoed</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css" />
</head>

<body class="nooverflow">
    <div id="container">
        {{> partial_staticNavBar }}
        <div id="content">
        </div>
        <div id="lm">
            <div id="lm-top" class="clearfix">
                <div id="lm-top-left">
                    <img src="{{urls.images}}/logo_btn_home.png"  />
                </div>
                <div id="lm-top-right">
                    <div id="lm-top-text">
                        <span class="lm-text-large">Discover products shared by people who have actually purchased them.<br/><br/></span>
                        <span class="lm-text">Buy a product from one of our partners, share it with friends on Facebook and Twitter and receive cash back. Echoed makes spreading your love for great products worth it!</span>
                    </div>
                </div>
            </div>
            <div id="lm-bottom" class="clearfix">
                <div id="lm-bottom-text">
                    <div id="lm-bottom-left">
                        Want To See More? Already A Member?
                    </div>
                    <div id="lm-bottom-right">
                        <div class="login">
                            <a id="facebookLogin" href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{https.site}}/facebook/login&scope=email,user_birthday,publish_actions">
                                <img class="login-button" src="{{urls.images}}/btn_facebook_login.png">
                            </a>

                            <a id="twitterLogin" href="{{urls.site}}/twitter?redirect=">
                                <img class="login-button" src="{{urls.images}}/btn_twitter_login.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gap"></div>
    </div>
    <div id="footer" class="float">
        {{ > partial_footerNav }}
    </div>
</body>
</html>
<script type="text/template" id="templates-components-product">
    <div class="overlay-white"></div>
    <div class="item_hover" style="display:none;">
        <div class="item_hover_wrap">
        </div>
    </div>
    <img class="exhibit_image" width="230px" src=""/>
    <div class="item_text">
    </div>
    <div class="product-tooltip"></div>
</script>
<script type="text/templates" id="templates-components-tooltip">

</script>
<script type="text/templates" id="templates-pages-exhibit">
    <div id="exhibit">

    </div>
</script>
<script type="text/javascript">
    $(document).ready(function() {
        var pageView = new Echoed.Views.Pages.Exhibit({EvAg: EventAggregator, Type: "explore"});
    });
</script>
    <script>
        $.Isotope.prototype._getCenteredMasonryColumns = function() {
            this.width = this.element.width();

            var parentWidth = this.element.parent().width();

            // i.e. options.masonry && options.masonry.columnWidth
            var colW = this.options.masonry && this.options.masonry.columnWidth ||
                // or use the size of the first item
                    this.$filteredAtoms.outerWidth(true) ||
                // if there's no items, use size of container
                    parentWidth;

            var cols = Math.floor( parentWidth / colW );
            cols = Math.max( cols, 1 );

            // i.e. this.masonry.cols = ....
            this.masonry.cols = cols;
            // i.e. this.masonry.columnWidth = ...
            this.masonry.columnWidth = colW;
        };

        $.Isotope.prototype._masonryReset = function() {
            // layout-specific props
            this.masonry = {};
            // FIXME shouldn't have to call this again
            this._getCenteredMasonryColumns();
            var i = this.masonry.cols;
            this.masonry.colYs = [];
            while (i--) {
                this.masonry.colYs.push( 0 );
            }
        };

        $.Isotope.prototype._masonryResizeChanged = function() {
            var prevColCount = this.masonry.cols;
            // get updated colCount
            this._getCenteredMasonryColumns();
            return ( this.masonry.cols !== prevColCount );
        };

        $.Isotope.prototype._masonryGetContainerSize = function() {
            var unusedCols = 0,
                    i = this.masonry.cols;
            // count unused columns
            while ( --i ) {
                if ( this.masonry.colYs[i] !== 0 ) {
                    break;
                }
                unusedCols++;
            }

            return {
                height : Math.max.apply( Math, this.masonry.colYs ),
                // fit container to columns that have been used;
                width : (this.masonry.cols - unusedCols) * this.masonry.columnWidth
            };
        };

    </script>
{{> partial_google}}
