
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Integration.html</title>
    <style type="text/css" media="screen"><!--
    tbody, thead, tfoot, tr, td, th {
        border-style : inherit;
        border-width : inherit;
        border-color : inherit;
    }
    td {
    }
    .leftFloat {
        float : left;
    }
    .rightFloat {
        float : right;
    }
    span.char-style-override-1 {
        font-family : "Trade Gothic LT Std Cn", sans-serif;
        font-size : 1.17em;
        font-stretch : condensed;
        font-style : normal;
        font-weight : bold;
    }
    span.char-style-override-2 {
        font-family : "Trade Gothic LT Std", sans-serif;
        font-style : normal;
        font-weight : normal;
    }
    span.char-style-override-3 {
        color : #f50002;
        font-family : "Trade Gothic LT Std", sans-serif;
        font-style : normal;
        font-weight : normal;
    }
    span.char-style-override-4 {
        font-family : "Trade Gothic LT Std Bold", sans-serif;
        font-stretch : semi-condensed;
        font-style : normal;
        font-weight : bold;
    }
    span.char-style-override-5 {
        color : #f50002;
        font-family : "Trade Gothic LT Std Bold", sans-serif;
        font-stretch : semi-condensed;
        font-style : normal;
        font-weight : bold;
    }
    span.char-style-override-6 {
        color : #000000;
        font-family : "Trade Gothic LT Std", sans-serif;
        font-style : normal;
        font-weight : normal;
    }
    span.char-style-override-7 {
        font-family : "Trade Gothic LT Std Bold", sans-serif;
        font-size : 1.17em;
        font-stretch : semi-condensed;
        font-style : normal;
        font-weight : bold;
    }
    span.char-style-override-8 {
        color : #d90000;
        font-family : "Trade Gothic LT Std Bold", sans-serif;
        font-stretch : semi-condensed;
        font-style : normal;
        font-weight : bold;
    }
    span.char-style-override-9 {
        font-family : "Trade Gothic LT Std", sans-serif;
        font-size : 0.83em;
        font-style : normal;
        font-weight : normal;
    }
    span.char-style-override-10 {
        color : #f50002;
        font-family : "Trade Gothic LT Std", sans-serif;
        font-size : 0.83em;
        font-style : normal;
        font-weight : normal;
    }
    p.Basic-Paragraph, li.Basic-Paragraph {
        font-family : "Minion Pro", serif;
        font-weight : normal;
        font-style : normal;
        font-size : 1em;
        text-decoration : none;
        font-variant : normal;
        line-height : 1.2;
        text-align : left;
        color : #000000;
        text-indent : 0px;
        margin : 0px;
    }
    p.para-style-override-1 {
        text-align : center;
    }
    table.Basic-Table {
        border-collapse : collapse;
        border-width : 1px;
        border-style : solid;
        border-color : #000000;
        margin-top : 4px;
        margin-bottom : -4px;
    }
    div.Basic-Text-Frame {
    }
    --></style>
</head>
<body>
<div id="Integration.html" xml:lang="en-US">
<div class="Basic-Text-Frame">
    <p class="Basic-Paragraph"><span class="char-style-override-1">Retailer Specific Settings</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Retailer ID: </span><span class="char-style-override-2">8727f8d6-566b-11e1-a45b-4040d4afcf5f</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-2">This is the id used to identify your retailer api calls to the system.</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-1">Domains</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Production: </span><span class="char-style-override-3">http://www.echoed.com/</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Test Environment: </span><span class="char-style-override-3">http://demo.echoed.com/</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-1">Integration</span></p>
    <p class="Basic-Paragraph"/>
    <ol>
        <li class="Basic-Paragraph"><span class="char-style-override-2">Integration with Echoed requires the confirmation page to request the ‘Share’ button via the Echoed API. (Refer to “Echo Button Request Parameters below”) A button should be requested for each product on the confirmation page.</span></li>
        <li class="Basic-Paragraph"><span class="char-style-override-2">Each painted button should open a window via javascript to the corresponding Echoed API echo call (Refer to ‘Echo Confirmation URI Parameters’). The javascript should be formatted as follows:</span><span class="char-style-override-4"> </span><span class="char-style-override-5">window.open(&lt;echoUrl&gt;,’Echoed’,’width=960,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=0,resizable=0,left=0,top=0’);</span><span class="char-style-override-6"> </span></li>
        <li class="Basic-Paragraph"><span class="char-style-override-6">Lightbox / Popup integration for the confirmation screen. This will cause a overlay to appear advertising the Echoed platform to the user upon check out. (Refer to “Echo Lightbox Integration”)</span></li>
        <li class="Basic-Paragraph"/>
        <li class="Basic-Paragraph"/>
    </ol>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"/>
</div>
<div class="Basic-Text-Frame">
    <p class="Basic-Paragraph"><span class="char-style-override-7">Echo Button Request Parameters</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Production Url: </span><span class="char-style-override-8">http://www.echoed.com/echo/button</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Test Environment URL : </span><span class="char-style-override-5">http://demo.echoed.com/echo/button</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">URL Parameters:</span></p>
    <p class="Basic-Paragraph"/>
    <table id="table-1" class="Basic-Table">
        <thead>
        <tr>
            <td>
                <p class="Basic-Paragraph para-style-override-1"><span class="char-style-override-2">Parameter</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph para-style-override-1"><span class="char-style-override-2">Type</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph para-style-override-1"><span class="char-style-override-2">Description</span></p>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">retailerId</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Unique Id provided by Echoed</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">customerId</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Unique Customer Id used for your system. Used to match it back to your system.</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">productId</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Unique Product Identification for the client’s system (SKU)</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">boughtOn</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Date</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Date of purchase</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">orderId</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Order # of associated product</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">price</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Float</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Price of product</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">imageUrl</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">URL for the image used for the product</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">landingPageUrl</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Desired URL that click throughs should direct users to. Ideally the product page for the item bought.</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">productName</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Name of the Product</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">category</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Product Category.</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">brand</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Brand of the product.</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">description</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Description of the product purchased</span></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="Basic-Text-Frame">
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-5">Note: All parameter values should be URI Encoded.</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Echo Popup URIParameter Sample:</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-9">http://www.echoed.com/echo/button?retailerId=</span><span class="char-style-override-9">8727f8d6-566b-11e1-a45b-4040d4afcf5f</span><span class="char-style-override-9">&amp;customerId=1134&amp;productId=78736852&amp;orderId=1134&amp;imageUrl=http%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0094%2F3522%2Fproducts%2F3q_medium.jpeg%3F1096&amp;landingPageUrl=http%3A%2F%2Fechoed-demo-store.myshopify.com%2Fproducts%2Fkodak-digital-camera&amp;boughtOn=2012%20Jan%2022&amp;price=250.00	&amp;productName=Kodak%20Digital%20Camera&amp;category=Electronics&amp;brand=Kodak</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"/>
</div>
<div class="Basic-Text-Frame">
    <p class="Basic-Paragraph"><span class="char-style-override-7">Echo Confirmation Url Parameters</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Base Url: </span><span class="char-style-override-5">http://www.echoed.com/echo</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Test Environment</span><span class="char-style-override-4"> URL: </span><span class="char-style-override-5">http://demo.echoed.com/echo</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">URI Parameters:</span></p>
    <p class="Basic-Paragraph"/>
    <table id="table-2" class="Basic-Table">
        <thead>
        <tr>
            <td>
                <p class="Basic-Paragraph para-style-override-1"><span class="char-style-override-2">Parameter</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph para-style-override-1"><span class="char-style-override-2">Type</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph para-style-override-1"><span class="char-style-override-2">Description</span></p>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">retailerId</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Unique Id provided by Echoed</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">customerId</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Unique Customer Id used for your system. Used to match it back to your system.</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">productId</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Unique Product Identification for the client’s system (SKU)</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">boughtOn</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Date</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Date of purchase</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">orderId</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Order # of associated product</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">price</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Float</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Price of product</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">imageUrl</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">URL for the image used for the product</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">landingPageUrl</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Desired URL that click throughs should direct users to. Ideally the product page for the item bought.</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">productName</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Name of the Product</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">category</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Product Category.</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">brand</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Brand of the product.</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">description</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">String</span></p>
            </td>
            <td>
                <p class="Basic-Paragraph"><span class="char-style-override-2">Description of the product purchased</span></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="Basic-Text-Frame">
    <p class="Basic-Paragraph"><span class="char-style-override-2">This page should be opened up as a new window. In the sample shopify store this is done via javascript to open up a window with default dimensions of WIDTH: 960px and HEIGHT: 500px. No toolbar, no menubar etc. </span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">The javascript looks as follows:</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-5">window.open(&lt;echoURL&gt;,’Echoed’,’width=960,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=0,resizable=0,left=0,top=0’);</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Echo Popup URIParameter Sample:</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-9">http://www.echoed.com/echo?retailerId=</span><span class="char-style-override-9">8727f8d6-566b-11e1-a45b-4040d4afcf5f</span><span class="char-style-override-9">&amp;customerId=1134&amp;productId=78736852&amp;orderId=1134&amp;imageUrl=http%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0094%2F3522%2Fproducts%2F3q_medium.jpeg%3F1096&amp;landingPageUrl=http%3A%2F%2Fechoed-demo-store.myshopify.com%2Fproducts%2Fkodak-digital-camera&amp;boughtOn=2012%20Jan%2022&amp;price=250.00&amp;productName=Kodak%20Digital%20Camera&amp;category=Electronics&amp;brand=Kodak</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"/>
</div>
<div class="Basic-Text-Frame">
    <p class="Basic-Paragraph"><span class="char-style-override-7">Echo Lightbox Integration</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">Append the following HTML markup to the bottom of the confirmation page. If the jquery library is already used in the page, it should not be included again.</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-2">HTML Markup:</span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"><span class="char-style-override-9">&lt;link rel=”stylesheet” type=”text/css” href=”http://v1-cdn.echoed.com/echoed-lightbox.css”/&gt;</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-9">&lt;div id=”echoed-popup”&gt;&lt;img src=”http://v1-cdn.echoed.com/images/</span><span class="char-style-override-9">8727f8d6-566b-11e1-a45b-4040d4afcf5f</span><span class="char-style-override-9">.jpg”/&gt;&lt;/div&gt;</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-10">&lt;script type=”text/javascript” src=”http://v1-cdn.echoed.com/js/jquery-1.6.2.min.js”&gt;&lt;/script&gt;</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-9">&lt;script type=”text/javascript” src=”http://v1-cdn.echoed.com/js/jquery.echoed.lb.js”&gt;&lt;/script&gt;</span></p>
    <p class="Basic-Paragraph"><span class="char-style-override-9">&lt;script type=”text/javascript” src=”http://v1-cdn.echoed.com/js/shopify-echoed.js”&gt;&lt;/script&gt; </span></p>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"/>
    <p class="Basic-Paragraph"/>
</div>
</div>
</body>
</html>
