    {{> header}}
    <title>Echoed | Partner Login</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css?v={{version}}"/>
</head>
<body class="nooverflow">
<img id="mainImage" src="{{urls.images}}/bleed-couch.jpg" style="display:none;"/>
<div id="container">
    {{> staticNavBarWide }}
    <div id="primary">
        <div class="center clearfix">
            <div id="lm">
                <div id="lm-top" class="clearfix">
                    <div id="lm-label">Partner Login</div>
                    <div id="lm-partner-form">
                        {{#error}}<div id="lm-error">Error: {{message}}</div> {{/error}}
                        <form action="{{urls.site}}/partner/login" method="POST">
                            <label for="email">Email:</label>
                            <input id="email" name="email" type="text" />
                            <label for="password">Password:</label>
                            <input id="password" name="password" type="password" />
                            <input id="login" name="login" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gap"></div>
    <div id="footer" class="float">
        <div class="center clearfix">
            <div id="footer-nav">
                <a href="{{urls.site}}/howitworks">How It Works</a>
                <a href="{{urls.site}}/contactus">Contact Us</a>
                <div class="copyright" style="float:right;line-height:45px;">
                    Copyright 2012 - Echoed Inc.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
        $('#mainImage').imagesLoaded(function(){
            var fullBleed = new FullBleed();
        });
    });
</script>
{{> google}}
