{{<public_super}}
    {{$title}}Echoed | Login Reset{{/title}}
    {{$jsHead}}
        {{#scriptTag}}static.js{{/scriptTag}}
    {{/jsHead}}
    {{$public_content}}
    <div id="content-wide">
        <div id="register-form" class="login-form">
            <div class="login-form-title">Login Reset</div>
            {{#errors}}{{#global}}<div id="lm-error">Error: {{.}}</div>{{/global}}{{/errors}}
            <form action="{{urls.site}}/login/reset{{#redirect}}?r={{.}}{{/redirect}}" method="POST">
                <div class="login-form-row">
                    <input class="placeholder-input" id="email" name="email" type="text" value="{{loginResetForm.email}}"/>
                    <label class="placeholder-text">Email Address</label>
                    <span class="placeholder-white"></span>
                </div>
                {{#errors.loginResetForm.email}}
                <div>
                    <label class="error"  for="email">{{.}}</label>
                </div>
                {{/errors.loginResetForm.email}}
                <input id="reset" name="reset" type="submit" value="Reset">
            </form>
        </div>
    </div>
    {{/public_content}}
{{/public_super}}
