{{<public_super}}
    {{$title}}Echoed | Register{{/title}}
    {{$public_content}}
    <div id="content-wide">
        <div id="register-form" class="login-form">
            <div class="login-form-title">
                {{#eucc}} Welcome to Echoed! <br/>We need just a little bit more info... {{/eucc}}
                {{^eucc}} Create Your Account {{/eucc}}
            </div>
            {{#errors}}{{#global}}<div id="lm-error">Error: {{.}}</div>{{/global}}{{/errors}}
            <form action="{{urls.site}}/login/register{{#redirect}}?r={{.}}{{/redirect}}" method="POST">
                <div class="login-form-row">
                    <label>Name</label>
                    <input placeholder="Name" id="name" name="name" type="text" value="{{loginRegisterForm.name}}"/>
                    {{#errors.loginRegisterForm.name}}
                    <label class="error" for="name">{{.}}</label>
                    {{/errors.loginRegisterForm.name}}
                </div>
                <div class="login-form-row">
                    <label>Screenname</label>
                    <input placeholder="Screen Name" id="screenName" name="screenName" type="text" value="{{loginRegisterForm.screenName}}"/>
                    {{#errors.loginRegisterForm.screenName}}
                    <label class="error" for="screenName">{{.}}</label>
                    {{/errors.loginRegisterForm.screenName}}
                </div>
                <div class="login-form-row">
                    <label>Email Address</label>
                    <input placeholder="Email Address" id="email" name="email" type="text" value="{{loginRegisterForm.email}}"/>
                    {{#errors.loginRegisterForm.email}}
                    <label class="error"  for="email">{{.}}</label>
                    {{/errors.loginRegisterForm.email}}
                </div>
                {{#password}}
                    <input type="hidden" id="password" name="password" value="{{.}}" />
                {{/password}}
                {{^password}}
                    <div class="login-form-row">
                        <label>Password (Must be at least 6 characters long)</label>
                        <input placeholder="Password" id="password" name="password" type="password" />
                        {{#errors.loginRegisterForm.password}}
                        <label class="error" for="password">{{.}}</label>
                        {{/errors.loginRegisterForm.password}}
                    </div>
                {{/password}}
                <input id="login" name="register" type="submit" value="Submit">
            </form>
        </div>
    </div>
    {{/public_content}}
{{/public_super}}

