    {{> partial_header}}
    <title>Echoed | Partner Login</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css?v={{version}}"/>
</head>
<body class="nooverflow">
<div id="container">
    {{> partial_staticNavBar }}
    <div id="lm">
        <div id="lm-top" class="clearfix">
            <div id="lm-label">Partner Login</div>
            <div id="lm-partner-form">
                {{#error}}<div id="lm-error">Error: {{message}}</div> {{/error}}
                <form action="{{urls.site}}/partner/login" method="POST">
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="text" />
                    <label for="password">Password:</label>
                    <input id="password" name="password" type="password" />
                    <input id="login" name="login" type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="float">
    {{ > partial_footerNav }}
</div>
</body>
</html>

{{> partial_google}}
