{{<public_super}}
    {{$title}}Echoed | Login{{/title}}
    {{$public_content}}
    <div id="content-wide">
        <div id="register-form" class="login-form">
            <div class="login-form-title">Login</div>
            {{#errors}}{{#global}}<div id="lm-error">Error: {{.}}</div>{{/global}}{{/errors}}
            <form action="{{urls.site}}/login{{#redirect}}?r={{.}}{{/redirect}}" method="POST">
                <div class="login-form-row">
                    <label>Email Address</label>
                    <input placeholder="Email Address" id="email" name="email" type="text" value="{{loginRegisterForm.email}}" />
                    {{#errors.loginRegisterForm.email}}
                    <label for="email">{{.}}</label>
                    {{/errors.loginRegisterForm.email}}
                </div>
                <div class="login-form-row">
                    <label>Password</label>
                    <input placeholder="Password" id="password" name="password" type="password" />
                    {{#errors.loginRegisterForm.password}}
                    <label for="password">{{.}}</label>
                    {{/errors.loginRegisterForm.password}}
                </div>
                <input id="login" name="login" type="submit" value="Login">
            </form>
        </div>
    </div>
    {{/public_content}}
{{/public_super}}
