{{<public_super}}
    {{$title}}Echoed | Password Reset{{/title}}
    {{$content}}
    <div id="content">
        <div id="lm-partner-form" class="roundbox form">
            <label>Password Reset</label>
            {{#error}}<div id="lm-error">Error: {{message}}</div> {{/error}}
            <form action="{{urls.site}}/login/reset/password" method="POST">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" />
                <input id="login" name="login" type="submit">
            </form>
        </div>
    </div>
    {{/content}}
    {{$olark}}{{/olark}}
{{/public_super}}
