<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Attempted registration of MagentoGo partner</title>
</head>
<body>
<div>
    <p>
        {{name}} has attempted to register their MagentoGo store, <a href="{{storeUrl}}">{{businessName}}</a>
        with Echoed.  However, Echoed could not connect
        to their API using path {{apiPath}}, user {{apiUser}}, token {{apiToken}}
        which probably means that they need help enabling API access in their store.
        Please contact {{name}} at <strong>{{phone}}</strong> or <strong>{{email}}</strong> to assist them
        in enabling API access in their store.
    </p>
</div>
</body>
</html>
