<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration of Network Solutions partner</title>
</head>
<body>
<div>
    <p>
        {{name}} has registered their Network Solutions store with Echoed.  You should receive another email upon
        Echoed being authorized to access their store api.  If you do not receive this email, please contact
        {{name}} at <strong>{{phone}}</strong> or <strong>{{email}}</strong> to find out why they did not complete
        the authorization process.
    </p>
</div>
</body>
</html>
