    {{> partial_header}}
    <title>Echoed | Network Solutions Partner Register</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css"/>
</head>
<body>
<img id="mainImage" src="{{urls.images}}/bleed-couch.jpg" style="display:none;"/>
<div id="container">
    {{> partial_staticNavBar }}
    <div id="primary">
        <div class="center clearfix">
            <div id="lm">
                <div id="lm-top" class="clearfix">
                    <div id="lm-label">Network Solutions Partner Register</div>
                    <div id="lm-partner-form">
                        <div id="lm-error">
                        {{#errors.global}}{{this}}{{/errors.global}}
                        </div>
                        <form action="{{urls.site}}/networksolutions" method="POST">
                            <fieldset>
                                <legend>User Info</legend>
                                <label  for="registerForm.name">Name<em> * </em><span class="error">{{errors.registerForm.name}}</span></label>
                                <input  id="registerForm.name"
                                        name="registerForm.name"
                                        type="text"
                                        placeholder="What is name of the primary contact at the partner?"
                                        value="{{registerForm.name}}" />
                                <label  for="registerForm.email">Email<em> * </em><span class="error">{{errors.registerForm.email}}</span></label>
                                <input  id="registerForm.email"
                                        name="registerForm.email"
                                        type="text"
                                        placeholder="What is email of the primary contact at the partner?"
                                        value="{{registerForm.email}}" />
                                <label  for="registerForm.phone">Phone<em> * </em><span class="error">{{errors.registerForm.phone}}</span></label>
                                <input  id="registerForm.phone"
                                        name="registerForm.phone"
                                        type="text"
                                        placeholder="What is the business phone number?"
                                        value="{{registerForm.phone}}" />
                            </fieldset>
                            <br/>
                            <input  id="registerForm.register"
                                    name="registerForm.register"
                                    type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gap"></div>
    <div id="footer" class="float">
        <div class="center clearfix">
            {{> partial_footerNav}}
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
        $('#mainImage').imagesLoaded(function(){
            var fullBleed = new FullBleed();
        });
    });
</script>
{{> partial_google}}
