<div id="nav-container">
    <div id="header-nav" class="clearfix">
        <ul>
            <li id="explore_nav">
                <a href="/">
                    Home
                </a>
            </li>
        </ul>
    </div>
    <div id="footer-nav">
        <ul>
            <li><a href="{{urls.site}}/101">Storytelling 101</a></li>
            <li><a href="{{urls.site}}/about">About Us</a></li>
            <li><a href="{{urls.site}}/guidelines">Sharing Guidelines</a></li>
            <li><a href="{{urls.site}}/privacy">Privacy Policy</a></li>
            <li><a href="{{urls.site}}/terms">Terms of Service</a></li>
            <li><a href="{{urls.site}}/business">For Business</a></li>
        </ul>
    </div>
</div>