                        </div>
                    </div>
                    <div class="echoed-email-footer">
                    <div class="echoed-logo"><img src="{{urls.images}}/logo.png"/></div>
                </div>
            </div>
            <div class="echoed-footer">
                <p>Copyright Echoed Inc 2012</p>
                <p>You received this email because you are registered on Echoed with the email address: . We respect your privacy. If you believe this has been sent to you in error, please unsubscribe.</p>
            </div>
        </div>
    </body>
</html>