{{> partnerheader}}
<title>Echoed | Partner</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false" ></script>
<script type="text/javascript" src="{{urls.js}}/markerclusterer_compiled.js"></script>
<script type="text/javascript">
    function dump(arr,level) {
        var dumped_text = "";
        if(!level) level = 0;

        //The padding given at the beginning of the line.
        var level_padding = "";
        for(var j=0;j<level+1;j++) level_padding += "    ";

        if(typeof(arr) == 'object') { //Array/Hashes/Objects
            for(var item in arr) {
                var value = arr[item];

                if(typeof(value) == 'object') { //If it is an array,
                    dumped_text += level_padding + "'" + item + "' ...\n";
                    dumped_text += dump(value,level+1);
                } else {
                    dumped_text += level_padding + "'" + item + "' => \"" + value + "\"\n";
                }
            }
        } else { //Stings/Chars/Numbers etc.
            dumped_text = "===>"+arr+"<===("+typeof(arr)+")";
        }
        return dumped_text;
    }
</script>
<script type="text/template" id="template-views-reports-table">
    <div class="row">
        <div class="full box clearfix">
            <div id="table-container">

            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-view-echoes">
    <div class="row">
        <div class="box full clearfix">
            <div class="label">
                Echoes
            </div>
            <div id="echoes-table">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-view-summary">
    <div class="row">
        <div id="summary-stats" class="full box clearfix">
            <div class="ss-row">
                <div class="ss-box">
                    <div class="ss-box-label">
                        ($) Sales
                    </div>
                    <div id="ss-salesamount" class="ss-box-number echoed-text">
                    </div>
                </div>
                <div class="ss-box">
                    <div class="ss-box-label">
                        (#) Sales
                    </div>
                    <div id="ss-purchases" class="ss-box-number echoed-text">
                    </div>
                </div>
                <div class="ss-box">
                    <div class="ss-box-label">
                        Echoes
                    </div>
                    <div id="ss-echoes" class="ss-box-number echoed-text">
                    </div>
                </div>
                <div class="ss-box">
                    <div class="ss-box-label">
                        Page Visits
                    </div>
                    <div id="ss-visits" class="ss-box-number echoed-text">
                    </div>
                </div>
                <div class="ss-box">
                    <div class="ss-box-label">
                        Comments
                    </div>
                    <div id="ss-comments" class="ss-box-number fb-text">
                    </div>
                </div>
                <div class="ss-box">
                    <div class="ss-box-label">
                        Likes
                    </div>
                    <div id="ss-likes" class="ss-box-number fb-text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box full clearfix">
            <div class="label">Social Activity</div>
            <div id="chart" class="half-chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="box full clearfix">
            <div class='label'>
                Location
            </div>
            <div id="map" style="height:400px;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box full clearfix">
            <div class="label">
                Top Products
            </div>
            <div id="top-products-table">
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="box full clearfix">
            <div class="label">
                Top Customers
            </div>
            <div id="top-customers-table">
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="template-view-settings">
    <div class="row">
        <div id="settings-container" class="full class clearfix">

        </div>
    </div>
</script>

</head>
<body class="partner">
<div id="container">
    <div id="header" class="partner">
        <div class="clearfix">
            <div id="logo">
                <img src="{{urls.images}}/logo.png">
            </div>
            <div id="header-nav">
                <ul>
                    <li id="summary_nav">
                        <a href="#summary">
                            Summary
                        </a>
                    </li>
                    <li id="echoes_nav">
                        <a href="#echoes">
                            Echoes
                        </a>
                    </li>
                    <li id="reports_nav">
                        <a href="#reports">
                            Reports
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div id="user">
                {{#partnerUser}}{{name}}{{/partnerUser}} ( <span class="highlight"><strong><a id="logout" href="http://v1-api.echoed.com/logout">Logout</a></strong></span> )<br/>
            </div>
        </div>
        <div id="sub-nav" style="display:none"></div>
    </div>
    <div id="content">
    </div>
</div>
</body>
</html>

<script type="text/template" id="template-view-rewards">
    <div class="row">
        <div id="reward-table-container" class="full class clearfix">
        </div>
    </div>
</script>

<script type="text/template" id="template-view-reports-products">
    <div class="row">
        <div class="full box clearfix">
            <div id="report-summary">
                <div id="product-selector" class="report-selector">
                    <div id="select-report" class="label"></div>
                </div>
                <div class="full-column-left">
                    <div>
                        <div class="product-detail-image-container">
                            <img id="product-image" class="product-detail-image"/>
                        </div>
                        <div class="product-detail-table-container">
                            <table class="product-detail-table" cellspacing="0">
                                <tr>
                                    <td width="100px">SKU</td>
                                    <td id="product-sku"></td>
                                </tr>
                                <tr>
                                    <td>Brand</td>
                                    <td id="product-brand"></td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td id="product-category"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="full-column-right">
                    <div class="ss-row">
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Open Echoes
                            </div>
                            <div id="ss-open-echoes" class="ss-box-number echoed-text">
                            </div>
                        </div>
                        <div class="ss-box">
                            <div class="ss-box-label">
                                New Echoes
                            </div>
                            <div id="ss-new-echoes" class="ss-box-number echoed-text">
                            </div>
                        </div>
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Page Views
                            </div>
                            <div id="ss-views" class="ss-box-number echoed-text">
                            </div>
                        </div>
                    </div>
                    <div  class="ss-row">
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Comments
                            </div>
                            <div id="ss-comments" class="ss-box-number fb-text">
                            </div>
                        </div>
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Likes
                            </div>
                            <div id="ss-likes" class="ss-box-number fb-text">
                            </div>
                        </div>
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Retweets
                            </div>
                            <div id="ss-retweets" class="ss-box-number twitter-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="full box clearfix">
            <div class="label">DYNAMIC REPORTING</div>
            <div id="product-report-chart" class="report-chart">
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="template-view-reports-customers">
    <div class="row">
        <div class="full box clearfix">
            <div id="customer-selector" class="report-selector">
                <div id="select-report" class="label">
                </div>
            </div>
            <div id="report-summary-customer">
                <div id="summary-stats-column1">
                </div>
                <div id="summary-stats-column2" class="full-column-right">
                    <div id="ss-upper_row" class="ss-row">
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Likes
                            </div>
                            <div id="cs-likes" class="ss-box-number fb-text">
                            </div>
                        </div>
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Comments
                            </div>
                            <div id="cs-comments" class="ss-box-number fb-text">
                            </div>
                        </div>
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Echoes
                            </div>
                            <div id="cs-echoes" class="ss-box-number echoed-text">
                            </div>
                        </div>
                    </div>
                    <div id="ss-lower_row" class="ss-row">
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Purchases
                            </div>
                            <div id="cs-purchases" class="ss-box-number echoed-text">
                            </div>
                        </div>
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Views
                            </div>
                            <div id="cs-views" class="ss-box-number echoed-text">
                            </div>
                        </div>
                        <div class="ss-box">
                            <div class="ss-box-label">
                                Total Sales
                            </div>
                            <div id="cs-total" class="ss-box-number echoed-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="full box clearfix">
            <div class="label">DYNAMIC REPORTING</div>
            <div id="customer-report-chart" class="report-chart">
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="template-view-reports-customers-summary">
</script>
{{> google}}
