<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-email.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900">
</head>
<body>
<div class="echoed-container">
    <div class="echoed-email">
        <div class="echoed-email-header">
            <div class="echoed-email-header-subject">Re: Subject</div>
            <div class="echoed-email-header-date">Monday, May 21 2012</div>
        </div>
        <div class="echoed-email-body">
            <div class="echoed-email-body-title">Successfully Echoed</div>
            <div class="echoed-email-body-content">