<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type='text/javascript' src="{{urls.js}}/webfonts.js"></script>
    <script type='text/javascript' src="{{urls.js}}/jquery-1.6.2.min.js"></script>
    <script type='text/javascript' src="{{urls.js}}/json2.js"></script>
    <script type='text/javascript' src="{{urls.js}}/underscore-min.js"></script>
    <script type='text/javascript' src="{{urls.js}}/backbone-0.9.1-min.js"></script>
    <script type='text/javascript' src="{{urls.js}}/echoed-admin.js"></script>

    <script type="text/javascript">
        Echoed.errors = new Array(); //{{#errors}}
        Echoed.errors.push("{{this}}");
        /*{{/errors}} // */

        Echoed.urls = {};
        {{>partial_urls}}
    </script>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-admin.css"/>
</head>