    {{> partial_header}}
    <title>Echoed | Partner Register</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css"/>
</head>
<body class="nooverflow">
<img id="mainImage" src="{{urls.images}}/bleed-couch.jpg" style="display:none;"/>
<div id="container">
    {{> partial_staticNavBar }}
    <div id="primary">
        <div class="center clearfix">
            <div id="lm">
                <div id="lm-top" class="clearfix">
                    <div id="lm-label">Partner Register</div>
                    <div id="lm-partner-form">
                        <div id="lm-error">
                        {{#errors.global}}{{this}}{{/errors.global}}
                        </div>
                        <form action="{{urls.site}}/partner/activate" method="POST">
                            <fieldset>
                                <legend>Credential Info</legend>
                                <label  for="password">Password<em> * </em><span class="error">{{errors.activateForm.password}}</span></label>
                                <input  id="password"
                                        name="password"
                                        type="password"
                                        placeholder="Minimum of six characters..." />
                                <label  for="passwordConfirm">Password Confirm<em> * </em><span class="error">{{errors.activateForm.passwordConfirm}}</span></label>
                                <input  id="passwordConfirm"
                                        name="passwordConfirm"
                                        type="password"
                                        placeholder="Password again..." />
                                <input  id="partnerUserId"
                                        name="partnerUserId"
                                        type="hidden"
                                        value="{{activateForm.partnerUserId}}" />
                            </fieldset>
                            <br/>
                            <input  id="activate"
                                    name="activate"
                                    type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gap"></div>
    <div id="footer" class="float">
        <div class="center clearfix">
            <div id="footer-nav">
                <a href="{{urls.site}}/howitworks">How It Works</a>
                <a href="{{urls.site}}/contactus">Contact Us</a>
                <div class="copyright" style="float:right;line-height:45px;">
                    Copyright 2012 - Echoed Inc.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
        $('#mainImage').imagesLoaded(function(){
            var fullBleed = new FullBleed();
        });
    });
</script>
{{> partial_google}}
