{{<common_super}}
    {{$jsHead}}
    <script type="text/javascript" src="{{urls.js}}/echoed-partner.js" ></script>
    {{/jsHead}}
    {{$css}}
    <link rel="stylesheet" href="{{urls.css}}/echoed-partner-new.css" />
    {{/css}}
    {{$content}}
    <div id="container">
        <div id="header-container">
            <div id="logo">
                <a href="#"><img height="40px" src="{{urls.images}}/logo.png"/></a>
            </div>
        </div>
        <div id="nav-container">
            <div id="nav">
            </div>
        </div>
        <div id="content">
        </div>
    </div>
    {{/content}}
{{/common_super}}