{{<public_super}}
    {{$title}}Echoed | Create Your Account{{/title}}
    {{$jsHead}}
        {{#scriptTag}}static.js{{/scriptTag}}
    {{/jsHead}}
    {{$public_content}}
    <div id="content-wide">
        <div class="login-form-title">
            Create Your Account for free
        </div>
        <div id="register-form" class="login-form">
            {{#errors}}{{#global}}<div id="lm-error">Error: {{.}}</div>{{/global}}{{/errors}}
            <form action="{{urls.site}}/partner/register" method="POST">
                <div class="login-form-row">
                    <input class="placeholder-input" id="userName" name="userName" type="text" value="{{registerForm.userName}}"/>
                    <label class="placeholder-text">Your Name</label>
                    <span class="placeholder-white"></span>
                </div>
                {{#errors.registerForm.userName}}
                <div>
                    <label class="error" for="userName">{{.}}</label>
                </div>
                {{/errors.registerForm.userName}}

                <div class="login-form-row">
                    <input class="placeholder-input" id="email" name="email" type="text" value="{{registerForm.email}}"/>
                    <label class="placeholder-text">Your Email</label>
                    <span class="placeholder-white"></span>
                </div>
                {{#errors.registerForm.email}}
                <div>
                    <label class="error" for="email">{{.}}</label>
                </div>
                {{/errors.registerForm.email}}


                <div class="login-form-row">
                    <input class="placeholder-input" id="siteName" name="siteName" type="text" value="{{registerForm.siteName}}"/>
                    <label class="placeholder-text">Site Name</label>
                    <span class="placeholder-white"></span>
                </div>
                {{#errors.registerForm.siteName}}
                <div>
                    <label class="error" for="siteName">{{.}}</label>
                </div>
                {{/errors.registerForm.siteName}}

                <div class="login-form-row">
                    <input class="placeholder-input" id="siteUrl" name="siteUrl" type="text" value="{{registerForm.siteUrl}}"/>
                    <label class="placeholder-text">Site Url</label>
                    <span class="placeholder-white"></span>
                </div>
                {{#errors.registerForm.siteUrl}}
                <div>
                    <label class="error" for="siteUrl">{{.}}</label>
                </div>
                {{/errors.registerForm.siteUrl}}

                <div class="login-form-row">
                    <input class="placeholder-input" id="shortName" name="shortName" type="text" value="{{registerForm.shortName}}"/>
                    <label class="placeholder-text">Site Shortname</label>
                    <span class="placeholder-white"></span>
                </div>
                {{^errors.registerForm.shortName}}
                <div>
                    <label for="shortName">Stories for your business can be seen at http://echoed.com/<strong>shortname</strong></label>
                </div>
                {{/errors.registerForm.shortName}}
                {{#errors.registerForm.shortName}}
                <div>
                    <label class="error" for="shortName">{{.}}</label>
                </div>
                {{/errors.registerForm.shortName}}

                <div class="login-form-row">
                    <select class="placeholder-select" id="community" name="community">
                    <option value=""></option>
                    {{#registerForm.communities}}
                        <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                    {{/registerForm.communities}}
                    </select>
                </div>

                {{^errors.registerForm.community}}
                <div>
                    <label for="community">Select a community that describes your site</label>
                </div>
                {{/errors.registerForm.community}}
                {{#errors.registerForm.community}}
                <div>
                    <label class="error" for="community">{{.}}</label>
                </div>
                {{/errors.registerForm.community}}

                <input id="communitiesList" name="communitiesList" type="hidden" value="{{registerForm.communitiesList}}"/>

                <input id="login" name="register" type="submit" value="Submit">
            </form>
        </div>
    </div>
    {{/public_content}}
{{/public_super}}

