{{<common_super}}
    {{$jsHead}}
        {{#scriptTag}}partner.js{{/scriptTag}}
        <script type="text/javascript">
            Echoed.partnerUser = {};
            Echoed.partnerUser.partnerId = '{{ partnerUser.partnerId }}';
        </script>
    {{/jsHead}}
    {{$title}}
        Echoed | Partner Dashboard
    {{/title}}
    {{$css}}
    <link rel="stylesheet" href="{{urls.css}}/echoed.partner.css" />
    {{/css}}
    {{$content}}
    <div id="container">
        <div id="header-container">
            <div id="logo">
                <a href="#"><img height="40px" src="{{urls.images}}/logo.png"/></a>
            </div>
            <div id="header-tabs">
                <ul>
                    <li>
                        <a href="#">
                            Partner Home
                        </a>
                    </li>
                    <li>
                        <a href="#install">
                            How To Install
                        </a>
                    </li>
                </ul>
            </div>
            <div id="user" class="clearfix">
                <div id="user-text">
                    {{partnerUser.name}}
                </div>
                <span class="downarrow"></span>
                <div id="user-list">
                    <ul>
                        <li class="user-list-item">
                            <a href="{{urls.site}}/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="nav-container">
        </div>
        <div id="content">
            <div id="howToInstall" class="content-container"></div>
            <div id="moderate" class="content-container"></div>
            <div id="fade">
                <div id="story"></div>
            </div>
        </div>
    </div>
    {{/content}}
{{/common_super}}