{{<public_super}}
    {{$title}}Echoed | Partner Register{{/title}}
    {{$public_content}}
    <div id="login-content">
        <div id="register-form" class="login-form">
            <div class="login-form-title">Register New Partner</div>
            {{#errors.global}}{{this}}{{/errors.global}}
            <form action="{{urls.site}}/partner/register" method="POST">
                <fieldset>
                    <legend>User Info</legend>
                    <label  for="registerForm.userName">Name<em> * </em><span class="error">{{errors.registerForm.userName}}</span></label>
                    <input  id="registerForm.userName"
                            name="registerForm.userName"
                            type="text"
                            placeholder="What is name of the primary contact at the partner?"
                            value="{{registerForm.userName}}" />
                    <label  for="registerForm.email">Email<em> * </em><span class="error">{{errors.registerForm.email}}</span></label>
                    <input  id="registerForm.email"
                            name="registerForm.email"
                            type="text"
                            placeholder="What is email of the primary contact at the partner?"
                            value="{{registerForm.email}}" />
                </fieldset>
                <fieldset>
                    <legend>Business Info</legend>
                    <label  for="registerForm.name">Name<em> * </em><span class="error">{{errors.registerForm.name}}</span></label>
                    <input  id="registerForm.name"
                            name="registerForm.name"
                            type="text"
                            placeholder="What is the business name?"
                            value="{{registerForm.name}}" />
                    <label  for="registerForm.phone">Phone<em> * </em><span class="error">{{errors.registerForm.phone}}</span></label>
                    <input  id="registerForm.phone"
                            name="registerForm.phone"
                            type="text"
                            placeholder="What is the business phone number?"
                            value="{{registerForm.phone}}" />
                    <label  for="registerForm.website">Website<em> * </em><span class="error">{{errors.registerForm.website}}</span></label>
                    <input  id="registerForm.website"
                            name="registerForm.website"
                            type="text"
                            placeholder="What is the business website?"
                            value="{{registerForm.website}}" />
                    <label  for="registerForm.logo">Logo<span class="error">{{errors.registerForm.logo}}</span></label>
                    <input  id="registerForm.logo"
                            name="registerForm.logo"
                            type="text"
                            placeholder="What is the business logo?"
                            value="{{registerForm.logo}}" />
                    <label  for="registerForm.hashTag">Hash Tag <span class="error">{{errors.registerForm.hashTag}}</span></label>
                    <input  id="registerForm.hashTag"
                            name="registerForm.hashTag"
                            type="text"
                            placeholder="What is the business hash tag?"
                            value="{{registerForm.hashTag}}" />
                    <label  for="registerForm.category">Category <span class="error">{{errors.registerForm.category}}</span></label>
                    <input  id="registerForm.category"
                            name="registerForm.category"
                            type="text"
                            placeholder="What is the business category?"
                            value="{{registerForm.category}}"/>
                </fieldset>
                <fieldset>
                    <legend>Settings</legend>
                    <label  for="registerForm.exhibitPercentage">Exhibit Percentage<em> * </em><span class="error">{{errors.registerForm.exhibitPercentage}}</span></label>
                    <input  id="registerForm.exhibitPercentage"
                            name="registerForm.exhibitPercentage"
                            type="text"
                            placeholder="What is the percentage for echoing to exhibit?"
                            value="{{registerForm.exhibitPercentage}}" />
                    <label  for="registerForm.minClicks">Min Clicks<em> * </em><span class="error">{{errors.registerForm.minClicks}}</span></label>
                    <input  id="registerForm.minClicks"
                            name="registerForm.minClicks"
                            type="text"
                            placeholder="What is the minimum number of clicks for credit?"
                            value="{{registerForm.minClicks}}" />
                    <label  for="registerForm.minPercentage">Min Percentage<em> * </em><span class="error">{{errors.registerForm.minPercentage}}</span></label>
                    <input  id="registerForm.minPercentage"
                            name="registerForm.minPercentage"
                            type="text"
                            placeholder="What is the percentage credit for minimum clicks?"
                            value="{{registerForm.minPercentage}}" />
                    <label  for="registerForm.maxClicks">Max Clicks<em> * </em><span class="error">{{errors.registerForm.maxClicks}}</span></label>
                    <input  id="registerForm.maxClicks"
                            name="registerForm.maxClicks"
                            type="text"
                            placeholder="What is the max number for clicks allowed for credit?"
                            value="{{registerForm.maxClicks}}" />
                    <label  for="registerForm.maxPercentage">Max Percentage<em> * </em><span class="error">{{errors.registerForm.maxPercentage}}</span></label>
                    <input  id="registerForm.maxPercentage"
                            name="registerForm.maxPercentage"
                            type="text"
                            placeholder="What is the percentage credit for max clicks?"
                            value="{{registerForm.maxPercentage}}" />
                    <label  for="registerForm.echoedMatchPercentage">Echoed Match Percentage<em> * </em><span class="error">{{errors.registerForm.echoedMatchPercentage}}</span></label>
                    <input  id="registerForm.echoedMatchPercentage"
                            name="registerForm.echoedMatchPercentage"
                            type="text"
                            placeholder="What is Echoed's credit match percentage?"
                            value="{{registerForm.echoedMatchPercentage}}" />
                    <label  for="registerForm.echoedMaxPercentage">Echoed Max Percentage<em> * </em><span class="error">{{errors.registerForm.echoedMaxPercentage}}</span></label>
                    <input  id="registerForm.echoedMaxPercentage"
                            name="registerForm.echoedMaxPercentage"
                            type="text"
                            placeholder="What is Echoed's max credit percentage?"
                            value="{{registerForm.echoedMaxPercentage}}" />
                    <label  for="registerForm.creditWindow">Credit Window<em> * </em><span class="error">{{errors.registerForm.creditWindow}}</span></label>
                    <input  id="registerForm.creditWindow"
                            name="registerForm.creditWindow"
                            type="text"
                            placeholder="What is the time span in hours for credit?"
                            value="{{registerForm.creditWindow}}" />
                    <label  for="registerForm.activeOn">Active On<em> * </em><span class="error">{{errors.registerForm.activeOn}}</span></label>
                    <input  id="registerForm.activeOn"
                            name="registerForm.activeOn"
                            type="text"
                            placeholder="When do you want to make this partner active?"
                            value="{{registerForm.activeOn}}" />
                </fieldset>
                <br/>
                <input  id="registerForm.register"
                        name="registerForm.register"
                        type="submit" />
            </form>
        </div>
    </div>
    {{/public_content}}
    {{$olark}}{{/olark}}
{{/public_super}}