<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css?v={{version}}" />
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
<title>Login</title>
</head>
<body>
    {{#echoPossibilityView}}
	<div id="container">
        <div id="header" class="clearfix">
            <div class="retailer-logo">
                <img src="{{retailerLogo}}"/>
            </div>
        </div>
        <div id="content">
            <div id="thankyou">
                {{#retailer}}
                <span class="ty-text">Share Now, Get Rewarded From {{name}}</span>
                {{/retailer}}
            </div>
            <div id="lower" class="clearfix">
                <div id="left">
                    <div id="left_content">
                        <div id="product">
                            <div id="product_upper" class="clearfix large">
                                <div id="product_picture_container" >
                                    {{#echoPossibility}}
                                    <img id="product_picture" src="{{imageUrl}}"/>
                                    {{/echoPossibility}}
                                </div>
                                <div id="product-description">
                                    {{#echoPossibility}}
                                    <strong>{{productName}}</strong><br />
                                    by {{brand}}<br />
                                    {{/echoPossibility}}
                                    ${{productPriceFormatted}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    	        <div id="right" class="long">
                    <div id="right-content">
                        {{#retailer}}
                        <div class="confirm-label">
                            EARN UP TO {{maxPercentage}} BACK ON YOUR ORIGINAL FORM OF PAYMENT!
                        </div>
                        <div>
                            <a id="facebookLogin" href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{redirectUrl}}&scope=email,publish_stream,read_stream,offline_access,publish_actions" >
                                <img height="50" src="{{urls.images}}/btn_facebook_login.png"/>
                            </a>
                            <a id="twitterLogin" href="{{urls.site}}/twitter?redirect={{twitterUrl}}">
                                <img height="50" src="{{urls.images}}/btn_twitter_login.png"/>
                            </a>
                        </div>
                        <div class="confirm-text" style="margin-top: 30px;">
                            <ul>
                                Get an automatic <strong>{{minPercentage}}% back</strong> just for sharing your purchase. As more friends click your shared link, your cash back will grow, <strong>up to {{maxPercentage}}%</strong>
                            </ul>
                        </div>
                        {{/retailer}}
                    </div>
	            </div>
            </div>
        </div>
        <div id="footer">
            <div class="poweredbyechoed">
                <img src="{{urls.images}}/img_pbe.png"/>
            </div>
        </div>
    </div>
    {{/echoPossibilityView}}
</body>
</html>
{{> google}}
