<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css?v={{version}}" />
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
<title>Login</title>
</head>
<body>
    {{#echoPossibilityView}}
	<div id="container">
        <div id="header" class="clearfix">
            <div class="poweredby">
                <img src="{{urls.images}}/img_pbe.png"/>
            </div>
            <div class="sharingvalued">
                <img src="{{urls.images}}/img_sv.png"/>
            </div>
        </div>
        <div id="content">
            <div id="thankyou">
                {{#retailer}}
                <span class="ty-text">Share Your Purchase and Save up to {{maxPercentage}}%!</span>
                {{/retailer}}
            </div>
            <div id="lower">
                <div id="left">
                    <div id="left_content">
                        <div id="product">
                            <div id="product_upper" class="clearfix large">
                                <div id="product_picture_container" >
                                    {{#echoPossibility}}
                                    <img id="product_picture" src="{{imageUrl}}"/>
                                    {{/echoPossibility}}
                                </div>
                                <div id="product-description">
                                    {{#echoPossibility}}
                                    <strong>{{productName}}</strong><br />
                                    by {{brand}}<br />
                                    {{/echoPossibility}}
                                    ${{productPriceFormatted}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    	        <div id="right" class="long">
                    <div id="right_content" class="border-grey bg-color-white rounded-corners">
                        {{#retailer}}
                        <div class="confirm-text">
                            <p>Share this product on Echoed and receive <span class="highlight-focus">1%</span> back.</p>
                            <p>Tell your friends on social networks about what you bought and you will receive <span class="highlight-focus">{{minPercentage}}%</span> back when you get at least <span class="highlight-focus">{{minClicks}} people</span> to click through and check out this product.</p>
                            <p>After that, the more people that buy or check out the product the more you'll save. Up to <span class="highlight-focus">{{maxPercentage}}%</span>.</p>
                        </div>
                        <div class="confirm-label">
                            Sign Up or Login to Share:
                        </div>
                        <div>
                            <a id="facebookLogin" href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{redirectUrl}}&scope=email,publish_stream,read_stream,offline_access" >
                                <img width="180" src="{{urls.images}}/btn_login_fb_50.png"/>
                            </a>
                            <a id="twitterLogin" href="{{urls.site}}/twitter?redirect={{twitterUrl}}">
                                <img width="180" src="{{urls.images}}/btn_login_tw_50.png"/>
                            </a>
                        </div>
                        {{/retailer}}
                    </div>
                    <div id="learnmore">
                        <span class="highlight-focus"><a href="{{urls.site}}/howitworks" target="_blank">Click Here To Learn More</a></span>
                    </div>
	            </div>
            </div>
        </div>
    </div>
    {{/echoPossibilityView}}
</body>
</html>
{{> google}}
