<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link id="stylecss" rel="stylesheet" href="{{urls.css}}/echoed-confirm.css?v={{version}}" />
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
<title>Login</title>
</head>
<body>
    {{#echoPossibilityView}}
	<div id="container">
        <div id="header" class="clearfix">
            <div class="poweredby">
                <img src="{{urls.images}}/img_pbe.png"/>
            </div>
        </div>
        <div id="content">
            <div id="thankyou">
                {{#retailer}}
                <span class="ty-text">{{name}} Would Like To Reward You For Your Purchase!</span>
                {{/retailer}}
            </div>
            <div id="lower" class="clearfix">
                <div id="left">
                    <div id="left_content">
                        <div id="product">
                            <div id="product_upper" class="clearfix large">
                                <div id="product_picture_container" >
                                    {{#echoPossibility}}
                                    <img id="product_picture" src="{{imageUrl}}"/>
                                    {{/echoPossibility}}
                                </div>
                                <div id="product-description">
                                    {{#echoPossibility}}
                                    <strong>{{productName}}</strong><br />
                                    by {{brand}}<br />
                                    {{/echoPossibility}}
                                    ${{productPriceFormatted}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    	        <div id="right" class="long">
                    <div id="right-content">
                        {{#retailer}}
                        <div class="confirm-label red">
                            SHARE NOW TO GET YOUR REWARD, IT'S EASY!
                        </div>
                        <div>
                            <a id="facebookLogin" href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{redirectUrl}}&scope=email,publish_stream,read_stream,offline_access" >
                                <img height="50" src="{{urls.images}}/btn_facebook_login.png"/>
                            </a>
                            <a id="twitterLogin" href="{{urls.site}}/twitter?redirect={{twitterUrl}}">
                                <img height="50" src="{{urls.images}}/btn_twitter_login.png"/>
                            </a>
                        </div>
                        <div class="confirm-label" style="margin-top:30px;">
                            HOW TO GET UP TO 20% BACK ON YOUR PURCHASE:
                        </div>
                        <div class="confirm-text" style="padding-left: 20px;">
                            <ul>
                                <li>Share this purchase with <img src="{{urls.images}}/logo_facebook_bw.png"/> and <img src="{{urls.images}}/logo_twitter_bw.png"/> get <span class="highlight-focus">{{minPercentage}}% back</span>. Get your friends to click through and earn <span class="highlight-focus">up to {{maxPercentage}}% back!</span></li>
                                <li>After <span class="highlight-focus">3 days</span>, the reward will be <span class="highlight-focus">automatically applied back to your original payment method</span> for this item.</li>
                            </ul>
                        </div>
                        {{/retailer}}
                    </div>
	            </div>
            </div>
        </div>
    </div>
    {{/echoPossibilityView}}
</body>
</html>
{{> google}}
