<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
    <script type='text/javascript' src="{{urls.js}}/webfonts.js"></script>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed.css"/>
    <title>{{$title}}Echoed | Home{{/title}}</title>
    <script type="text/javascript">
        Echoed.errors = {};
        Echoed.errors.global = new Array();
        //{{#errors.global}}//
        Echoed.errors.global.push("{{this}}");
        //{{/errors.global}}//

        //{{#errors.fieldErrors}}//
        Echoed.errors["{{object}}"] = {};
        //{{/errors.fieldErrors}}//
        //{{#errors.fieldErrors}}//
        Echoed.errors["{{object}}"]["{{field}}"] = "{{message}}";
        //{{/errors.fieldErrors}}//

        Echoed.messages = {};
        Echoed.messages.global = new Array();
        //{{#messages.global}}//
        Echoed.messages.global.push("{{this}}");
        //{{/messages.global}}//

        Echoed.urls = {};
        //{{#urls}}//
        Echoed.urls.api = "{{api}}";
        Echoed.urls.cdn = "{{cdn}}";
        Echoed.urls.js = "{{js}}";
        Echoed.urls.css = "{{css}}";
        Echoed.urls.images = "{{images}}";
        Echoed.urls.views = "{{views}}";
        Echoed.urls.site = "{{site}}";
        //{{/urls}}//
    </script>
</head>
<body>
<div id="container" class="grey">
    <div id="header-container">
        <div id="logo">
            <a href="/"><img height="40px" src="{{urls.images}}/logo.png"></a>
        </div>
    </div>
    {{$content}}{{/content}}
</div>
</body>
</html>
{{>partial_google}}