{{<public_super}}
{{$title}}Echoed | For Your Website{{/title}}
{{$bodyElement}}<body class="dark-grey">{{/bodyElement}}
{{$public_content}}
<div id="static-masthead">
    <div class="masthead-overlay">
        <div class="center">
            <h1 class="white-h1">Plans and Pricing</h1>
        </div>
    </div>
</div>
<div class="static-body static-plans">
    <div class="center">
        <div id="pricing-table" class="clearfix">
            <div class="pricing-column first">
                <div class="pricing-title">
                    Free
                </div>
                <div class="section-title">
                    USER FEATURES
                </div>
                <ul>
                    <li>
                        Echoed Web App
                    </li>
                    <li>
                        Easy-to-use content creation
                    </li>
                    <li>
                        Activity Notifications
                    </li>
                    <li>
                        Content Hosting
                    </li>
                    <li>
                        Unlimited Photo Uploads
                    </li>
                    <li>
                        Embedded Facebook Actions
                    </li>
                </ul>
                <div class="section-title">
                    PARTNER FEATURES
                </div>
                <ul>
                    <li class="feature-off">
                        No Moderation
                    </li>
                    <li class="feature-off">
                        No Branding
                    </li>
                </ul>
                <div class="section-title">
                    CUSTOMIZATION & APIs
                </div>
                <ul>
                    <li class="feature-off">
                        No Custom Topics
                    </li>
                    <li class="feature-off">
                        No Custom Communities
                    </li>
                    <li class="feature-off">
                        No Inline Content (iFrame only)
                    </li>
                </ul>
                <div class="section-title">
                    PROFESSIONAL SERVICES
                </div>
                <ul>
                    <li class="feature-off">
                        Standard Look & Feel
                    </li>
                    <li class="feature-off">
                        Standard Widgets
                    </li>
                </ul>
                <div class="section-title">
                    SUPPORT FEATURES
                </div>
                <ul>
                    <li>
                        24x7 email support
                    </li>
                </ul>
            </div>
            <div class="pricing-column">
                <div class="pricing-title">
                    Basic
                </div>
                <div class="section-title">
                    USER FEATURES
                </div>
                <ul>
                    <li>
                        Echoed Web App
                    </li>
                    <li>
                        Easy-to-use content creation
                    </li>
                    <li>
                        Activity Notifications
                    </li>
                    <li>
                        Content Hosting
                    </li>
                    <li>
                        Unlimited Photo Uploads
                    </li>
                    <li>
                        Embedded Facebook Actions
                    </li>
                </ul>
                <div class="section-title">
                    PARTNER FEATURES
                </div>
                <ul>
                    <li>
                        Moderation Tools
                    </li>
                    <li>
                        Brand the app with your logo
                    </li>

                </ul>
                <div class="section-title">
                    CUSTOMIZATION & APIs
                </div>
                <ul>
                    <li>
                        Custom Topics
                    </li>
                    <li>
                        Custom Communities
                    </li>
                    <li class="feature-off">
                        No Inline Content (iFrame only)
                    </li>
                </ul>
                <div class="section-title">
                    PROFESSIONAL SERVICES
                </div>
                <ul>
                    <li class="feature-off">
                        Standard Look & Feel
                    </li>
                    <li class="feature-off">
                        Standard Widgets
                    </li>
                </ul>
                <div class="section-title">
                    SUPPORT FEATURES
                </div>
                <ul>
                    <li>
                        24x7 email support
                    </li>
                </ul>
            </div>
            <div class="pricing-column">
                <div class="pricing-title">
                    Premium
                </div>
                <div class="section-title">
                    USER FEATURES
                </div>
                <ul>
                    <li>
                        Echoed Web App
                    </li>
                    <li>
                        Easy-to-use content creation
                    </li>
                    <li>
                        Activity Notifications
                    </li>
                    <li>
                        Content Hosting
                    </li>
                    <li>
                        Unlimited Photo Uploads
                    </li>
                    <li>
                        Embedded Facebook Actions
                    </li>
                </ul>
                <div class="section-title">
                    PARTNER FEATURES
                </div>
                <ul>
                    <li>
                        Moderation Tools
                    </li>
                    <li>
                        Brand the app with your logo
                    </li>
                </ul>
                <div class="section-title">
                    CUSTOMIZATION & APIs
                </div>
                <ul>
                    <li>
                        Custom Topics
                    </li>
                    <li>
                        Custom Communities
                    </li>
                    <li>
                        Inline Content
                    </li>
                </ul>
                <div class="section-title">
                    PROFESSIONAL SERVICES
                </div>
                <ul>
                    <li class="feature-off">
                        Standard Look & Feel
                    </li>
                    <li class="feature-off">
                        Standard Widgets
                    </li>
                </ul>
                <div class="section-title">
                    SUPPORT FEATURES
                </div>
                <ul>
                    <li>
                        24x7 email support
                    </li>
                </ul>
            </div>
            <div class="pricing-column">
                <div class="pricing-title">
                    Custom
                </div>
                <div class="section-title">
                    USER FEATURES
                </div>
                <ul>
                    <li>
                        Echoed Web App
                    </li>
                    <li>
                        Easy-to-use content creation
                    </li>
                    <li>
                        Activity Notifications
                    </li>
                    <li>
                        Content Hosting
                    </li>
                    <li>
                        Unlimited Photo Uploads
                    </li>
                    <li>
                        Embedded Facebook Actions
                    </li>
                </ul>
                <div class="section-title">
                    PARTNER FEATURES
                </div>
                <ul>
                    <li>
                        Moderation Tools
                    </li>
                    <li>
                        Brand the app with your logo
                    </li>
                </ul>
                <div class="section-title">
                    CUSTOMIZATION & APIs
                </div>
                <ul>
                    <li>
                        Custom Topics
                    </li>
                    <li>
                        Custom Communities
                    </li>
                    <li>
                        Inline Content
                    </li>
                </ul>
                <div class="section-title">
                    PROFESSIONAL SERVICES
                </div>
                <ul>
                    <li>
                        Customized Look & Feel
                    </li>
                    <li>
                        Widget Development
                    </li>
                </ul>
                <div class="section-title">
                    SUPPORT FEATURES
                </div>
                <ul>
                    <li>
                        24x7 email support
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{/public_content}}
{{/public_super}}