<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Echoed | How it Works</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed.css" />
    <script type='text/javascript' src="{{urls.js}}/webfonts.js"></script>
</head>
<body>
<div id="container" class="grey">
    {{ > partial_public_header }}
    {{ > partial_public_nav }}
    <div id="content">
        <section>
            <div class="center">
                <div class="title">
                    <h1>What is Echoed?</h1>
                </div>
                <div class="roundbox bk_hiw">
                    <div class="p-text">
                        After you've made a purchase from an online store, Echoed makes it effortless to get rewarded for sharing it with your friends on social networks.
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="center">
                <div class="title">
                    <h2>How Do I Share?</h2>
                </div>
                <div class="roundbox clearfix">
                    <div class="third">
                        <h3>After You've Purchased</h3>
                        <div class="secondary-text">
                            Buy anything from one of our partners and checkout just as you normally would.  Echoed will appear on the confirmation page of your order.
                        </div>
                    </div>
                    <div class="third">
                        <h3>Share With Friends</h3>
                        <div class="secondary-text">
                            Just click the "Share Button" next to the item that you'd like to show to your friends. Login with Facebook or Twitter, customize your message and share your purchase with friends.
                        </div>
                    </div>
                    <div class="third">
                        <h3>Receive Savings</h3>
                        <div class="secondary-text">
                            You'll receive automatic savings on the item you bought for sharing on Echoed! Your reward grows based on the number of friends that visit the retailer site through your link. All rewards will be automatically credited back to the card you used for that item!
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="center">
                <div class="title">
                    <h2>What Else Can I Do?</h2>
                </div>
                <div class="roundbox clearfix">
                    <div class="third">
                        <h3>Discover New Products</h3>
                        <div class="secondary-text">
                            Click on "What are people buying?" to see a live view of real purchases from real people. It's a great way to find hot and interesting products across all our retail partners.
                        </div>
                    </div>
                    <div class="third">
                        <h3>Browse Friends Echoes</h3>
                        <div class="secondary-text">
                            See what your friends have purchased and share using Echoed. Check out the "My Friends" tab to explore products from our retail partners that make your friends unique.
                        </div>
                    </div>
                    <div class="third">
                        <h3>Track Savings</h3>
                        <div class="secondary-text">
                            Use the "My Exhibit" tab on Echoed.com to see all the products you've shared. It's also where you can see how many days you have to accumulate your rewards and how much money you've saved to date.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


</body>

</html>
{{> partial_google}}
