{{<common_super}}
    {{$css}}
        <link rel="stylesheet" href="{{urls.css}}/echoed.css" />
    {{/css}}
    {{$content}}
    <div id="container">
        <div id="header-container">
            <div id="logo">
                <a href="/websites"><img height="40px" src="{{urls.images}}/logo.png"></a>
            </div>
            <div id="header-tabs">
                <ul>
                    <li>
                        <a href="/" target="_blank">
                            Explore Echoed
                        </a>
                    </li>
                    <li>
                        <a href="/websites">
                            For Websites
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {{$public_content}}
        {{/public_content}}
    </div>
    {{/content}}
</html>
{{/common_super}}