{{<public_super}}
    {{$title}}Echoed | About Us{{/title}}
    {{$bodyElement}}<body class="white">{{/bodyElement}}
    {{$public_content}}
        <div id="static-masthead">
            <div class="center">
                <h1 class="white-h1">About Us</h1>
                <div class="masthead-subtitle">
                    Memories, adventures and discoveries: experiences brought to life through your words and photos.
                </div>
            </div>
        </div>
        <div id="static-body">
            <div class="center">
                <h2>Create and Share Stories</h2>
                <div class="static-section">
                    <p>Echoed is a community where you can share your experiences through stories. Whether it was the time you trekked the Mountain of the Rising Sun, planted your first garden, or had an unforgettable meal, share your story and illustrate it with your favorite photos.</p>
                </div>
                <h2></h2>
                <div id="examples" class="static-section">
                    <div class="example">
                        <div class="example-title">Travel Adventures</div>
                        <img class="example-image" src="{{urls.images}}/aboutus1.png"  style='vertical-align: top;'/>
                    </div>
                    <div class="example">
                        <div  class="example-title">DIY Projects</div>
                        <img class="example-image" src="{{urls.images}}/aboutus2.png"  style='vertical-align: top;'/>
                    </div>
                    <div class="example">
                        <div  class="example-title">Memorable Evenings</div>
                        <img class="example-image" src="{{urls.images}}/aboutus3.png"  style='vertical-align: top;'/>
                    </div>
                </div>
            </div>
        </div>
    {{/public_content}}
{{/public_super}}