{{<public_super}}
    {{$title}}Echoed | About Us{{/title}}
    {{$bodyElement}}<body class="white">{{/bodyElement}}
    {{$public_content}}
    <div id="about-content">
        <div id="about-banner">
            <div class="center">
                <div id="about-shortcuts">
                    <ul>
                        <li>
                            <a href="#">Starting with Echoed</a>
                        </li>
                        <li>
                            <a href="#">Ways you can use Echoed</a>
                        </li>
                        <li>
                            <a href="/websites">For Websites</a>
                        </li>
                    </ul>
                </div>
                <h1>Your Voice... Everywhere!</h1>
                <p class="subheading">Share content and discussions everywhere on the web.</p>
            </div>
        </div>
        <div id="about-bookmarklet">
            <div class="center">
                <h2>Use our bookmarklet to start a conversation on any page, any website</h2>
                <br/>
                <div>
                    <a style="vertical-align: middle;" onclick="alert('Drag me to your bookmarks bar'); return false;" class="bookmarklet" href="javascript:void((function(d)%7Bvar%20e%3Dd.createElement(%27script%27)%3Be.setAttribute(%27type%27,%27text/javascript%27)%3Be.setAttribute(%27charset%27,%27UTF-8%27)%3Be.setAttribute(%27src%27,%27{{https.site}}/bookmarklet/js%3Fr%3D%27%2BMath.random()*99999999)%3Bd.body.appendChild(e)%7D)(document))%3B">{{bookmarkletName}}</a>
                    {{#isChrome}}
                    <img src="{{urls.images}}/bookmark_chrome.png" style="vertical-align: middle; margin-left: 150px;"/>
                    {{/isChrome}}
                    {{#isIE}}
                    <img src="{{urls.images}}/bookmark_ie.png" style="vertical-align: middle; margin-left: 150px;"/>
                    {{/isIE}}
                    {{#isSafari}}
                    <img src="{{urls.images}}/bookmark_safari.png" style="vertical-align: middle; margin-left: 150px;"/>
                    {{/isSafari}}
                    {{#isFirefox}}
                    <img src="{{urls.images}}/bookmark_firefox.png" style="vertical-align: middle; margin-left: 150px;"/>
                    {{/isFirefox}}
                </div>
                {{#isChrome}}
                <!--← Drag this bookmarklet to your bookmarks bar in your browser-->
                <div class="about-installation">
                    <h3>Installing and Using the bookmarklet on Chrome</h3>
                    <ol>
                        <li>Display your bookmarks</li>
                        <li>Drag the {{bookmarkletName}} button to your bookmarks bar</li>
                        <li>Click the {{bookmarkletName}} in your bookmarks bar anytime you want to launch Echoed</li>
                    </ol>
                </div>
                <div style="text-align: center;">

                </div>
                {{/isChrome}}
                {{#isIE}}
                <div class="about-installation">
                    <h3>Installing and Using the bookmarklet on Internet Explorer</h3>
                    <ol>
                        <li>Display your bookmarks</li>
                        <li>Drag the {{bookmarkletName}} button to your favorites bar</li>
                        <li>Click the {{bookmarkletName}} in your bookmarks bar anytime you want to launch Echoed</li>
                    </ol>
                </div>
                {{/isIE}}
                {{#isSafari}}
                <div class="about-installation">
                    <h3>Installing and Using the bookmarklet on Safari</h3>
                    <ol>
                        <li>Display your bookmarks</li>
                        <li>Drag the {{bookmarkletName}} button to your bookmarks bar</li>
                        <li>Click the {{bookmarkletName}} in your bookmarks bar anytime you want to launch Echoed</li>
                    </ol>
                </div>
                {{/isSafari}}
                {{#isFirefox}}
                <div class="about-installation">
                    <h3>Installing and Using the bookmarklet on Firefox</h3>
                    <ol>
                        <li>Display your bookmarks</li>
                        <li>Drag the {{bookmarkletName}} button to your bookmarks bar</li>
                        <li>Click the {{bookmarkletName}} in your bookmarks bar anytime you want to launch Echoed</li>
                    </ol>
                </div>
                {{/isFirefox}}
            </div>
        </div>
        <div id="about-body">
            <div class="center">
                <h3>
                    Ways you can use Echoed
                </h3>
                <div class="about-divider">
                    <p>
                        Follow
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{/public_content}}
{{/public_super}}