{{<public_super}}
    {{$title}}Echoed | Storytelling 101{{/title}}
    {{$public_content}}
    <div id="content-wide">
        <section>
            <div class="center">
                <div class="title">
                    <h1>Storytelling 101</h1>
                </div>
        </section>
        <section>
            <div class="center-static">
                <h2>Tell Your Story</h2>
                <div class="center-section">
                    <p>
                        Once you've logged in, you can share your experience with a great product or service
                        by clicking on the <span class="highlight bold">Share A Story</span> button and following the prompts.
                        There's no right or wrong way to tell your story. People want to hear about the the
                        things you love, so snap a pic, write a few sentences and share your story - it's going
                        to be fantastic!
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="center-static">
                <h2>Edit Your Story</h2>
                <div class="center-section">
                    <p>
                        You can always go back to the stories you've created and revise them under the <span class="highlight bold">My Stories</span> link. If you want to add/edit pictures, descriptions or the story category, roll over any story in your <span class="highlight bold">My Stories</span> section and click the <span class="highlight bold">Edit</span> button.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="center-static">
                <h2>Browse Other Stories</h2>
                <div class="center-section">
                    <p>
                        The <span class="highlight bold">Community</span> is where you can browse and discuss all the great stories that
                        people are sharing. You can browse by category, retail partner or individual
                        storyteller. Just click on what interests you.
                    </p>
                    <p>
                        We also make it easy see all of your friends on Facebook and Twitter that are using
                        Echoed. Click the <span class="highlight bold">My Friends</span> link and anyone in your social universe that's ever shared
                        or commented on a story will be there.
                    </p>
                </div>
            </div>
        </section>
    </div>
    {{/public_content}}
{{/public_super}}
