{{<public_super}}
    {{$title}}Echoed | For Your Website{{/title}}
    {{$public_content}}
        <div id="static-masthead">
            <div class="center">
                <h1>Echoed For Your Website</h1>
                Creating Your Brand Community
            </div>
        </div>
        <div id="static-body">
            <div class="center">
                <div class="static-section">
                    <h2 class="static-h2">Creating Engaging Communities</h2>
                    <p>

                    </p>
                </div>
                <div class="static-section">
                    <h2 class="static-h2">Beautiful User Generated Content</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egestas, orci at elementum dictum, urna nisi laoreet arcu, in feugiat odio sapien nec sem. Phasellus faucibus, urna at pellentesque mollis, elit risus egestas turpis, in placerat massa lectus eleifend sapien. Pellentesque condimentum fringilla egestas. Praesent eget est lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt tortor vitae odio dapibus nec pellentesque nibh placerat. Nam metus est, vulputate id vulputate nec, gravida nec enim. Donec vel risus in tortor posuere tristique a quis nulla. Phasellus ornare leo non massa scelerisque vestibulum. Nullam vitae eros vel metus venenatis dapibus. Etiam at risus turpis.</p>
                </div>
            </div>

        </div>
    {{/public_content}}
{{/public_super}}