{{<public_super}}
    {{$title}}Echoed | For Business{{/title}}
    {{$public_content}}
        <div id="content-wide">
            <div class="center">
                <div class="title">
                    <h1>Echoed For Business</h1>
                </div>
                <div class="roundbox">
                    <section>
                        <!--<h2>Placeholder</h2>-->
                        <p class="static-section">
                            Likes, followers and pins are "nice-to-haves" in today's increasingly social world, but they don't necessarily translate into growth for your business.
                        </p>
                        <p class="static-section">
                            You need a social solution with substance, one that consists of product discovery and engagement.  It takes this special, one-two punch to get more traffic, new customers and increased sales.  Echoed can help with a one-of-a-kind approach that turns online shopping into a results-generating, social experience.
                        </p>
                    </section>
                    <section>
                        <h2>Benefits</h2>
                        <p class="static-section">
                            Echoed is a platform that empowers customers to tell their story about experiences with your products. Your shoppers can populate their stories with beautiful pictures, videos, text and commentary.
                        </p>
                        <p class="static-section">
                            There are already conversations happening all over the internet about your products - social networking, video/photo sharing, blogs and forums. Echoed allows your customers to take all the content they've created and centralize it into user created stories for your site. More importantly, these compelling narratives live in the most importance place to drive sales - your store!
                        </p>
                    </section>
                </div>
            </div>
        </div>
    {{/public_content}}
{{/public_super}}