<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Echoed | Partnership Opportunity</title>
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
    <script type='text/javascript' src="{{urls.js}}/webfonts.js"></script>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css?v={{version}}"/>
</head>
<body>
<div id="container" class="grey">
    <div class="header-container">
        {{> partial_staticNavBar }}
    </div>
    <section>
        <div class="center">
            <div class="title">
                <h1>Get More Customers For Your Business</h1>
            </div>
            <div class="roundbox bk_biz">
                <div class="p-text">
                    We supercharge word-of-mouth and attract new customers via your current online shoppers.<br/><br/>
                    Echoed transforms everyday online purchases into social endorsements, targeted against consumers who are eager to discover and shop your brand.<br/><br/>
                    Our team will work tirelessly to craft a social solution that delivers results. Request a demo for a real-time look at how Echoed can empower your business.<br/><br/>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="center">
            <div class="title">
                <h2>The Benefits</h2>
            </div>
            <div class="roundbox clearfix">
                <div class="quarter">
                    <h3 class="text-blue1">Word of Mouth</h3>
                    <div style="text-align:center;"><img src="{{urls.images}}/bk_chat_emboss.png"/></div>
                    <div class="secondary-text">Consumers know the difference between real and forced messaging. Your shoppers believe in your brand and they are passionate about your products. We provide a service to give that extra push to share this passion with others.<br><br>
                        Echoed amplifies the excitement and engagement of your existing customers across a broad network of their like-minded peers. The result is a recommendation from a friend that can be trusted...that&#39;s as real as it gets.
                    </div>
                </div>
                <div class="quarter">
                    <h3 class="text-green1">Social Networks</h3>
                    <div style="text-align:center;"><img src="{{urls.images}}/bk_mag_emboss.png"/></div>
                    <div class="secondary-text">The reach and scale of social networks is undeniably powerful. We&#39;ve created the easiest pathway possible to turn online transactions into brand experiences worth sharing.<br><br>
                        Echoed is designed to seamlessly integrate within naturally occurring conversations, connecting with any and all social networks.</div>
                </div>
                <div class="quarter">
                    <h3 class="text-magenta">Brand Awareness</h3>
                    <div style="text-align:center;"><img src="{{urls.images}}/bk_cart_emboss.png"/></div>
                    <div class="secondary-text">As products are shared, they receive ample time in the spotlight, inciting conversation and exploration across a consumers entire social network. While this short-term exposure is extremely valuable, we&#39;ve thought about long-term brand impact as well.
                        <br/><br/>
                        Every Echoed purchase also lives in the consumer&#39;s Exhibit - think of it as a product gallery, where your products are the star of the show. Unlike other social activity, the Exhibit lives forever.
                        Friends can browse each others exhibits and discover exciting products or their next favorite brand at any time.</div>
                </div>
                <div class="quarter">
                    <h3>Results</h3>
                    <div style="text-align:center;"><img src="{{urls.images}}/bk_chart_emboss.png"/></div>
                    <div class="secondary-text">
                        Your bottom line is a top priority. We continuously refine and optimize our offerings to drive conversion/
                        sales for maximum ROI.<br/><br/>
                        Echoed is an end-to-end platform with robust reporting. You'll be able to monitor real-time performance and witness growth of your brand's digital word of mouth as it's happening.<br/><br/>
                        We provide a comprehensive overview of the social influence, product sales and brand growth that Echoed delivers. Additionally, our ability to capture data from eCommerce checkout to social activation, allows us craft meaningful consumer and product insights.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="footer">
        {{ > partial_footerNav }}
    </div>
</div>
</body>
</html>
{{> partial_google}}
