{{<public_super}}
    {{$title}}Echoed | For Your Website{{/title}}
    {{$bodyElement}}<body class="dark-grey">{{/bodyElement}}
    {{$public_content}}
        <div id="static-masthead">
            <div class="masthead-overlay">
                <div class="center">
                    <h1 class="white-h1">Give Your Users a Voice On The Web</h1>
                    <div class="masthead-subtitle">
                        Drive engagement with your audience by creating a community around content they create
                        <div>
                            <a href="/plans" class="green-button">
                                Plans and Pricing
                            </a>
                            <a href="/contactus" class="red-button">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-body white">
            <div class="center">
                <div class="static-section clearfix">
                    <h2>Features & Benefits</h2>
                    <ul>
                        <li>
                            <h4>
                                Crowd-Sourced Content
                            </h4>
                            <p>
                                Enable your users to share photos, stories, reviews and other activity directly on your website.
                            </p>
                        </li>
                        <li>
                            <h4>
                                Community Discussions
                            </h4>
                            <p>
                                Discussions generated around content created by your users are a powerful way for your audience to engage amongst themselves. Learn more about what your audience is doing with and around your brand.
                            </p>
                        </li>
                        <li>
                            <h4>
                                Notifications
                            </h4>
                            <p>
                                Participating users are notified of new activity in your community, encouraging them to return to your web property.
                            </p>
                        </li>
                        <li>
                            <h4>
                                Powerful Communities
                            </h4>
                            <p>
                                Capture first hand accounts that act as an endorsement for new users and build connections between existing users. Learn more about what your audience is doing with and around your brand.
                            </p>
                        </li>
                        <li>
                            <h4>
                                Increase Engagement
                            </h4>
                            <p>
                                Users spend 2-3x longer on websites when they engage with Echoed.  Over half of all content creators return when others in a community engage with content they’ve created.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="static-body static-blue">
            <div class='center'>
                <div class="static-section clearfix">
                    <ul>
                        <li>
                            <h5>For Media</h5>
                            <p>Crowd-source from your readers on-the-ground stories of fun events, local news, and other noteworthy developments as they happen. Your media site gets more relevant news and viewpoints aggregated on the site, and people can be informed and connected with each other around you.</p>
                        </li>
                        <li>
                            <h5>For Retail</h5>
                            <p>Get visual testimonials, accounts, and reviews from your customers that market to and inform prospective customers. Viewing photos and reading stories about how people purchased the same organic seeds, planted them, grew them, and harvested them for dinner personalizes the experience of your brand. These stories help people picture themselves in the shoes of existing customers - the best form of word-of-mouth endorsement</p>
                        </li>
                        <li>
                            <h5>For Hobbies & Sports</h5>
                            <p>
                                Shape your site into a resource destination for people who share the same interests to gather at over memories, projects, and techniques. Sports fans can bond over victories, archers can talk bows, and crafters can share DIY tricks. People are naturally invested in their interests, and love hearing about them. Capture that conversation on your site.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {{/public_content}}
{{/public_super}}