{{<public_super}}
    {{$title}}Echoed | Storytelling 101{{/title}}
    {{$content}}
    <div id="content">
        <section>
            <div class="center-static">
                <div class="title">
                    <h1>Story Guidelines</h1>
                </div>
            </div>
        </section>
        <section>
            <div class="center-static">
                <h2>Make It Authentic</h2>
                <div class="center-section">
                    <p>
                        <strong>These are your stories,</strong> which means all content should be yours. Please do not share the images, movies, thoughts and experiences of others.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="center-static">
                <h2>Common Courtesy Counts</h2>
                <div class="center-section">
                    <p>
                        When sharing your story or engaging in a discussion with the author of a story and other community members, <strong>please be respectful.</strong> Everyone is entiteld to their opinion but let's keep things friendly. Not everyone's taste is the same and that's a good thing - it's what makes Echoed so interesting.
                    </p>
                </div>
        </section>
        <section>
            <div class="center-static">
                <h2>If It Smells Fishy, Let Us Know</h2>
                <div class="center-section">
                    <p>
                        <strong>We don't condone objectionable content.</strong> If you find any materials submitted offensive, please contact us immediately. We will review it and take the appropriate measures. For more information take a look at our <a class="highlight" href="{{urls.site}}/terms">Terms of Service</a>
                    </p>
                </div>
        </section>
        <section>
            <div class="center-static">
                <h2>Help Us Be Better</h2>
                <div class="center-section">
                    <p>
                        We think that there's something special going on here but <strong>your feedback will make it even better!</strong> We take your input very seriously, so use the Contact Us tab below to tell us how we can improve Echoed.
                    </p>
                </div>
            </div>
        </section>
    </div>
    {{/content}}
{{/public_super}}