<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>New partner {{partner.name}}</title>
</head>
<body>
<div>
    <p>
        {{partnerUser.name}} has added Echoed to their Shopify store <a href="http://{{partner.domain}}">{{partner.name}}</a>.
        Please contact them at <strong>{{partner.phone}}</strong> or <strong>{{partnerUser.email}}</strong>
    </p>
</div>
</body>
</html>
