    {{>partial_header}}
    <title>Echoed | Partner Register</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-static.css"/>
</head>
<body class="">
<img id="mainImage" src="{{urls.images}}/bleed-couch.jpg" style="display:none;"/>
<div id="container">
    {{>partial_staticNavBar}}
    <div id="primary">
        <div class="center clearfix">
            <div id="lm">
                <div id="lm-top" class="clearfix">
                    <div id="lm-label">Partner Register</div>
                    <div id="lm-partner-form">
                        <div id="lm-error">
                        {{#errors.global}}{{this}}{{/errors.global}}
                        </div>
                        <form action="{{urls.site}}/shopify/update" method="POST">
                            <fieldset>
                                <legend>Settings</legend>
                                <label  for="registerForm.partnerId">Partner Id<em> * </em><span class="error">{{errors.registerForm.partnerId}}</span></label>
                                <input  id="registerForm.partnerId"
                                        name="registerForm.partnerId"
                                        type="text"
                                        placeholder="What is the percentage for echoing to exhibit?"
                                        value="{{registerForm.partnerId}}"
                                        readonly="readonly"/>
                                <label  for="registerForm.exhibitPercentage">Exhibit Percentage<em> * </em><span class="error">{{errors.registerForm.exhibitPercentage}}</span></label>
                                <input  id="registerForm.exhibitPercentage"
                                        name="registerForm.exhibitPercentage"
                                        type="text"
                                        placeholder="What is the percentage for echoing to exhibit?"
                                        value="{{registerForm.exhibitPercentage}}" />
                                <label  for="registerForm.minClicks">Min Clicks<em> * </em><span class="error">{{errors.registerForm.minClicks}}</span></label>
                                <input  id="registerForm.minClicks"
                                        name="registerForm.minClicks"
                                        type="text"
                                        placeholder="What is the minimum number of clicks for credit?"
                                        value="{{registerForm.minClicks}}" />
                                <label  for="registerForm.minPercentage">Min Percentage<em> * </em><span class="error">{{errors.registerForm.minPercentage}}</span></label>
                                <input  id="registerForm.minPercentage"
                                        name="registerForm.minPercentage"
                                        type="text"
                                        placeholder="What is the percentage credit for minimum clicks?"
                                        value="{{registerForm.minPercentage}}" />
                                <label  for="registerForm.maxClicks">Max Clicks<em> * </em><span class="error">{{errors.registerForm.maxClicks}}</span></label>
                                <input  id="registerForm.maxClicks"
                                        name="registerForm.maxClicks"
                                        type="text"
                                        placeholder="What is the max number for clicks allowed for credit?"
                                        value="{{registerForm.maxClicks}}" />
                                <label  for="registerForm.maxPercentage">Max Percentage<em> * </em><span class="error">{{errors.registerForm.maxPercentage}}</span></label>
                                <input  id="registerForm.maxPercentage"
                                        name="registerForm.maxPercentage"
                                        type="text"
                                        placeholder="What is the percentage credit for max clicks?"
                                        value="{{registerForm.maxPercentage}}" />
                                <label  for="registerForm.echoedMatchPercentage">Echoed Match Percentage<em> * </em><span class="error">{{errors.registerForm.echoedMatchPercentage}}</span></label>
                                <input  id="registerForm.echoedMatchPercentage"
                                        name="registerForm.echoedMatchPercentage"
                                        type="text"
                                        placeholder="What is Echoed's credit match percentage?"
                                        value="{{registerForm.echoedMatchPercentage}}" />
                                <label  for="registerForm.echoedMaxPercentage">Echoed Max Percentage<em> * </em><span class="error">{{errors.registerForm.echoedMaxPercentage}}</span></label>
                                <input  id="registerForm.echoedMaxPercentage"
                                        name="registerForm.echoedMaxPercentage"
                                        type="text"
                                        placeholder="What is Echoed's max credit percentage?"
                                        value="{{registerForm.echoedMaxPercentage}}" />
                                <label  for="registerForm.creditWindow">Credit Window<em> * </em><span class="error">{{errors.registerForm.creditWindow}}</span></label>
                                <input  id="registerForm.creditWindow"
                                        name="registerForm.creditWindow"
                                        type="text"
                                        placeholder="What is the time span in hours for credit?"
                                        value="{{registerForm.creditWindow}}" />
                                <label  for="registerForm.activeOn">Active On<em> * </em><span class="error">{{errors.registerForm.activeOn}}</span></label>
                                <input  id="registerForm.activeOn"
                                        name="registerForm.activeOn"
                                        type="text"
                                        placeholder="When do you want to make this partner active?"
                                        value="{{registerForm.activeOn}}" />
                            </fieldset>
                            <br/>
                            <input  id="registerForm.register"
                                    name="registerForm.register"
                                    type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gap"></div>
    <div id="footer" class="float">
        <div class="center clearfix">
            <div id="footer-nav">
                <a href="{{urls.site}}/howitworks">How It Works</a>
                <a href="{{urls.site}}/contactus">Contact Us</a>
                <div class="copyright" style="float:right;line-height:45px;">
                    Copyright 2012 - Echoed Inc.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
        $('#mainImage').imagesLoaded(function(){
            var fullBleed = new FullBleed();
        });
    });
</script>
{{>partial_google}}
