{{<email_super}}
    {{$title}}New Shopify partner {{partner.name}}{{/title}}
    {{$subject}}New Shopify partner {{partner.name}}{{/subject}}
    {{$content}}
        <div>
            <p>
                {{partnerUser.name}} has added Echoed to their Shopify store <a href="http://{{partner.domain}}">{{partner.name}}</a>.
                Please contact them at <strong>{{partner.phone}}</strong> or <strong>{{partnerUser.email}}</strong>
            </p>
            <p>For your reference, the integration instructions the partner received is below:</p>
            {{> shopify_partial_integration}}
        </div>
    {{/content}}
{{/email_super}}