<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Story Name</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed-story.css" />
    <script type='text/javascript' src="{{urls.js}}/webfonts.js"></script>
</head>
<body>
<div class="echo-story-container">
    <div class="echo-story-header">
        <div class="echo-s-h-product">
        </div>
        <div class="echo-s-h-title">
            <span class="echo-s-h-t-t">Chewy Vuitton Designer Handbag</span><br/>
            Story by <span class="echo-s-h-t-n">Evan Weissbrot</span>
        </div>
    </div>
    <div id="echo-story-body" class="echo-story-body clearfix">
        <div class="echo-s-b-item">
            <div class="echo-s-b-i-c">
                <div class="echo-s-b-i-t">
                    <div class="echo-s-b-i-t-t">
                        Why I Bought It
                    </div>
                    <div class="echo-s-b-i-t-b">
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!
                        This is for our beautiful dog Stella. Forget about all the bones and other stuff she tears right through, we're going high class with a Chewy Vuitton. Only the best in French fashion for our little Frenchie!

                    </div>
                    <div class="echo-s-b-i-t-f">
                        1 of 2
                    </div>
                </div>
            </div>
        </div>
        <div class="echo-s-b-item">
            <div class="echo-s-b-i-c">
                <img src="http://farm8.staticflickr.com/7087/7269959254_e50387b579_z.jpg" />
            </div>
        </div>
        <div class="echo-s-b-item">
            <div class="echo-s-b-i-c">
                <img src="http://farm8.staticflickr.com/7087/7269959254_e50387b579_z.jpg" />
            </div>
        </div>
        <div class="echo-s-b-item">
            <div class="echo-s-b-i-c">
                <img src="http://farm8.staticflickr.com/7087/7269959254_e50387b579_z.jpg" />
            </div>
        </div>

        <div class="echo-s-b-item">
            <div class="echo-s-b-i-c">
                <img src="http://farm8.staticflickr.com/7087/7269959254_e50387b579_z.jpg" />
            </div>
        </div>

    </div>
    <div class="echo-story-footer clearfix">
        <div class="echo-story-nav clearfix">
            <div class="echo-s-n-s">
                <img src="http://farm8.staticflickr.com/7211/7304310518_48c60037a8_z.jpg" />
            </div>
            <div class="echo-s-n-s">
                <img src="http://farm8.staticflickr.com/7211/7304310518_48c60037a8_z.jpg" />
            </div>
        </div>
        <div class="echo-story-comments">
            <div class="echo-s-c-t">
                Comments:
            </div>
        </div>
    </div>
</div>
</body>
<script type='text/javascript' src="{{urls.js}}/masonry.min.js"></script>
<script type='text/javascript'>
    window.onload = function(){
        var wall = new Masonry(document.getElementById('echo-story-body'));
    }
</script>
<script type='text/javascript'>
    var Echoed = {
        "items" : [{
            "type" : "text",
            "title": "WHY I BOUGHT IT",
            "content" : "STELLA"
        },
            { "type" : "image", "url" : "http://farm8.staticflickr.com/7087/7269959254_e50387b579_z.jpg"},
            { "type" : "image", "url" : "http://farm8.staticflickr.com/7087/7269959254_e50387b579_z.jpg"}
        ]
    };
</script>
<script type='text/javascript'>
    var htmlBody = document.getElementsByTagName('body')[0];

    var containerNode = document.createElement('div');
    containerNode.className = "echo-story-container";

    var headerNode = document.createElement('div');
    headerNode.className = "echo-story-header";

    var bodyNode = document.createElement('div');
    bodyNode.className = "echo-story-body clearfix";

    var footerNode = document.createElement('div');
    footerNode.className = "echo-footer-body";

    containerNode.appendChild(headerNode);
    containerNode.appendChild(bodyNode);
    containerNode.appendChild(footerNode);

    var navNode = document.createElement('div');
    navNode.className = "echo-story-nav";
    footerNode.appendChild(navNode);

    htmlBody.appendChild(containerNode);

    for (var i = 0; i < Echoed.items.length; i++){
        var item = Echoed.items[i];

        var itemNode = document.createElement('div');
        itemNode.className = "echo-s-b-item";
        var icNode = document.createElement('div');
        icNode.className = "echo-s-b-i-c";
        itemNode.appendChild(icNode);

        switch(item.type){
            case "text":
                var textNode = document.createElement('div');
                textNode.className = 'echo-s-b-i-t';
                var titleNode = document.createElement('div');
                titleNode.className = 'echo-s-b-i-t-t';
                titleNode.innerHTML = item.title;
                textNode.appendChild(titleNode);
                var contentNode = document.createElement('div');
                contentNode.className = 'echo-s-b-i-t-b';
                contentNode.innerHTML = item.content;
                textNode.appendChild(contentNode);
                icNode.appendChild(textNode);
                break;
            case "image":
                var img = document.createElement('img');
                img.src = item.url;
                icNode.appendChild(img);
                break;
        }
        bodyNode.appendChild(itemNode);
    }
    window.onload = function(){
        var masonry = new Masonry(bodyNode);
    }
</script>
</html>