<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="{{urls.images}}/favicon.png" type="image/png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type='text/javascript' src="{{urls.js}}/webfonts.js"></script>
    <script type='text/javascript' src="{{urls.js}}/jquery-1.6.2.min.js"></script>
    <script type='text/javascript' src="{{urls.js}}/json2.js"></script>
    <script type='text/javascript' src="{{urls.js}}/underscore-min.js"></script>
    <script type='text/javascript' src="{{urls.js}}/backbone-0.9.1-min.js"></script>
    <script type='text/javascript' src="{{urls.js}}/jquery.imagesloaded.js"></script>
    <script type='text/javascript' src="{{urls.js}}/jquery.isotope.min.js"></script>
    <script type='text/javascript' src="{{urls.js}}/echoed.js"></script>
    <script type='text/javascript' src="{{urls.js}}/fileuploader.js"></script>
    <script type="text/javascript">
        Echoed.errors = {};
        Echoed.errors.global = new Array();
        //{{#errors.global}}//
        Echoed.errors.global.push("{{this}}");
        //{{/errors.global}}//

        //{{#errors.fieldErrors}}//
        Echoed.errors["{{object}}"] = {}
        //{{/errors.fieldErrors}}//

        //{{#errors.fieldErrors}}//
        Echoed.errors["{{object}}"]["{{field}}"] = "{{message}}"
        //{{/errors.fieldErrors}}//

        Echoed.messages = {};
        Echoed.messages.global = new Array();
        //{{#messages.global}}//
        Echoed.messages.global.push("{{this}}");
        ///{{/messages.global}}//

        Echoed.urls = {};
        //{{#urls}}//
        Echoed.urls.api = "{{api}}";
        Echoed.urls.cdn = "{{cdn}}";
        Echoed.urls.js = "{{js}}";
        Echoed.urls.css = "{{css}}";
        Echoed.urls.images = "{{images}}";
        Echoed.urls.views = "{{views}}";
        Echoed.urls.site = "{{site}}";
        //{{/urls}}//
    </script>
    <title>{{$title}}Echoed{{/title}}</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed.css"/>
    {{$header}} {{/header}}
</head>
<body>
    {{$content}} {{/content}}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28093745-1']);
        _gaq.push(['_setDomainName', 'echoed.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>