{{<common_super}}
{{$jsHead}}
    {{#scriptTag}}main.js{{/scriptTag}}
{{/jsHead}}
{{$css}}
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed.css"/>
{{/css}}
{{$header}}
{{/header}}
{{$content}}
    <div id="container">
        <div id="header-container">
            <div id="logo">
                <a href="/"><img height="40px" src="{{urls.images}}/logo.png"></a>
            </div>
            <div id="header-tabs">
                <ul>
                    <li>
                        <a href="about">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="business">
                            For Your Website
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.echoed.com">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div id="user" class="clearfix">
                {{#echoedUser}}
                <div id="user-image">
                    {{#facebookId}}
                    <img id="u-i-i" height="30px" width="30px" src="http://graph.facebook.com/{{.}}/picture" />
                    {{/facebookId}}
                    {{^facebookId}}
                        {{#twitterId}}
                        <img id="u-i-i" height="30px" width="30px" src="http://api.twitter.com/1/users/profile_image/{{.}}" />
                        {{/twitterId}}
                    {{/facebookId}}
                </div>
                {{/echoedUser}}
                <div id="user-text">
                    {{#echoedUser}}
                        {{name}}
                    {{/echoedUser}}
                    {{^echoedUser}}
                        Learn More
                    {{/echoedUser}}
                </div>
                <span class="downarrow"></span>
                <div id="user-list">
                    <ul>
                        <li class="user-list-item" href="guidelines">Sharing Guidelines</li>
                        <li class="user-list-item" href="privacy">Privacy Policy</li>
                        <li class="user-list-item" href="terms">Terms of Service</li>
                        {{#echoedUser}}
                        <li class="user-list-item" href="logout"><strong>Logout</strong></li>
                        {{/echoedUser}}
                    </ul>
                </div>
            </div>
            <div id="notifications-container">
                <div id="notifications">
                    <div id="notifications-text">
                    </div>
                </div>
                <div id="notifications-menu">
                    <div id="notifications-list-header">
                    </div>
                    <div id="notifications-list">
                    </div>
                    <div id="notification-settings">
                        Send Notification E-mail:
                        <input id="receive-notification-email-cb" type="checkbox" />
                    </div>
                </div>
            </div>
        </div>
        <div id="nav-container">
            <div id="actions"></div>
            <div id="header-nav" class="clearfix">
                <div class="nav-label">
                    Navigate
                </div>
                <ul>
                    <li class="icon_world" href="#!" id="explore_nav">
                        Community
                    </li>
                    {{#echoedUser}}
                    <li class="icon_friends" href="#!me/friends" id="friends_nav">
                        My Friends
                    </li>
                    <li class="icon_me" href="#!me" id="exhibit_nav">
                        My Stories
                    </li>
                    {{/echoedUser}}
                </ul>
            </div>
            <div id="category-nav" class="clearfix">
                <div class="category-menu-header">Top Communities</div>
                <div id="category-list">
                </div>
                <div id="category-more">+ More Communities</div>
            </div>
        </div>
        <div id="fade" style="display:none;">
            <div id="story" style="display:none"></div>
            <div id="field" style="display:none;"></div>
            <div id="menu" style="display:none;"></div>
        </div>
        <div id="content" class="clearfix">
            <!--<div id="title-container">
                <div id="title">
                    <div id="title-text">
                    </div>
                    <div id="title-description">
                    </div>
                </div>
            </div>-->
            <div id="exhibit" class="clearfix">
            </div>
        </div>
        <div id="infiniteScroll" style="display:none;">
            Loading <img align="absmiddle" src="{{urls.images}}/bk_loader_circle.gif" />
        </div>
    </div>
    <script type="text/javascript">

        {{#echoedUser}}
        Echoed.echoedUser = {};
        Echoed.echoedUser.id = '{{id}}';
        {{/echoedUser}}

    </script>
    <script type="text/javascript">

    </script>
{{/content}}

{{/common_super}}

