    {{> header}}
    <title>Echoed</title>
    <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed.css?v={{version}}"/>
    <script type="text/template" id="templates-components-product">
        <div class="item_hover" width="240px" style="display:none;">
            <div class="item_hover_wrap">
            </div>
        </div>
        <img class="exhibit_image" width="230px" src=""/>
        <div class="item_text">
        </div>
    </script>

    <script type="text/templates" id="templates-pages-exhibit">
        <div id="exhibit">
        </div>
    </script>
</head>
<body>
<div id="container" class="facebook">
    <div id="header" class="facebook">
        <div class="clearfix">
            <div id="logo">
                <img height="40px" src="{{urls.images}}/logo.png">
            </div>
            <div id="user" class="clearfix">
            </div>
            <div id="header-nav" class="clearfix">
                <ul>
                    <li id="explore_nav">
                        <a href="#explore">
                            Live Feed
                        </a>
                    </li>
                    <li id="exhibit_nav">
                        <a href="#exhibit">
                            My Exhibit
                        </a>
                    </li>
                    <li id="friends_nav">
                        <a href="#friends">
                            My Friends
                        </a>
                    </li>
                </ul>
            </div>
            <div id="networks">
                {{#echoedUser}}
                {{#facebookUserId}}
                <img id="facebookAccount" src="{{urls.images}}/btn_sq_clr_fb.png" alt="facebook"/>
                {{/facebookUserId}}
                {{^facebookUserId}}
                <a id="addFacebookLink" href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{urls.site}}/facebook/add&scope=email,publish_stream,offline_access">
                    <img src="{{urls.images}}/btn_sq_grey_fb.png" alt="facebook"/>
                </a>
                {{/facebookUserId}}
                {{#twitterUserId}}
                <img id="twitterAccount" src="{{urls.images}}/btn_sq_clr_tw.png" alt="twitter"/>
                {{/twitterUserId}}
                {{^twitterUserId}}
                <a id="addTwitterLink" href="{{urls.site}}/twitter?redirect="/>
                <img src="{{urls.images}}/btn_sq_grey_tw.png" alt="twitter"/>
                </a>
                {{/twitterUserId}}
                {{/echoedUser}}
            </div>
        </div>
        <div id="content-selector-container">
            <div id="content-title"></div>
            <div id="content-selector"></div>
        </div>
    </div>
    <div id="content">
    </div>
</div>
</body>
</html>
<script>
    $.Isotope.prototype._getCenteredMasonryColumns = function() {
        this.width = this.element.width();

        var parentWidth = this.element.parent().width();

        // i.e. options.masonry && options.masonry.columnWidth
        var colW = this.options.masonry && this.options.masonry.columnWidth ||
            // or use the size of the first item
                this.$filteredAtoms.outerWidth(true) ||
            // if there's no items, use size of container
                parentWidth;

        var cols = Math.floor( parentWidth / colW );
        cols = Math.max( cols, 1 );

        // i.e. this.masonry.cols = ....
        this.masonry.cols = cols;
        // i.e. this.masonry.columnWidth = ...
        this.masonry.columnWidth = colW;
    };

    $.Isotope.prototype._masonryReset = function() {
        // layout-specific props
        this.masonry = {};
        // FIXME shouldn't have to call this again
        this._getCenteredMasonryColumns();
        var i = this.masonry.cols;
        this.masonry.colYs = [];
        while (i--) {
            this.masonry.colYs.push( 0 );
        }
    };

    $.Isotope.prototype._masonryResizeChanged = function() {
        var prevColCount = this.masonry.cols;
        // get updated colCount
        this._getCenteredMasonryColumns();
        return ( this.masonry.cols !== prevColCount );
    };

    $.Isotope.prototype._masonryGetContainerSize = function() {
        var unusedCols = 0,
                i = this.masonry.cols;
        // count unused columns
        while ( --i ) {
            if ( this.masonry.colYs[i] !== 0 ) {
                break;
            }
            unusedCols++;
        }

        return {
            height : Math.max.apply( Math, this.masonry.colYs ),
            // fit container to columns that have been used;
            width : (this.masonry.cols - unusedCols) * this.masonry.columnWidth
        };
    };

</script>
<script type="text/javascript">
    $(document).ready(function() {
        Echoed.init();
    });
</script>
{{> google}}
