{{<user_super}}

{{$header}}
    <script type="text/template" id="templates-components-login">
        <div class="item_content">
            <div id="login-container">
                <div id="login-title">Join Echoed</div>
                <div id="login-description">Share stories about the products you love.<br/>Login to begin sharing your story.</div>
                <div id="login-buttons">
                    <a id="facebookLogin" href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{https.site}}/facebook/login&scope=email,user_birthday,publish_actions"><img class="login-button" src="{{urls.images}}/btn_facebook_login.png"></a>
                    <a id="twitterLogin" href="{{urls.site}}/twitter?redirect="><img class="login-button" src="{{urls.images}}/btn_twitter_login.png"></a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="templates-components-product">
        <div class="item_content">
            <div class="item_hover" style="display:none;">
                <div class="item_hover_wrap">
                </div>
            </div>
            <img class="exhibit_image" width="230px" src=""/>
            <div class="item_text">
            </div>
        </div>
        </div>
    </script>
    <script type="text/template" id="templates-components-story-brief">
        <div class="item_content">
            <div class="story-brief">
                <div class="story-brief-image-container">
                    <div class="story-brief-overlay" style="display:none;">
                        <div class="story-brief-overlay-wrap">
                        </div>
                    </div>
                    <img class="story-brief-image" src= ""/>
                </div>
                <div class="story-brief-text"></div>
            </div>
        </div>
    </script>
    <script type="text/template" id="templates-components-story-login">
        <div class="field-close"><img src="{{urls.images}}/btn_close_x_black.png" /></div>
        <div class="story-login">
            <div class="field-logo"><img src="{{urls.images}}/logo.png" /></div>
            <div class="field-login-title">Share stories about the products you love.<br/>Login to begin sharing your story.</div>
            <div class="field-login-body">
            </div>
            <div class="field-login-button">
                <a id="field-fb-login" href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{https.site}}/facebook/login&scope=email,user_birthday,publish_actions"><img class="login-button" src="{{urls.images}}/btn_facebook_login.png"></a>
            </div>
            <div class="field-login-button">
                <a id="field-tw-login" href="{{urls.site}}/twitter?redirect="><img class="login-button" src="{{urls.images}}/btn_twitter_login.png"></a>
            </div>
        </div>
    </script>
    <script type="text/template" id="templates-components-story-summary">
        <div class="field-close"><img src="{{urls.images}}/btn_close_x_black.png" /></div>
        <div class="field-title">Share Your Product Story</div>
        <div class="story-summary">
            <div class="story-summary-header">

                <div class="story-summary-header-row">
                    <label>Story Title:</label>
                    <div id="story-summary-title">
                    </div>
                </div>
                <div class="story-summary-header-row">
                    <label>From:</label>
                    <div id="story-summary-from">
                    </div>
                </div>
                <div class="story-summary-header-row">
                    <label>Story Cover Photo:</label>
                    <div id="story-summary-photo-container">
                        <img id="story-summary-photo" src="">
                    </div>
                </div>
            </div>
            <div class="story-summary-body">
            </div>
            <div class="story-summary-buttons">
                <span class="story-summary-submit" act="add">Add Another Story</span>
                <span class="story-summary-submit" act="finish">I'm Done!</span>
            </div>
        </div>

    </script>
    <script type="text/template" id="templates-components-story-edit">
        <div class="field-close"><img src="{{urls.images}}/btn_close_x_black.png" /></div>
        <div class="field-title">Share Your Product Story</div>
        <div class="story-edit">
            <div id="story-edit-header" class="clearfix">
                <div id="story-title-photo-container">
                    <img id="story-title-photo" src="">
                </div>
                <div id="story-title-text-container">
                    <div id="story-title">
                    </div>
                </div>
            </div>
            <div class="chapter-edit-body clearfix">
                <div class="chapter-edit-body-top">
                    <div class="chapter-edit-body-top-title">
                        Looking Great!
                    </div>
                    <div class="chapter-edit-body-top-subtitle">
                        Now tell us something about the product.
                    </div>
                    <div class="chapter-edit-body-top-tips">
                        <strong>Tips:</strong> There's no right or wrong way to tell your story. Keep it simple! If you only want to write a sentence that's 100% fine. Some ideas:
                    </div>

                </div>
                <div class="chapter-edit-body-main">
                    <div class="chapter-edit-body-row">
                        <label for="chapter-title">
                            <strong>Story Title:</strong>
                        </label>
                        <input id="chapter-title" type="text" name="chapter-title" />
                    </div>
                    <div class="chapter-edit-body-row">
                        <label>
                            <strong>Description:</strong><br/>
                            Tell us a little more about your experience
                        </label>
                        <textarea id="chapter-text"></textarea>
                    </div>
                    <div class="chapter-edit-body-row">
                        <label>
                            <strong>Photos:</strong><br/>
                            Attach one or more photos.
                        </label>
                        <div class="chapter-edit-photos">
                            <div class="thumbnails">
                            </div>
                            <div class="thumbnail-placeholder">
                                <img class="thumb" src="{{urls.images}}/bk_img_upload_ph.jpg" />
                            </div>
                            <div class="photo-upload"></div>
                        </div>
                    </div>
                    <div class="chapter-edit-body-row">
                        <label></label>
                        <span class="chapter-submit">Save Story</span>
                        <span class="chapter-cancel">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="templates-components-story">
        <div class="echo-story-container">
            <div class="echo-story-header clearfix">
                <div class="echo-s-h-close"><img src="{{urls.images}}/btn_close_x_black.png" /></div>
                <div class="echo-s-h-title clearfix">
                    <div class="echo-s-h-i-c">
                        <img class="echo-s-h-i-i" src="" />
                    </div>
                    <div class="echo-s-h-t-t">
                    </div>
                    <div class="echo-s-h-t-n">
                    </div>
                </div>
            </div>

            <div class="echo-story-body clearfix">
                <div class="echo-s-b-text">
                    <div class="echo-s-b-t-t"></div>
                    <div class="echo-s-b-t-b"></div>
                    <div class="echo-chapters clearfix">
                        <div class="echo-chapters-title">
                            Stories
                        </div>
                    </div>
                </div>
                <div class="echo-s-b-segment"></div>
                <div class="echo-s-b-gallery clearfix">
                </div>
            </div>
            <div class="echo-story-footer clearfix">
                <div class="echo-story-comments">
                    <div class="echo-s-c-t">
                        Discussion <span id="echo-s-c-t-count"></span>
                    </div>
                    <div class="echo-s-c-ta">
                        <textarea id="echo-story-comment-ta"></textarea>
                    </div>
                    <span class="comment-submit" style="display: none;">Submit Comment</span>
                    <span class="comment-login" style="display: none;"></span>
                    <div class="echo-s-c-l">
                        <!-- Comment List -->
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/templates" id="templates-components-profile">
        <div class="profile_content">
            <div class="profile_username"></div>
            <div class="clearfix">
                <div class="profile_stat">
                    <div class="profile_reward"></div>
                </div>
                <div class="profile_stat">
                    <div class="profile_referrers"></div>
                </div>
            </div>
            <div class="clearfix">
                <div class="profile_stat">
                    <div class="profile_label">Comments</div>
                    <div class="profile_comments"></div>
                </div>
                <div class="profile_stat">
                    <div class="profile_label">Likes</div>
                    <div class="profile_comments"></div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/templates" id="templates-components-story-input">
        <div class="field-close"><img src="{{urls.images}}/btn_close_x_black.png" /></div>
        <div class="field-title">Share Your Product Story</div>
        <div class="field-main-col clearfix">
            <div class="field-row">
                <label>
                    <strong>Product Name or Title</strong><br/>
                </label>
                <div class="field-indent">
                    <input id="story-name" type="text">
                </div>
            </div>
            <div class="field-row">
                <label>
                    <strong>Where Is The Product From?</strong><br/>
                    (Store Name or Url)
                </label>
                <div class="field-indent">
                    <input id="story-from" type="text">
                </div>
            </div>
            <div class="field-row">
            <label>
                <strong>Product Photo</strong><br/>
            </label>
            <div class="field-indent clearfix">
                <div class="field-photo-container">
                    <div id="preview">
                        <img height="150px" src="{{urls.images}}/bk_img_upload_ph.jpg" id="field-photo">
                    </div>
                </div>
                <div id="field-photo-upload"></div>
            </div>
            </div>
            <div class="field-row">
                <label></label>
                <div class="field-indent">
                    <div class="field-submit">Save and Continue</div>
                </div>
            </div>
        </div>
    </script>
{{/header}}

{{$content}}
    <div id="container">
        <div id="header-container">
            <div id="logo">
                <a href="#"><img height="40px" src="{{urls.images}}/logo.png"></a>
            </div>
            {{#echoedUser}}
            <div id="user" class="clearfix">

                <div id="user-image">
                    {{#facebookId}}
                    <img id="u-i-i" height="30px" width="30px" src="http://graph.facebook.com/{{.}}/picture" />
                    {{/facebookId}}
                </div>
                <div id="user-text">
                    {{name}}( <span class="highlight"><strong><a id="logout" href="logout">Logout</a></strong></span> ) <br />
                </div>
            </div>
            {{/echoedUser}}
        </div>
        <div id="nav-container">
            <div id="actions"></div>
            {{#echoedUser}}

            <div id="header-nav" class="clearfix">
                <div class="nav-label">
                    Browse:
                </div>
                <ul>
                    <li class="icon_world" href="#" id="explore_nav">
                        Everyone
                    </li>
                    <li class="icon_friends" href="#me/friends" id="friends_nav">
                        My Friends
                    </li>
                    <li class="icon_me" href="#me" id="exhibit_nav">
                        Me
                    </li>
                </ul>
            </div>
            {{/echoedUser}}
            {{^echoedUser}}
            <div id="footer-nav">
                <ul>
                    <li><a href="{{urls.site}}/whatisechoed">About Us</a></li>
                    <li><a href="{{urls.site}}/business">For Business</a></li>
                    <li><a href="{{urls.site}}/privacy">Privacy Policy</a></li>
                    <li><a href="{{urls.site}}/terms">Terms of Service</a></li>
                </ul>
            </div>
            {{/echoedUser}}
        </div>
        <div id="content" class="clearfix">
            <div id="title-container">
                <div id="title">
                    <div id="title-text">
                    </div>
                    <div id="title-description">
                    </div>
                </div>
            </div>
            <div id="exhibit" class="clearfix">
            </div>
        </div>
        <div id="infiniteScroll" style="display:none;">
            Loading More Products <img align="absmiddle" src="{{urls.images}}/bk_loader_circle.gif" />
        </div>
        <div id="fade" style="display:none;">
            <div id="story" style="display:none"></div>
            <div id="field" style="display:none;"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            {{#echoedUser}}
            Echoed.echoedUser = {};
            Echoed.echoedUser.id = '{{id}}';
            {{/echoedUser}}
            {{^echoedUser}}
                Echoed.facebookLogin ={};
                Echoed.facebookLogin.head = "https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri=";
                Echoed.facebookLogin.redirect = "{{https.site}}/facebook/login?redirect=";
                Echoed.facebookLogin.tail = "&scope=email,user_birthday,publish_actions";
                Echoed.twitterUrl = "{{urls.site}}/twitter?redirect=";
            {{/echoedUser}}
            Echoed.init();
        });
    </script>
    <script type="text/javascript">
        $.Isotope.prototype._getCenteredMasonryColumns = function() {
            this.width = this.element.width();

            var parentWidth = this.element.parent().width();

            // i.e. options.masonry && options.masonry.columnWidth
            var colW = this.options.masonry && this.options.masonry.columnWidth ||
                // or use the size of the first item
                    this.$filteredAtoms.outerWidth(true) ||
                // if there's no items, use size of container
                    parentWidth;

            var cols = Math.floor( parentWidth / colW );
            cols = Math.max( cols, 1 );

            // i.e. this.masonry.cols = ....
            this.masonry.cols = cols;
            // i.e. this.masonry.columnWidth = ...
            this.masonry.columnWidth = colW;
        };

        $.Isotope.prototype._masonryReset = function() {
            // layout-specific props
            this.masonry = {};
            // FIXME shouldn't have to call this again
            this._getCenteredMasonryColumns();
            var i = this.masonry.cols;
            this.masonry.colYs = [];
            while (i--) {
                this.masonry.colYs.push( 0 );
            }
        };

        $.Isotope.prototype._masonryResizeChanged = function() {
            var prevColCount = this.masonry.cols;
            // get updated colCount
            this._getCenteredMasonryColumns();
            return ( this.masonry.cols !== prevColCount );
        };

        $.Isotope.prototype._masonryGetContainerSize = function() {
            var unusedCols = 0,
                    i = this.masonry.cols;
            // count unused columns
            while ( --i ) {
                if ( this.masonry.colYs[i] !== 0 ) {
                    break;
                }
                unusedCols++;
            }

            return {
                height : Math.max.apply( Math, this.masonry.colYs ),
                // fit container to columns that have been used;
                width : (this.masonry.cols - unusedCols) * this.masonry.columnWidth
            };
        };
    </script>
{{/content}}

{{/user_super}}
