{{<common_super}}
    {{$jsHead}}
        {{#scriptTag}}mobile.js{{/scriptTag}}
    {{/jsHead}}
    {{$css}}
        <link rel="stylesheet" type="text/css" href="{{urls.css}}/echoed.mobile.css" />
    {{/css}}
    {{$header}}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{/header}}
    {{$content}}
        <div id="container">
            <div id="header-container">
                <div id="logo">
                    <a href="#"><img height="30px" src="{{urls.images}}/logo.png"></a>
                </div>

                <div id="user">
                    <div id="user-text">
                        {{#echoedUser}}
                        <a class="login-text" href="#login">Login</a>
                        {{/echoedUser}}
                    </div>
                </div>
            </div>
            <div id="content">
                <div id="exhibit"></div>
                <div id="story"></div>
                <div id="login"></div>
            </div>
            <div id="infiniteScroll" style="display:none;">
                Loading <img align="absmiddle" src="{{urls.images}}/bk_loader_circle.gif" />
            </div>
        </div>
    {{/content}}
{{/common_super}}