(function(){
    if(typeof(window.EchoedSettings) ==='undefined') EchoedSettings = {};

    EchoedSettings.urls = {};
    {{#urls}}
    EchoedSettings.urls.api = "{{api}}";
    EchoedSettings.urls.cdn = "{{cdn}}";
    EchoedSettings.urls.js = "{{js}}";
    EchoedSettings.urls.css = "{{css}}";
    EchoedSettings.urls.images = "{{images}}";
    EchoedSettings.urls.views = "{{views}}";
    EchoedSettings.urls.site = "{{site}}";
    {{/urls}}

    {{#side}}
    EchoedSettings.openerSide = '{{.}}';
    {{/side}}


    var es = document.createElement('script'); es.type = 'text/javascript'; es.async = true;
    {{#DEV}}
    es.src = "{{https.js}}/require.js";
    es.setAttribute('data-main',"{{https.js}}/loader.js?pid={{partnerId}}");
    {{/DEV}}
    {{^DEV}}
    es.src = "{{https.js}}/loader.js?pid={{partnerId}}"
    {{/DEV}}
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(es, s);

})();