(function(){
    if(typeof(window.EchoedSettings) ==='undefined') EchoedSettings = {};

    {{>partial_requirejs}}

    EchoedSettings.urls = {};
    {{#urls}}
    EchoedSettings.urls.api = "{{api}}";
    EchoedSettings.urls.cdn = "{{cdn}}";
    EchoedSettings.urls.js = "{{js}}";
    EchoedSettings.urls.css = "{{css}}";
    EchoedSettings.urls.images = "{{images}}";
    EchoedSettings.urls.views = "{{views}}";
    EchoedSettings.urls.site = "{{site}}";
    {{/urls}}

    {{#side}}
    EchoedSettings.openerSide = '{{.}}';
    {{/side}}

    {{#customization}}
        {{#useGallery}}
            EchoedSettings.useGallery = {{.}};
        {{/useGallery}}
        {{^useGallery}}
            EchoedSettings.useGallery = false;
        {{/useGallery}}
        {{#useRemote}}
            EchoedSettings.useRemote = true;
            EchoedSettings.remote = {};
            EchoedSettings.remote.vert = "{{remoteVertical}}";
            EchoedSettings.remote.hor = "{{remoteHorizontal}}";
            EchoedSettings.remote.orientation = "{{remoteOrientation}}";
        {{/useRemote}}
        {{^useRemote}}
            EchoedSettings.useRemote = false;
        {{/useRemote}}
        {{#hideOpener}}
            EchoedSettings.hideOpener = {{.}};
        {{/hideOpener}}
        {{#title}}
            EchoedSettings.title = '{{.}}';
        {{/title}}
        {{^title}}
            EchoedSettings.title = 'Stories By The {{#partner}}{{name}}{{/partner}} Community';
        {{/title}}
        {{#shareButton}}
        {{.}}
        {{/shareButton}}
        {{^shareButton}}
            EchoedSettings.shareButton = 'Share Your Story';
        {{/shareButton}}
{{/customization}}

    var es = document.createElement('script'); es.type = 'text/javascript'; es.async = true;
    {{#dev}}
    es.src = "{{https.js}}/libs/require/require-2.1.1.js";
    es.setAttribute('data-main',"{{https.js}}/loader.js?pid={{partnerId}}");
    {{/dev}}
    {{^dev}}
    es.src = "{{https.js}}/loader.js?pid={{partnerId}}"
    {{/dev}}
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(es, s);
})();