    window.onload = function () {
        var body = document.getElementsByTagName('body')[0];

        var echoedOverlay = document.createElement('iframe');
        var hash = window.location.hash;
        var index = hash.indexOf('echoed');
        var iFrameHash = '';
        if(index > 0){
            var hString = hash.substr(index);
            if(hString.split('_')[1]) iFrameHash = '#' + hString.split('_')[1];
            else iFrameHash = "#home";
        }

        echoedOverlay.style.cssText = "z-index:9999; top: 0px; left: 0px; right: 0px; height: 100%; width: 100%; position: fixed; overflow-y: scroll; display: none;";
        echoedOverlay.src = "{{https.site}}/widget/iframe?pid={{partnerId}}&type=app" + iFrameHash;
        echoedOverlay.name = "echoed-iframe";
        echoedOverlay.id = "echoed-overlay";
        body.appendChild(echoedOverlay);

        if (typeof(EchoedSettings) === 'undefined') {
            EchoedSettings = {};
        }

        if (EchoedSettings.opener === undefined || EchoedSettings.opener === '#echoed-opener') {
            var echoedOpener = document.getElementById('echoed-opener');
            if (echoedOpener === null) {
                echoedOpener = document.createElement('div');
                echoedOpener.id = "echoed-opener";
                var openImage = document.createElement('img');
                {{#white}}
                openImage.src ="{{urls.images}}/bk_opener_white_left.png";
                {{/white}}
                {{^white}}
                openImage.src ="{{urls.images}}/bk_opener_dark_left.png";
                {{/white}}
                openImage.style.display = "block";
                echoedOpener.appendChild(openImage);

                body.appendChild(echoedOpener);
            }
            echoedOpener.style.cssText = "left: 0px; top: 175px; position: fixed; cursor: pointer;box-shadow: 1px 1px 2px rgba(34,25,25,0.4);-moz-box-shadow: 1px 1px 2px rgba(34,25,25,0.4);-webkit-box-shadow: 1px 1px 2px rgba(34,25,25,0.4);";
            echoedOpener.getElementsByTagName('img')[0].style.display = "block";
            echoedOpener.onclick = function () {
                showEchoedOverlay(echoedOverlay);
            };
        } else {
            var echoedOpener = document.getElementById(EchoedSettings.opener.replace("#", ""));
            echoedOpener.onclick = function () {
                showEchoedOverlay(echoedOverlay);
            };
        }

        var elements = document.getElementsByClassName("echoed-opener");
        for(var i = 0; i < elements.length; i++){
            elements[i].onclick = function(){
                showEchoedOverlay(echoedOverlay);
            }
        }

        if (window.addEventListener) {
            window.addEventListener('message', messageHandler, false);
        } else if (window.attachEvent) {
            window.attachEvent('onmessage', messageHandler);
        }


        if(index > 0 ) {
            showEchoedOverlay(echoedOverlay);
        }

        window.onhashchange = function(){
            var hash = window.location.hash;
            if(hash.indexOf("echoed") > 0){
                showEchoedOverlay(echoedOverlay);
            }
        };


    };

    function messageHandler(message) {
        if(message.data === "echoed-close"){
            var iframe = document.getElementById('echoed-overlay');
            iframe.style.display = "none";
        }
    };

    function showEchoedOverlay(overlay){
        overlay.style.display = "block";
        overlay.contentWindow.postMessage("echoed-open","*");
    };
