<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{urls.css}}/widget.css"/>
    {{$jsHead}}
        {{#scriptTag}}widget.js{{/scriptTag}}
    {{/jsHead}}
    <script>
        {{>partial_requirejs}}
        {{>partial_urls}}
        Echoed.partnerId = '{{partnerId}}';
        Echoed.facebookLogin ={};
        Echoed.facebookLogin.head = "https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri=";
        Echoed.facebookLogin.redirect = "{{https.site}}/facebook/login?redirect=";
        Echoed.facebookLogin.tail = "&scope=email,user_birthday,publish_actions";
        Echoed.twitterUrl = "{{urls.site}}/twitter?redirect=";
        {{#echoedUserId}}
        Echoed.echoedUser = {
            id: '{{.}}'
        }
        {{/echoedUserId}}

    </script>
</head>
<body>
<div id='echoed-head'>
    <!--Real Stories From Our Customers-->
    <div id="title">
        {{#customization.title}}
            {{.}}
        {{/customization.title}}
        {{^customization.title}}
            Stories From The {{#partner}}{{name}}{{/partner}} Community
        {{/customization.title}}
    </div>
    <div id="close">
    </div>
</div>

<div id="fade">
    <div id="story"></div>
    <div id="field"></div>
</div>
<div id="echoed-exhibit-container">
    <div class="echoed-share-container">
        <a class='echoed-share' href='#write/'>
            {{#customization.shareButton}}
                {{.}}
            {{/customization.shareButton}}
            {{^customization.shareButton}}
                Share Your Story
            {{/customization.shareButton}}
        </a>
    </div>
    <div id="content">
        <div id='exhibit'></div>
        <div id="infiniteScroll" style="display:none;">
            Loading <img align="absmiddle" src="{{urls.images}}/bk_loader_circle.gif" />
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    function postMessageInterface(data){
        self.postMessage(data, "*");
    }
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28093745-1']);
    _gaq.push(['_setDomainName', 'echoed.com']);
    _gaq.push(['_trackEvent', 'Widget', 'Load', '{{#partner}}{{id}}{{/partner}}']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
