<!DOCTYPE html>
<html style="height: 100%; width: 100%">
<head>
    <title></title>
    <!--<script type="text/javascript"  src="{{ https.site }}/widget/js?pid={{partner.id}}"></script>-->
</head>
<body style="height: 100%; width: 100%; overflow: hidden;" >
    <script type="text/javascript">
        window.location.hash = "#echoed_story/{{storyId}}";
    </script>
    <iframe src="{{domain}}" id="" frameborder="0" scrolling="no" style="position:fixed; top:0px; left:0px; right:0px; bottom:0px; height: 100%; width: 100%"></iframe>
    <iframe src="{{https.site}}/widget/iframe?pid={{partner.id}}#story/{{storyId}}" style="top: 0px; left: 0px; right: 0px; bottom: 0px; height: 100%; width: 100%; position: fixed; z-index: 1000000; display: inline;"></iframe>
</body>
</html>