<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{urls.css}}/widget.gallery.css"/>
    <script>
        {{>partial_requirejs}}
        {{>partial_urls}}
        {{#customization}}
            {{#showGallery}}
                Echoed.showGallery = {{.}};
            {{/showGallery}}
        {{/customization}}
        Echoed.partnerId = '{{partnerId}}';
        Echoed.facebookLogin ={};
        Echoed.facebookLogin.head = "https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri=";
        Echoed.facebookLogin.redirect = "{{https.site}}/facebook/login?redirect=";
        Echoed.facebookLogin.tail = "&scope=email,user_birthday,publish_actions";
        Echoed.twitterUrl = "{{urls.site}}/twitter?redirect=";
    </script>
    {{$jsHead}}
        {{#scriptTag}}widget.gallery.js{{/scriptTag}}
    {{/jsHead}}
</head>
<body style="overflow: hidden">
    <div id="header" class="clearfix">
        {{#customization.widgetTitle}}
            {{.}}
        {{/customization.widgetTitle}}
        {{^customization.widgetTitle}}
            Stories by the {{partner.name}} Community
        {{/customization.widgetTitle}}
        <div id="close">
        </div>
        <div id="share">
        {{#customization.widgetShareMessage}}
            {{.}}
        {{/customization.widgetShareMessage}}
        {{^customization.widgetShareMessage}}
            Add Your Story
        {{/customization.widgetShareMessage}}
        </div>
        <div id="view">
        {{#customization.viewButton}}
            {{.}}
        {{/customization.viewButton}}
        {{^customization.viewButton}}
            See All Stories
        {{/customization.viewButton}}
        </div>
    </div>
    <div id="container" class="clearfix">
        <div id="gallery-prev" class="gallery-nav">
        </div>
        <div id="gallery-viewport">
            <div id="gallery-container">
            </div>
        </div>
        <div id="gallery-next" class="gallery-nav">
        </div>
    </div>
</body>
</html>