<div id="ech-icon-container">
    <div id="echoed-icon-overlay" class="echoed-option">
        <div id="echoed-icon"></div>
    </div>
</div>
<div id="echoed-options" class="echoed-options">
    <div id="echoed-add" class="echoed-option"></div>
    <div id="echoed-i" class="echoed-option"></div>
</div>
<div id="echoed-preview" style="display:none;"></div>