<div id="ech-icon-container"><div id="echoed-icon"></div></div>
<div id="echoed-options" class="echoed-options">
    <div id="echoed-add"></div>
</div>
<div id="echoed-preview" style="display:non e;"></div>