<ul>
    <!--<li href="#communities">-->
        <!--Communities-->
    <!--</li>-->
    <li href="#explore">
        Explore
    </li>
    {{#id}}
    <!--<li href="#me/following">-->
        <!--Storytellers-->
    <!--</li>-->
    <li href="#me/feed">
        Following
    </li>
    <li href="#me/discussions">
        My Content
    </li>
    {{/id}}
</ul>