<ul>
    <!--<li href="#communities">-->
        <!--Communities-->
    <!--</li>-->
    {{#id}}
    <li href="#me/following">
        Storytellers
    </li>
    <li href="#user/{{id}}">
        My Stories
    </li>
    {{/id}}
</ul>