<div class="echo-s-c-l-c">
    <div class="echo-s-c-l-c-u">
        <img class="echo-s-c-l-c-u-i" src="{{profilePhotoUrl}}" align="absmiddle"/>
        <a class='story-link red-link' href="#user{{comment.echoedUser.id}}">{{ comment.echoedUser.name }}</a>
        <span class="echo-s-c-l-c-d">{{elapsedString}}</span>
    </div>
    <div class="echo-s-c-l-c-t">
        {{comment.text}}
    </div>
</div>