<div id="story-login">
    <div class="field-close"></div>
    <div class="story-login">
        <div class="story-login-logo">
            <img id="story-logo-img" height="50px" src="{{ imgUrl }}"/>
        </div>
        <div class="story-login-body">
            You'll need to login to do that
        </div>
        <div class="story-login-buttons">
            <span></span>
            <a id="story-fb-login" class="story-login-button facebook-button" href="{{ fbUrl }}" target="_blank">
                <span class="fb-login-logo"></span>
                <span class="login-button-text">Login With Facebook</span>
            </a>
            <a id="story-tw-login" class="story-login-button twitter-button" href="{{ twUrl }}" target="_blank">
                <span class="tw-login-logo"></span>
                <span class="login-button-text">Login With Twitter</span>
            </a>
        </div>
        <div class="story-login-email">
            <div>- or -</div>
            <a class="story-login-email" id="story-user-login" href="{{ loginUrl }}" target="_blank">Login</a> / <a class="story-login-email" id="story-user-signup" href="{{ signupUrl }}" target="_blank">Sign-up</a> With E-mail Address
        </div>
    </div>
</div>