<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns:p="http://www.springframework.org/schema/p"
        xmlns:akka="http://akka.io/schema/akka"
	    xmlns:context="http://www.springframework.org/schema/context"
	    xmlns:util="http://www.springframework.org/schema/util"
	    xsi:schemaLocation="
	        http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	        http://www.springframework.org/schema/context
	        http://www.springframework.org/schema/context/spring-context-3.0.xsd
	        http://www.springframework.org/schema/util
	        http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://akka.io/schema/akka
            http://akka.io/akka-1.2.xsd"
	    default-init-method="init"
	    default-destroy-method="destroy">


    <!-- This is here for validation purposes - any unresolved placeholders will prevent the application from starting...
                 The order is set to explicitly communicate that this property placeholder configurer will be run last (the default) and all
                 other property placeholder configurers should set their order to less than this.  Also, all other configurers should
                 set ignore unresolvable to true in order to allow the context to fully startup...

                 See http://tarlogonjava.blogspot.com/2009/02/tips-regarding-springs.html for an explanation of what is going on here. -->
    <context:property-placeholder order="2147483647"/>
    <context:property-placeholder
                location="classpath:applicationContext.properties"
                properties-ref="applicationProperties"
                ignore-unresolvable="true"
                ignore-resource-not-found="true"
                order="10000"/>
    <!--suppress SpringModelInspection -->
    <util:properties id="applicationProperties">
        <prop key="facebook.clientId">177687295582534</prop>
        <prop key="facebook.clientSecret">32dc29f669ce9f97bc9bade3bdf1ca79</prop>
        <prop key="facebook.accessToken">177687295582534|zXC5wmZqodeHhTpUVXThov7zKrA</prop>
        <prop key="facebook.accessTokenUrl">
            https://graph.facebook.com/oauth/access_token?client_id=${facebook.clientId}&amp;client_secret=${facebook.clientSecret&amp;grant_type=client_credentials
        </prop>
        <prop key="facebook.redirectUrl">http://v1-api.echoed.com/facebook/login</prop>

        <prop key="twitter.consumerKey">Gb6kawhjcWu3wLc9aWJqQ</prop>
        <prop key="twitter.consumerSecret">cpJ8p207SeDSiCvMVMeuBROS0j3KG421C2BrdePweS4</prop>
        <prop key="twitter.callbackUrl">http://v1-api.echoed.com/twitter/login</prop>
    </util:properties>


    <import resource="classpath:database.xml" />


    <bean id="facebookAccess" class="com.echoed.chamber.services.facebook.FacebookAccessActorClient">
        <property name="facebookAccessActor" ref="facebookAccessActor" />
    </bean>

    <bean id="facebookServiceCreator" class="com.echoed.chamber.services.facebook.FacebookServiceCreatorActorClient">
        <property name="facebookServiceCreatorActor" ref="facebookServiceCreatorActor" />
    </bean>

    <bean id="facebookServiceLocator" class="com.echoed.chamber.services.facebook.FacebookServiceLocatorActorClient">
        <property name="actorRef" ref="facebookServiceLocatorActor" />
    </bean>

    <bean id="echoService" class="com.echoed.chamber.services.EchoServiceActorClient">
        <property name="echoServiceActor" ref="echoServiceActor" />
    </bean>

    <bean id="twitterAccess" class="com.echoed.chamber.services.twitter.TwitterAccessActorClient">
        <property name="twitterAccessActor" ref="twitterAccessActor" />
    </bean>

    <bean id="twitterServiceCreator" class="com.echoed.chamber.services.twitter.TwitterServiceCreatorActorClient">
        <property name="twitterServiceCreatorActor" ref="twitterServiceCreatorActor" />
    </bean>

    <bean id="twitterServiceLocator" class="com.echoed.chamber.services.twitter.TwitterServiceLocatorActorClient">
        <property name="actorRef" ref="twitterServiceLocatorActor" />
    </bean>

    <bean id="echoedUserServiceCreator" class="com.echoed.chamber.services.echoeduser.EchoedUserServiceCreatorActorClient">
        <property name="echoedUserServiceCreatorActor" ref="echoedUserServiceCreatorActor" />
    </bean>

    <bean id="echoedUserServiceLocator" class="com.echoed.chamber.services.echoeduser.EchoedUserServiceLocatorActorClient">
        <property name="echoedUserServiceLocatorActor" ref="echoedUserServiceLocatorActor" />
    </bean>

    <!-- NOTE: defining a separate properties object is an ugly hack to fix a bug in Akka's Spring integration where placeholder's
                were not getting resolved - see ActorFactoryBean#setProperties -->
    <!--suppress SpringModelInspection -->
    <util:properties id="facebookAccessActorProperties">
        <prop key="clientId">${facebook.clientId}</prop>
        <prop key="clientSecret">${facebook.clientSecret}</prop>
        <prop key="redirectUrl">${facebook.redirectUrl}</prop>
    </util:properties>

    <!--suppress SpringModelInspection -->
    <util:properties id="twitterAccessActorProperties">
        <prop key="consumerKey">${twitter.consumerKey}</prop>
        <prop key="consumerSecret">${twitter.consumerSecret}</prop>
        <prop key="callbackUrl">${twitter.callbackUrl}</prop>
    </util:properties>


    <akka:untyped-actor
            id="facebookAccessActor"
            implementation="com.echoed.chamber.services.facebook.FacebookAccessActor"
            autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="properties" ref="facebookAccessActorProperties" />
    </akka:untyped-actor>

    <akka:untyped-actor
            id="facebookServiceCreatorActor"
            implementation="com.echoed.chamber.services.facebook.FacebookServiceCreatorActor"
            autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="facebookAccess" ref="facebookAccess" />
        <!--suppress SpringModelInspection -->
        <property name="facebookUserDao" ref="facebookUserDao" />
        <!--suppress SpringModelInspection -->
        <property name="facebookPostDao" ref="facebookPostDao" />
    </akka:untyped-actor>

    <akka:untyped-actor
            id="facebookServiceLocatorActor"
            implementation="com.echoed.chamber.services.facebook.FacebookServiceLocatorActor"
            autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="facebookServiceCreator" ref="facebookServiceCreator" />
    </akka:untyped-actor>

    <akka:untyped-actor
            id="echoServiceActor"
            implementation="com.echoed.chamber.services.EchoServiceActor"
            autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="echoedUserServiceLocator" ref="echoedUserServiceLocator" />
        <!--suppress SpringModelInspection -->
        <property name="echoDao" ref="echoDao" />
        <!--suppress SpringModelInspection -->
        <property name="echoPossibilityDao" ref="echoPossibilityDao" />
        <!--suppress SpringModelInspection -->
        <property name="retailerDao" ref="retailerDao" />
    </akka:untyped-actor>

    <akka:untyped-actor
           id="twitterAccessActor"
           implementation="com.echoed.chamber.services.twitter.TwitterAccessActor"
           autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="properties" ref="twitterAccessActorProperties"/>
    </akka:untyped-actor>

    <akka:untyped-actor
           id="twitterServiceCreatorActor"
           implementation="com.echoed.chamber.services.twitter.TwitterServiceCreatorActor"
           autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="twitterAccess" ref="twitterAccess"/>
        <!--suppress SpringModelInspection -->
        <property name="twitterUserDao" ref="twitterUserDao"/>
        <!--suppress SpringModelInspection -->
        <property name="twitterStatusDao" ref="twitterStatusDao"/>
    </akka:untyped-actor>

    <akka:untyped-actor
           id="twitterServiceLocatorActor"
           implementation="com.echoed.chamber.services.twitter.TwitterServiceLocatorActor"
           autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="twitterServiceCreator" ref="twitterServiceCreator"/>
    </akka:untyped-actor>

    <akka:untyped-actor
            id="echoedUserServiceCreatorActor"
            implementation="com.echoed.chamber.services.echoeduser.EchoedUserServiceCreatorActor"
            autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="twitterServiceLocator" ref="twitterServiceLocator"/>
        <!--suppress SpringModelInspection -->
        <property name="facebookServiceLocator" ref="facebookServiceLocator"/>
        <!--suppress SpringModelInspection -->
        <property name="echoedUserDao" ref="echoedUserDao" />
        <!--suppress SpringModelInspection -->
        <property name="facebookServiceLocator" ref="facebookServiceLocator" />
    </akka:untyped-actor>


    <akka:untyped-actor
            id="echoedUserServiceLocatorActor"
            implementation="com.echoed.chamber.services.echoeduser.EchoedUserServiceLocatorActor"
            autostart="true">
        <!--suppress SpringModelInspection -->
        <property name="echoedUserServiceCreator" ref="echoedUserServiceCreator" />
    </akka:untyped-actor>

</beans>
