<configuration scan="true" scanPeriod="30 seconds" debug="true">

    <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-15.15t %-35.-35replace(%logger{0}){'\$.*$',''} %msg    %X{akkaSource}%n</pattern>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, %p, %c, %t, %m%n</pattern>-->
        </encoder>
    </appender>


    <appender name="errors" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>errors.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>errors.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-15.15t %-35.-35replace(%logger{0}){'\$.*$',''} %msg    %X{akkaSource}%n</pattern>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, %p, %c, %t, %m%n</pattern>-->
            <!--<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>all.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-15.15t %-35.-35replace(%logger{0}){'\$.*$',''} %msg    %X{akkaSource}%n</pattern>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, %p, %c, %t, %m%n</pattern>-->
            <!--<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="all" />
        <!-- See http://logback.qos.ch/manual/appenders.html#AsyncAppender -->
        <discardingThreshold>20</discardingThreshold>
    </appender>

    <!-- below just clutter the logs -->
    <logger name="org.springframework.web.servlet.PageNotFound" level="error" />

    <!--<logger name="org.apache.ibatis.cache.decorators.LoggingCache" level="debug" />-->
    <logger name="com.echoed.chamber.services.facebook.FacebookPostCrawlerActor" level="info" />
    <logger name="com.echoed.chamber.dao" level="info" />
    <logger name="com.echoed" level="debug" />
    <logger name="org.codegist" level="debug" />
    <logger name="org.jclouds" level="debug" />


    <root level="warn">
        <appender-ref ref="async" />
        <appender-ref ref="errors" />
    </root>
</configuration>
