<div id="login-container">
    <div id="login-title">
        Login To Your Echoed Account
    </div>
    <div class="login-buttons">
        <div class="login-button-row">
            <a id="fb-login" class="story-login-button facebook-button">
                <span class="fb-login-logo"></span>
                <span class="login-button-text">Login With Facebook</span>
            </a>
        </div>
        <div class="login-button-row">
            <a id="tw-login" class="story-login-button twitter-button" >
                <span class="tw-login-logo"></span>
                <span class="login-button-text">Login With Twitter</span>
            </a>
        </div>
    </div>
</div>