<div id="notifications">
    <div id="notifications-text">
    </div>
</div>
<div id="notifications-menu">
    <div id="notifications-list-header">
    </div>
    <div id="notifications-list">
    </div>
    <div id="notification-settings">
        Send Notification E-mail:
        <input id="receive-notification-email-cb" type="checkbox" />
    </div>
</div>