<div class="notification" id="{{notification.id}}">
    {{#notification.value}}
    <span class="bold">{{ subject}}</span>
    <span>{{action}}</span>
    <span class="bold">{{object}}</span>
    {{/notification.value}}
</div>