{{#isEchoed}}
    <a id="echoed-logo" href="#"><img height="40px" src="{{properties.urls.images}}/logo.png" /></a>
{{/isEchoed}}
{{^isEchoed}}
    <a id="partner-logo" href="#partner/{{partner.handle}}">{{partner.name}}</a>
{{/isEchoed}}