<div id="photo-image-container">

</div>
<div id="photo-image-link">
    <a href="#{{ originalContent._type}}/{{ originalContent.id }}">{{ originalContent._type}}: {{ originalContent._title }}</a>
</div>
