@import "base";

@import "itemWrap";
@import "item";
@import "story";
@import "isotope";
@import "field";
@import "storyBrief";
@import "fade";
@import "buttons";
@import "fileuploader";
@import "expanding";
@import "ajaxInput";
@import "infiniteScroll";
@import "notifications";
@import "login";
@import "loginForm";
@import "categoryList";
@import "static";
@import "menu";
@import "title";
@import "select";


body, html{
    height: 100%;
}

body {

    @include transition;
    &.noScroll{
        overflow: hidden;
    }
    &.black{
        background-color: rgba(0, 0, 0, 0.5);
    }
    &.blue{
        background-image: image-url("bk_noise_dark.jpg");
    }
}


#header-container{
    @include transition;
    text-align: center;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 999999;

    #logo{
        height: 40px;
        text-align:center;
    }

    #header-title{
        line-height: 40px;
        display: inline-block;
        @include fontTitleLight(26px);
    }

    #user{
        position: absolute;
        right: 0px;
        width: 180px;
        top: 0px;
        height: 40px;
        cursor: pointer;
        background-position: right;
        background-repeat: no-repeat;

        #user-text{
            display: inline-block;
            width: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align:left;
            vertical-align: top;
            padding: 0px 15px;
            line-height: 40px;
        }

        #user-image{
            display: inline-block;
            margin: 4px 0px 0px 4px;
            #u-i-i{
                display: block;
                border: 1px #CCC solid;
            }
        }

        #user-list{
            position:absolute;
            top: 40px;
            display: none;
            width: 180px;
            border-right: 0;
            right: 0px;
            text-align: left;
            .user-list-item{
                list-style: none;
                cursor: pointer;
                padding: 4px 5px;
                &:hover{
                }
            }
        }

        #user-what{
            margin-right: 10px;
            line-height: 40px;
        }

        #user-login{
            line-height: 40px;
        }
    }
}

#header-container.black{
    background-color:   #333;
    border-bottom:      1px solid #FFF;

    #logo {
        #partner-logo{
            display: block;
            line-height: 40px;
            @include fontTitleLight(26px, #FFF);
        }
        #echoed-logo {
            display: none;
        }
    }

    #user {
        #user-text {
            color:      #FFF;
        }
    }

    #user-what{
        @include        fontTextBold;
        color:          #FFF;
    }

    #user-login{
        @include fontTextBold(14px, $colorEC);
        &:hover{
            color: #FFF;
        }
    }

    #user-list{
        background-color:   #333;
        border-top:         1px solid #FFF;

        .user-list-item {
            color:          #FFF;
        }
    }
}

#header-container.white{
    background-color:   #FFF;
    border-bottom:      1px solid #CCC;

    #logo{
        #partner-logo{
            display: none;
        }
        #echoed-logo {
            display: block;
        }
    }

    #close {
        display: none;
    }

    #user {
        border-left:    1px solid #CCC;
        box-shadow:     -1px -1px #FFF;
    }
    #user-what{
        display: none;
    }
    #user-list{
        background-color:   #FFF;
        border-top:         1px solid #999;

        .user-list-item {
            &:hover {
                background-color:   rgba(255, 255, 200, 1);
                color:              colorEC;
            }
        }
    }

    #user-login{
        @include fontTextBold(14px);
        &:hover{
            color: $colorEC;
        }
    }
}



#nav-container{
    position:fixed;
    right:0px;
    left: 0px;
    top: 41px;
    z-index: 10;
    li{
        padding: 5px 20px;
        float:left;
        list-style:none;
        cursor: pointer;
    }

}

#nav-container.white {
    background-color: #F0F0F0;
    border-bottom: 1px solid #A0A0A0;
    @include dropShadowDown;
    li {
        @include fontTextBold(14px);

        text-shadow: 0px 1px 0px #FFF;
        border-right: 1px solid #CCC;
        box-shadow: 1px 0px #FFF;
    }

    li:hover, .current{
        color: $colorEC;
    }
}

#nav-container.black {
    background-color: #333;
    border-bottom: 1px solid #FFFFFF;
    li {
        @include fontTextBold(14px, #FFF);
        border-right: 1px solid #FFF;
    }

    li:hover, .current{
        color: $colorEC;
    }
}



#echoed-exhibit-container{
    position: relative;
    padding-top: 75px;
    height: 100%;
    #exhibit{
        padding-top: 10px;
        margin: auto;
    }

    #echoed-title{
        width: 210px;
        padding: 10px;
        text-align:center;
        @include fontText(24px, #FFF);
        background-color: #333 !important;
        .title-description{
            @include fontText(18px, #FFF);
        }
        img {
            width: 230px;
            padding: 0px;
            margin: 0px;
        }
    }

}

//STORY OVERRIDE
#item{
    top: 50px !important;
}

#field{
    top: 75px !important;
}


#close{
    z-index: 10000;
    position: absolute;
    left: 10px;
    top:0px;
    line-height: 40px;
    padding-left: 20px;
    cursor: pointer;
    @include fontTextBold(14px, #CCC);
    &:hover{
        color: #FFF;
    }
    #close-x{
        @include sprite(0px, -28px, 15px, 15px);
        top: 13px;
        position: absolute;
        left:0px;
    }
}

#story-gallery-container{
    top: 40px !important;
}


.friend{
    width: 270px;
    background-color: #FFF;
    float:left;

    &:hover{
        border: 1px solid #000;
    }

    img{
        width: 50px;
        height: 50px;
        float:left;
    }
    .friend-text{
        float:left;
        padding-left: 10px;
        line-height: 50px;
        width: 170px;
        @include fontTextBold(14px);
    }
}
