@import "base";


$navWidth: 200px;

html, body{
    height: 100%;
}

//RESET
#header-container{
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    background: #ffffff;
    @include dropShadowDown;
}

#logo{
    position:absolute;
    left: 10px;
    top: 0px;
}

#nav-container{
    position: fixed;
    width: $navWidth;
    right:0px;
    top:0px;
    bottom:0px;
    border-left: 1px solid #CCC;
}

#nav{
    padding: 45px 5px 5px 5px;
}

#content{
    margin-right: $navWidth;
    padding: 45px 5px 5px 5px;
}