$loaderSize: 45px;
$iconSize: 37px;
$optionSize: 36px;

@mixin position($vert, $side, $offset, $oppV, $oppS){
    &.ech-#{$vert}-#{$side}{
        #ech-icon-container{
            #{$side}: 0px;
            #{$vert}: 0px;
            border-#{$oppV}-#{$oppS}-radius: 5px;
        }
        #echoed-options{
            border-#{$oppV}-#{$oppS}-radius: 5px;
        }
        &.ech-ver{
            #echoed-options{
                #{$vert}: $offset;
                #{$side}: 0px;
                border-#{$vert}: 1px solid #FFF;
                padding: 2px 0px;
                width: 36px;
            }

            #echoed-preview{
                position:fixed;
                #{$vert}: 5px;
                #{$side}: $offset + 5;
            }
        }
        &.ech-hor{
            #echoed-options{
                #{$side}: $offset;
                #{$vert}: 0px;
                border-#{$side}: 1px solid #FFF;
                padding: 0px 2px;
                height: 36px;
            }
            #echoed-preview{
                position:fixed;
                #{$side}: 5px;
                #{$vert}: $offset + 5;
            }
        }
    }
}

@mixin dropShadow($right: 1px, $down: 1px, $spread: 3px, $color: rgba(0, 0, 0, 0.5)){
    -o-box-shadow: $right $down $spread $color;
    -moz-box-shadow:  $right $down $spread $color;
    -webkit-box-shadow:  $right $down $spread $color;
    box-shadow:  $right $down $spread $color;
}

#echoed-loader{
    z-index: 10000000;
    @include position(top, left, $loaderSize, bottom, right);
    @include position(top, right, $loaderSize, bottom, left);
    @include position(bottom, left, $loaderSize, top, right);
    @include position(bottom, right, $loaderSize, top, left);
}


#ech-icon-container{
    position: fixed;
    z-index: 10000001;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4C',endColorstr='#363636');
    background: -webkit-gradient(linear,left top,left bottom,from(#4C4C4C),to(#363636));
    background: -moz-linear-gradient(top,#4C4C4C,#363636);
    border-color: rgba(80, 80, 80, 0.8);

    cursor: pointer;
    @include dropShadow;
    height: $loaderSize;
    width: $loaderSize;
}

#echoed-preview-iframe{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    height: 45px;
    width: 200px;
    z-index: 10000000;
}

#echoed-icon{
    background-image: image-url("logo-inset.png");
    width: 37px;
    height: 37px;
    position: absolute;
    left: 3px;
    top: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
}

#echoed-overlay{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0x;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1000000000;
}

#echoed-gallery{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid #acacac;
    box-shadow: 0px -3px 5px rgba(34,25,25,0.2);
    z-index: 1000000;
    #echoed-gallery-iframe{
        width: 100%;
        overflow: hidden;
        height: 0px;
        display: block;

    }
}

#echoed-options{
    z-index: 10000000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4C',endColorstr='#363636');
    background: -webkit-gradient(linear,left top,left bottom,from(#4C4C4C),to(#363636));
    background: -moz-linear-gradient(top,#4C4C4C,#363636);
    color: #FFF;
    position: fixed;
    @include dropShadow;

    img{
        margin: 2px 2px;
        height: 28px;
        width: 28px;
        border: 1px solid #CCC;
        cursor:pointer;
        &:hover{
            border-color: #FFF;
        }
    }

    #echoed-add{
        background-image: image-url("bk_plus.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 28px;
        width: 28px;
        border: 1px solid #FFF;
        display: inline-block;
        margin: 2px;
        border-radius: 3px;
        &:hover{
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    #echoed-i{
        background-image: image-url("bk_i.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 15px;
        height: 28px;
        //border: 1px solid #CCC;
        display: inline-block;
        margin: 2px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

#echoed-opener{
    top: 175px;
    position: fixed;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(34,25,25,0.4);
    -moz-box-shadow: 1px 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 1px 1px 2px rgba(34,25,25,0.4);
}


