@import "base";

#header{
    padding: 3px;
    @include fontTextBold(16px);
    background-color: #F0F0F0;
    text-shadow: 0px 1px #FFF;
    border-bottom: #ACACAC solid 1px;
    position: relative;
}

#close{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 20px;
    background-image: image-url("bk-downcarrot.png");
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #CCC;
    &:hover{
        background-color: #FFF;
    }
}

#view{
    cursor: pointer;
    float: right;
    margin-right: 10px;
    background-color: #FFF;
    padding: 2px 8px;
    text-shadow: none;
    border-radius: 3px;
    border: 1px solid $colorEC;
    @include fontTextBold(12px, $colorEC);
    &:hover{
        border-color: #000;
    }
}

#share{
    cursor: pointer;
    float: right;
    display: inline-block;
    margin-right: 30px;
    color: #FFF;
    background-color: $colorEC;
    padding: 2px 8px;
    text-shadow: none;
    border-radius: 3px;
    border: 1px solid #000;
    @include fontTextBold(12px, #FFF);
    &:hover{
        background-color: #FF0000;
    }
}

#container{
    position:relative;
    background-image: image-url("bk_noise_dark.jpg");
}

#gallery-viewport{
    position:relative;
    margin: 0px 35px;
    overflow: hidden;
}

#gallery-container{
    height: 71px;
    position: relative;
}

.gallery-nav{
    width: 30px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    @include transition;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;

    &:hover{
        background-color: rgba(0, 0, 0,0.8);
    }
}

#gallery-next{
    right: 0px;
    background-image: image-url("bk_rarrow.png");
}

#gallery-prev{
    left: 0px;
    background-image: image-url("bk_larrow.png");

}

.gallery-image-container{
    height: 55px;
    width: 75px;
    overflow: hidden;
    float:left;
    border: 5px #F8F8F8 solid;
    border-radius: 3px;
    margin: 3px;
    background-color: #FFF;
    @include transition;
    cursor: pointer;
    &:hover{
        border-color: #333;
    }
};