@import "base";

#content{
    width: 100%;
}

#image-container{
    float:left;
    height: 45px;
    width: 60px;
    overflow: hidden;
    margin: 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    img {
        height: 45px;
        width: 60px;
        display: block;
    }
}

#content-text-container{
    height: 55px;
    display: table;
    &.text-only{
        width: 100%;
        #content-text{
            @include fontTextBold(15px, #FFF);
        }
    }
    #content-text{
        display: table-cell;
        @include fontTextBold(13px, #FFF);
        text-align:left;
        padding: 0px 5px;
        overflow: hidden;
        vertical-align: middle;
        text-align:center;
        height: 55px;
    }
}

