@import "base";

#content{
}

#image-container{
    float: left;
    display: block;
    height: 35px;
    width: 35px;
    overflow: hidden;
    margin: 5px;
    img {
        display: block;
    }
}

#content-text{
    color: #FFF;
    line-height: 45px;
    @include fontTextBold(13px, #FFF);
    text-align:left;
    padding: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
