@import "base";

@import "itemWrap";
@import "story";
@import "isotope";
@import "field";
@import "storyBrief";
@import "storyBriefText";
@import "fade";
@import "buttons";
@import "fileuploader";
@import "expanding";
@import "ajaxInput";
@import "infiniteScroll";
@import "select";
@import "title";
@import "login";

body, html{
    height: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0.5);
    &.noScroll{
        overflow: hidden;
    }
}


#echoed-head{
    text-align: center;
    border-bottom: 1px solid #FFF;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-color: #333;

    #title{
        display: inline-block;
        @include fontText(26px, #FFF);
        vertical-align: middle;
    }
}


#echoed-exhibit-container{
    position: relative;
    padding-top: 50px;
    height: 100%;
    #exhibit{
        padding-top: 10px;
        margin: auto;
    }

    #echoed-title{
        width: 210px;
        padding: 10px;
        text-align:center;
        @include fontText(24px, #FFF);
        background-color: #333 !important;
        .title-description{
            @include fontText(18px, #FFF);
        }
        img {
            width: 230px;
            padding: 0px;
            margin: 0px;
        }
    }

}

//STORY OVERRIDE
#story{
    top: 50px !important;
}

#field{
    top: 75px !important;
}

.echoed-share-container{
    width: 200px;
    text-align: center;
    margin: 3px auto;
    .echoed-share{
        @include button(16px);
    }
}

#close{
    z-index: 10000;
    position: absolute;
    right: 10px;
    top:0px;
    line-height: 40px;
    padding-right: 20px;
    cursor: pointer;
    @include fontTextBold(14px, #CCC);
    &:hover{
        color: #FFF;
    }
    #close-x{
        @include sprite(0px, -28px, 15px, 15px);
        top: 13px;
        position: absolute;
        right:0px;
    }
}

#echo-story-gallery-container{
    top: 40px !important;
}