<div class ="forumContent">
    {{#storyFull}}
    <div class="forumTitle">
        {{contentTitle}}
    </div>
    <div class="forumText">
        {{chapterText}}
    </div>
    <div class="forumUser">
        <a href="#user/{{echoedUser.screenName}}" class="forumUserText">
            {{echoedUser.name}}
        </a>
        <a href="#user/{{echoedUser.screenName}}">
            <img class="forumUserImage" height="35px" width="35px" src="{{ profilePhotoUrl }}"/>
        </a>
    </div>
    <div class="forumFooter">
        <span class="forumComments">
            {{comments.length}} Responses
        </span>
        <a href="#partner/{{partner.handle}}" class="forumPartner">
            {{partner.name}}
        </a>
    </div>
    {{/storyFull}}
</div>