<thead>
    <tr>
        <th class="moderate-header">Title</th>
        <th class="moderate-header">Begin On</th>
        <th class="moderate-header">End On</th>
        <th class="moderate-header"></th>
    </tr>
</thead>
<tbody>
</tbody>
<tfoot>
<tr><td class="message"></td></tr>
</tfoot>
