<td><input class="title" type="text" value="{{ title }}" /></td>
<td><input class="beginOn" type="text" value="{{ formattedBeginOn }}" /></td>
<td><input class="endOn" type="text" value="{{ formattedEndOn }}" /></td>
<td><a class="save">Save</a><a class="cancel">Cancel</a></td>
