<form>
    <div class="story-detail-row">
        <div class="story-input-label">
            Topic
        </div>
        <div class="story-input-content">
            <div id="chapter-title" class="field-select"></div>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
            Your Story
        </div>
        <div class="story-input-content" style="vertical-align: top">
            <textarea id="chapter-text" class="expanding field-text-input"></textarea>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
            Photos<br/>
            <div id="photo-upload" class="photo-upload">
                <div class="qq-uploader">
                    <div class="qq-upload-drop-area" style="display: none;">
                        <span>Drop photos here to upload</span>
                    </div>
                    <div class="qq-upload-button">
                        Upload a photo
                        <input multiple="multiple" type="file" name="file" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                    </div>
                    <ul class="qq-upload-list"></ul>
                </div>
            </div>
        </div>
        <div class="story-input-content" style="vertical-align: top">
            <div id="story-input-thumbnails" class="thumbnails">
            </div>
            <div class="thumbnail-placeholder">
                <img id="thumb-placeholder" height="75px" class="thumb" />
            </div>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label"></div>
        <div class="story-input-content">
            <span id="chapter-publish" class='field-submit'>Save and Publish</span>
            <span id="chapter-save" class='field-submit'>Save Draft</span>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
        </div>
        <div class="story-input-content">
            <span id="chapter-cancel">Cancel</span>
        </div>
    </div>
</form>