<div class="field-edit edit-chapter" chapterIndex="{{ index }}" chapterId="{{ id }}">
    Edit
</div>
<div class="story-detail-row">
    <div class="story-input-label">
        Topic
    </div>
    <div class="story-input-content">
        {{ title }}
    </div>
</div>
<div class="story-detail-row">
    <div class="story-input-label">
        Status
    </div>
    <div class="story-input-content story-input-publishedOn">

    </div>
</div>
<div class="story-detail-row">
    <div class="story-input-label">
        Description
    </div>
    <div class="story-input-content">
        {{ text.substr(0, 200) }}
    </div>
</div>
<div class="story-detail-row story-input-photo-row">
    <div class="story-input-label">
        Photos
    </div>
    <div class="story-input-content story-input-photos clearfix" style="vertical-align: top;" >

    </div>
</div>
