<form>
    <div id="input-subtitle" class="story-detail-row" style="display: none;">
        <div class="story-input-label">
            Subtitle
        </div>
        <div class="story-input-content">
            <input id="chapter-title" class="field-text-input" value="{{chapter.title}}"/>
        </div>
    </div>
    <div id="input-text" class="story-detail-row" style="display:none;">
        <div class="story-input-label">
            Text
        </div>
        <div class="story-input-content" style="vertical-align: top; padding-bottom: 20px;">
            <textarea id="chapter-text" class="expanding field-text-input">{{chapter.text}}</textarea>
        </div>
    </div>
    <div id="input-photos" class="story-detail-row" style="display:none;">
        <div class="story-input-label">
            Photos<br/>
        </div>
        <div class="story-input-content" style="vertical-align: top;">
            <div id="story-input-thumbnails" class="thumbnails clearfix">
                <div id="thumbnail-placeholder">
                    <img id="thumb-placeholder" height="75px" class="thumb" />
                </div>
            </div>
            <div class="photo-upload">
                <div style="text-align: center;">
                    <div id="photo-upload-button">
                        Browse Computer
                        <input multiple="multiple" type="file" name="file" style="position: absolute;right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                    </div>
                    <div id="photo-upload-drag-text">
                        or <span class="photo-drag-text">Drag and Drop</span>
                    </div>
                </div>
                <div id="photo-upload-progress">
                    <div id="photo-upload-progress-fill">
                    </div>
                    <div id="photo-upload-progress-text">
                        Uploading...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="input-add" class="clearfix">
        <ul>
            <li class="text">Add Text</li>
            <li class="photos">Add Photos</li>
            <li class="subtit">Add Subtitle</li>
            <!--<li class="link">Add Link</li>-->
        </ul>
    </div>
    <div class="story-detail-row">
        <span id="chapter-publish" class='field-submit'>Save and Publish</span>
        <span id="chapter-save" class='field-submit'>Save Draft</span>
        <span id="chapter-cancel">Cancel</span>
    </div>
</form>
