<div class="fade">
    <div id="field">
        <div class="field-close"></div>
        <div id="field-title" class="field-title">Add a {{#context.contentType}}{{singular}}{{/context.contentType}}</div>
        <div class="field-body clearfix">
            <div class="story-summary">
                <div id="story-summary-body">
                    <div id="story-summary-cover">
                        <div class="story-detail-row clearfix">
                            <div class="story-input-label">
                                Website
                            </div>
                            <div class="story-input-content">
                                {{#context}}{{partner.name}}{{/context}}
                            </div>
                        </div>
                        {{#context}}
                        {{#pageTitle}}
                        <div class="story-detail-row clearfix">
                            <div class="story-input-label">
                                Page
                            </div>
                            <div class="story-input-content">
                                {{pageTitle}}
                            </div>
                        </div>
                        {{/pageTitle}}
                        {{/context}}
                    </div>
                </div>
                <div id="story-summary-buttons">
                    <span id="chapter-add" class="field-submit" act="add">Add Another Topic</span>
                    <span id="story-finish" class="field-submit" act="finish">I'm Done!</span>
                    <span id="story-hide" class="field-submit">Hide This Story</span>
                </div>
            </div>
        </div>
    </div>
</div>