<div class="fade">
    <div id="field">
        <div class="field-close"></div>
        <div id="field-title" class="field-title">Share Your {{#context.contentType}}{{singular}}{{/context.contentType}}</div>
        <div class="field-body clearfix">
            <div class="story-summary">
                <div id="story-summary-body">
                </div>
                <div id="story-summary-buttons">
                    <span id="chapter-add" class="field-submit" act="add">Add Another Topic</span>
                    <span id="story-finish" class="field-submit" act="finish">I'm Done!</span>
                    <span id="story-hide" class="field-submit">Hide This Story</span>
                </div>
            </div>
        </div>
    </div>
</div>