<div class="field-edit edit-chapter" chapterIndex="{{ index }}" chapterId="{{ id }}">
    Edit
</div>
<div class="story-detail-row">
    <div class="story-input-label">
        Subtitle
    </div>
    <div class="story-input-content">
        {{ title }}
    </div>
</div>
<div class="story-detail-row">
    {{#text}}
    <div class="story-input-label">
        Text
    </div>
    <div class="story-input-content">
        {{ text }}
    </div>
    {{/text}}
</div>
<div class="story-detail-row story-input-photo-row">
    <div class="story-input-label">
        Photos
    </div>
    <div class="story-input-content story-input-photos clearfix" style="vertical-align: top;" >
    </div>
</div>
<div class="story-detail-row">
    <div class="story-input-label">
        Status
    </div>
    <div class="story-input-content story-input-publishedOn">
        {{#publishedOn}}
            Published
        {{/publishedOn}}
        {{^publishedOn}}
            Draft
        {{/publishedOn}}
    </div>
</div>