<form id="story-input-form">
    <input id="submit-type" type="hidden" />
    <div class="story-detail-row" id="story-input-title">
        <div class="story-input-label">
            <strong>Title</strong>
        </div>
        <div class="story-input-content">
            <input class="field-text-input" id="story-name" type="text" placeholder="Give Your Story a Title">
        </div>
    </div>
    <div class="story-detail-row" id="story-input-from">
        <div class="story-input-label">
              From
        </div>
        <div class="story-input-content" id="story-input-from-content">
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
            Community
        </div>
        <div class="story-input-content">
            <div id="story-input-community"></div>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
            Cover Photo<br/>
            <div id="field-photo-upload">
                <div class="qq-uploader">
                    <div class="qq-upload-drop-area" style="display: none;">
                        <span>Drop photos here to upload</span>
                    </div>
                    <div class="qq-upload-button">
                        Upload a photo
                        <input multiple="multiple" type="file" name="file" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                    </div>
                    <ul class="qq-upload-list"></ul>
                </div>
            </div>
        </div>
        <div class="story-input-content clearfix" style="vertical-align: top;">
            <div class="field-photo-container">
                <div id="preview">
                    <img height="75px" id="story-input-photo">
                </div>
            </div>
        </div>
        <input name="echoId" type="hidden" id="story-input-echoId"/>
        <input name="partnerId" type="hidden" id="story-input-partnerId"/>
        <input name="imageId" type="hidden" id="story-input-imageId" />
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
        </div>
        <div class="story-input-content">
            <div class="field-submit" id="submit-cover">Save and Continue</div>
        </div>
    </div>
</form>