<div class="story-summary-chapter-edit" >
    Edit
</div>
<div class="story-summary-chapter-row">
    <div class="story-summary-chapter-title">
        <strong>
            Topic: {{ title }}
        </strong>
    </div>
</div>
<div class="story-summary-chapter-row">
    <div class="story-summary-chapter-description">
        <strong>Published:</strong> {{ Boolean(publishedOn) }}
    </div>
</div>
<div class="story-summary-chapter-row">
    <div class="story-summary-chapter-description">
        <strong>Description:</strong> {{ text.substr(0, 200) }}
    </div>
</div>
