<form id="story-input-form">
    <input id="submit-type" type="hidden" />
    <div class="story-detail-row" id="story-input-title">
        <div class="story-input-label">
            <strong>Title</strong>
        </div>
        <div class="story-input-content">
            <input class="field-text-input" id="story-name" type="text" placeholder="Give Your {{#context.contentType}}{{singular}}{{/context.contentType}} a Title" value="{{story.title}}">
        </div>
    </div>
    <div class="story-detail-row">
        <input name="echoId" type="hidden" id="story-input-echoId"/>
        <input name="partnerId" type="hidden" id="story-input-partnerId" value="{{partner.id}}"/>
        <input name="imageId" type="hidden" id="story-input-imageId" value="{{story.image.id}}"/>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
        </div>
        <div class="story-input-content">
            <div class="field-submit" id="submit-cover">Save and Continue</div>
        </div>
    </div>
</form>