<form>
    <div class="story-detail-row">
        <div class="story-input-label">
            Topic
        </div>
        <div class="story-input-content">
            <div id="chapter-title" class="field-select"></div>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
            Your Story
        </div>
        <div class="story-input-content" style="vertical-align: top">
            <textarea id="chapter-text" class="expanding field-text-input"></textarea>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
            Photos<br/>
            <div id="photo-upload" class="photo-upload"></div>
        </div>
        <div class="story-input-content" style="vertical-align: top">
            <div id="story-input-thumbnails" class="thumbnails">
            </div>
            <div class="thumbnail-placeholder">
                <img id="thumb-placeholder" height="75px" class="thumb" />
            </div>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label"></div>
        <div class="story-input-content">
            <span id="chapter-publish" class='field-submit'>Save and Publish</span>
            <span id="chapter-save" class='field-submit'>Save Draft</span>
        </div>
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
        </div>
        <div class="story-input-content">
            <span id="chapter-cancel">Cancel</span>
        </div>
    </div>
</form>