<div class="field-edit" id="edit-cover" >
    Edit
</div>
<div class="story-detail-row">
    <div class="story-input-label">
        Title
    </div>
    <div class="story-input-content">
        {{ title }}
    </div>
</div>
<div class="story-detail-row" id="story-info">
    <div class="story-input-label">
        From
    </div>
    <div class="story-input-content">
        {{ productInfo }}
    </div>
</div>
<div class="story-detail-row" id="story-community">
    <div class="story-input-label">
        Community
    </div>
    <div class="story-input-content">
        {{ community }}
    </div>
</div>
<div class="story-detail-row story-input-photo-row">
    <div class="story-input-label">
        Photo
    </div>
    <div class="story-input-content story-input-photo clearfix" style="vertical-align: top;">
    </div>
</div>
