<form id="story-input-form">
    <input id="submit-type" type="hidden" />
    <div class="story-detail-row" id="story-input-title">
        <div class="story-input-label">
            <strong>Title</strong>
        </div>
        <div class="story-input-content">
            <input class="field-text-input" id="story-name" type="text" placeholder="Give Your Story a Title">
        </div>
    </div>
    <!--<div class="story-detail-row" id="story-input-from">-->
        <!--<div class="story-input-label">-->
              <!--From-->
        <!--</div>-->
        <!--<div class="story-input-content" id="story-input-from-content">-->
        <!--</div>-->
    <!--</div>-->
    <div class="story-detail-row">
        <input name="echoId" type="hidden" id="story-input-echoId"/>
        <input name="partnerId" type="hidden" id="story-input-partnerId"/>
        <input name="imageId" type="hidden" id="story-input-imageId" />
    </div>
    <div class="story-detail-row">
        <div class="story-input-label">
        </div>
        <div class="story-input-content">
            <div class="field-submit" id="submit-cover">Save and Continue</div>
        </div>
    </div>
</form>