@charset "utf-8";
/* CSS Document */


/***** RESET ********/
html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td{
	margin:0;
	padding: 0;
}

a img{
	border:none;
}

html, body{
	height:100%;
}

body, input, textarea{
	background-color:#FFF;
	font-size: 13px;
	font-family:Helvetica,'Lucida Grande','Lucida Sans Unicode',sans-serif;
}

body.share{
	background-color:#FFF;
}

h3{
	color: #666;
	font-size: 18px;
	font-weight: normal;
	margin: 5px 0px 15px;
}

/***** STANDARDIZED COLORS *********/
.bkclr_logo{
	background-color:#508AFF;
}


/******** WRAPPER **********/
#container{
	width:100%;
	min-height: 100%;
	background-color:#FFF;
	min-width:960px;
	position:relative;
}

/***** HEADER ********/
#header{
	height: 50px;
	border-bottom: 1px solid #D2D2D2;
	width:100%;
}

	.echoed_logo{
		float:left;
		width:150px;
		height:50px;
		background-image:url(../images/echoed_new.png);
	}

	ul#nav_header{
		float:right;
	}
	
	ul#nav_header li {
		float: left;
		list-style-type: none;
		background: none;
	}
	
	ul#nav_header li > a {
		color: #DDD;
		text-decoration: none;
		font-weight: normal;
		font-size: 12.5px;
		text-shadow: 1px 1px 1px #222;
		outline: none;
		text-shadow: 1px 1px 0.5px black;
		color: white;
		float: left;
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
	}
	
	ul#nav_header li > a:hover {
		background-color:#333;
	}
	
/***** BODY ********/
#body{
	min-height:600px;
	margin-top:20px;
	height: auto;
	width:100%;
	display:block;
}

	/*****    MAIN      ****/
	.content_left{
		width:200px;
		padding-top:20px;
		vertical-align:top;
		float:left;
	}
	
	.content_right{
		min-height:900px;
		float:left;		
		width:760px;
		border-top: 1px solid transparent;
	}
	
	ul#nav_top{
	}

	ul#nav_top li{
		float:left;
		list-style-type:none;
		background-color:#EFEFEF;
		border-top:1px solid #999;
		border-left:1px solid #999;
		color:#333;
	}
	
	ul#nav_top li:last-child{
		border-right:1px solid #999;
	}

	ul#nav_top li > a{
		padding:5px;		
		display:block;
		text-decoration:none;
		color:#333;
	}

	ul#nav_top li a.selected,
	ul#nav_top li a:hover{
		text-decoration:none;
		background-color:#FFF;
		color:#508AFF;
	}

	ul#nav_top li a.selected{
		font-weight:bold;
	}
	
	
	ul#nav_body_left{
	}

	ul#nav_body_left li{
		list-style-type:none;
		background-color:#EFEFEF;
		border-top:1px solid #999;
		border-left:1px solid #999;
		color:#333;
	}
	
	ul#nav_body_left li:last-child{
		border-bottom:1px solid #999;
	}

	ul#nav_body_left li > a{
		padding:5px;		
		display:block;
		text-decoration:none;
		color:#333;
	}

	ul#nav_body_left li a.selected,
	ul#nav_body_left li a:hover{
		text-decoration:none;
		background-color:#FFF;
		color:#508AFF;
	}

	ul#nav_body_left li a.selected{
		font-weight:bold;
	}
	
	#content_main{
		padding:10px;
		display:block;
		border:1px #999 solid;
		min-height:600px;
	}	
		/********* USER TABLES **********/
		table.table-user{
			font-size:12px;
			width: 100%;
			border-bottom: 1px solid #DDD;			
		}
		
		table.table-user thead{
			font-size:12px;
			background-color:#F7F7F7;
		}
		
		table.table-user tbody tr:hover{
			background-color:#508AFF;
			cursor:pointer;
		}
		
		table.table-user th{
			padding: 2px 5px 2px 5px;
			text-align:left;
		}
		
		table.table-user td{
			padding: 4px;
			border-top:1px solid #DDD;
			height:50px;
		}
		
		table.table-user .tbl_image{
			max-height:50px;
			max-width:50px;
		}
		
	/******** SHARE **********/

	.share_image{
		max-width:180px;
		max-height:200px;
		float:left;
	}
	
	.share_text{
		width:300px;
		max-height:200px;		
		padding:5px;
		float:left;
	}
	
	.share_chart{
		width: 400px;
		height: 200px;
		float:left;
	}
	
	.share_content{
		padding:10px 0px;
	}
	
	.share_content_padded{
		padding:10px 5px;
	}
	
		/******** SHARE TABLE ********/
		
		#share_table{
			width:100%;
			border-bottom: 1px solid #DDD;
		}
		
		#share_table th{
			padding:5px;
			text-shadow: 0 1px 1px white;
			background-color: #F7F7F7;			
		}
		
		#share_table th.th_message{
			width:350px;			
		}

		#share_table th.th_network{
			width:100px;
		}

		#share_table th.th_checkbox{
		}		
		
		#share_table td{
			padding: 4px;
			border-top:1px solid #DDD;
		}

/***** FOOTER **********/
#footer{
	margin-top:20px;
	background-color:#333;
	height: 200px;
	border-top:1px solid #000;
	width:100%;
	position:absolute;
	bottom:0px;
}





.content{
	width:960px;
	margin:auto;
	height: auto;
}

#index-left{
	width:500px;
	padding:50px;
	float:left;
}

#index-right{
	padding:25px;
	width:310px;
	float:left;
	text-align:left;
}

#login-form label,
#login-form input{
	display:block;
}
#login-form input{
	border: 1px solid #D2D2D2;
}
#login-form input:hover{
	border-color:#8bb3fa;
}

.button{
	margin-top:5px;
	padding: 7px 13px 7px 10px;
	background-color:#69F;
	border:1px #FFF solid;
	color: #FFF;
	cursor:pointer;
}

#login{
	border:double 3px #D2D2D2;
	background-color:#E4EFFA;
	padding:10px;
}

#signup{
	margin-top: 20px;
	border:double 3px #D2D2D2;
	background-color:#E4EFFA;
	padding:10px;
}


.icon{
	margin:1px;
}

#content{
	width:100%;
	position:relative;
}

.bd-center{
	width:960px;
	margin: 0 auto;
}


.bd-content{
	padding:20px 25px;
}

.bd-content-2{
	padding:5px 25px;
	border-bottom: 1px solid #D2D2D2;
}

.bd-content-title{
	padding: 20px 25px 0px 25px;
}

.even{
	background-color: #F7F7F7;
	border-bottom:#DDD;
	border-top:#DDD;
}

.odd{
	background-color: #FFF;
}

.content-title{
	font-size:18px;
}

.bg-grey{
	background-color: #EFEFEF;
}

.highlight{
	font-weight:bold;
	color:#F00;
}
