<h2>Customize Echoed For Your Website</h2>
<form name="partner-customize" id="partner-customize">
    <table id="partner-customize-table">
        <tr>
            <td class="table-label">Use Gallery</td>
            <td>
                <input type="radio" name="useGallery" value="true" {{#useGallery}}checked{{/useGallery}}/>Yes
                <input type="radio" name="useGallery" value="false" {{^useGallery}}checked{{/useGallery}}/>No
            </td>

        </tr>
        <tr>
            <td class="table-label">Show Gallery By Default</td>
            <td>
                <input type="radio" name="showGallery" value="true" {{#showGallery}}checked{{/showGallery}}/>Yes
                <input type="radio" name="showGallery" value="false" {{^showGallery}}checked{{/showGallery}}/>No
            </td>
        </tr>
        <tr>
            <td class="table-label">Use Loader</td>
            <td>
                <input type="radio" name="useRemote" value="true" {{#useRemote}}checked{{/useRemote}}/>Yes
                <input type="radio" name="useRemote" value="false" {{^useRemote}}checked{{/useRemote}}/>No
            </td>
        </tr>
        <tr>
            <td class="table-label">Loader Vertical Position</td>
            <td>
                <input type="radio" name="remoteVertical" value="top" {{isTop}}/>Top
                <input type="radio" name="remoteVertical" value="bottom" {{isBottom}}/>Bottom
            </td>
        </tr>
        <tr>
            <td class="table-label">Loader Horizontal Position</td>
            <td>
                <input type="radio" name="remoteHorizontal" value="left" {{isLeft}}/>Left
                <input type="radio" name="remoteHorizontal" value="right" {{isRight}}/>Right
            </td>
        </tr>
        <tr>
            <td class="table-label">Loader Orientation</td>
            <td>
                <input type="radio" name="remoteOrientation" value="ver" {{isVer}}/>Vertical
                <input type="radio" name="remoteOrientation" value="hor" {{isHor}}/>Horizontal
            </td>
        </tr>
        <tr>
            <td class="table-label">Widget Title Message</td>
            <td>
                <input class="customize-input" type="text" name="widgetTitle" value="{{widgetTitle}}"/>
            </td>
        </tr>
        <tr>
            <td class="table-label">Widget Share Message</td>
            <td>
                <input class="customize-input" type="text" name="widgetShareMessage" value="{{widgetShareMessage}}"/>
            </td>
        </tr>
        <tr>
            <td>
                <div id="customize-save">Save</div>
                <span class="message"></span>
            </td>
            <td></td>
        </tr>
    </table>

</form>