<div class="content-header">Simple Installation Instructions</div>
<ol>
    <li>
        Embed Script<br/><br/>
        Place the following HTML into the pages you want to use the Echoed App<br/><br/>
        <textarea readonly="true" style="width:800px; height:20px;"><script type='text/javascript' src="{{ urls.site }}/widget/js?pid={{ partnerUser.partnerId }}"></script></textarea>
        <br/><br/>
    </li>
</ol>