<h2>Moderate Stories</h2>
<table id="moderate-table">
    <thead>
        <tr>
            <th class="moderate-header">Story Name</th>
            <th class="moderate-header">Author</th>
            <th class="moderate-header"># Chapters</th>
            <th class="moderate-header"># Images</th>
            <th class="moderate-header"># Comments</th>
            <th class="moderate-header">Hide Story</th>
            <th class="moderate-header"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>