<div id="breadcrumbs">
    Seeds Now!
    →
    Basil
</div>
<div id="title" class="clearfix">
    <div id="title-header">
        <span id="title-text">
        </span>
    </div>
    <div id="title-body">
    </div>
    <div id="title-nav" class="clearfix">
        <ul>
            <li class="selected">Stories (20)</li>
            <li>Reviews (10)</li>
        </ul>
    </div>

</div>