<div id="breadcrumbs">
    Seeds Now! → Basil
</div>
<div id="title" class="clearfix">
    {{#context}}
    <div id="title-header">
        <span id="title-text">
                <!--Seeds Now! → Basil-->
                {{ title }}
        </span>
        <div id="title-follow" style="float: right;"></div>
    </div>
    <div id="title-body" class="clearfix">
        {{#echoedUser}}
            <div id="title-stats" style="float: left">
                <ul>
                    <li><span class="title-stats-label">{{followers}}</span><span class="title-stats-text">Followers</span></li>
                    <li><span class="title-stats-label">{{following}}</span><span class="title-stats-text">Following</span></li>
                    <li><span class="title-stats-label">{{views}}</span><span class="title-stats-text">Views</span></li>
                    <li><span class="title-stats-label">{{votes}}</span><span class="title-stats-text">Votes</span></li>
                    <li><span class="title-stats-label">{{comments}}</span><span class="title-stats-text">Comments</span></li>
                </ul>
            </div>
            <div id="title-content" style="float: left">
                <ul>
                    {{#mostViewed}}<li><span class="title-content-label">Most Viewed</span><a href="#!story/{{story.id}}">{{story.title}}</a></li>{{/mostViewed}}
                    {{#mostCommented}}<li><span class="title-content-label">Most Commented</span><a href="#!story/{{story.id}}">{{story.title}}</a></li>{{/mostCommented}}
                </ul>
            </div>
        {{/echoedUser}}
        {{#partner}}
        <div id="title-stats" style="float: left">
            <ul>
                <li><span class="title-stats-label">{{followers}}</span><span class="title-stats-text">Followers</span></li>
                <li><span class="title-stats-label">{{views}}</span><span class="title-stats-text">Views</span></li>
                <li><span class="title-stats-label">{{votes}}</span><span class="title-stats-text">Votes</span></li>
                <li><span class="title-stats-label">{{comments}}</span><span class="title-stats-text">Comments</span></li>
            </ul>
        </div>
        <div id="title-content" style="float: left">
            <ul>
                {{#mostViewed}}<li><span class="title-content-label">Most Viewed</span><a href="#!story/{{story.id}}">{{story.title}}</a></li>{{/mostViewed}}
                {{#mostCommented}}<li><span class="title-content-label">Most Commented</span><a href="#!story/{{story.id}}">{{story.title}}</a></li>{{/mostCommented}}
            </ul>
        </div>
        {{/partner}}

    </div>
    <div id="title-nav" class="clearfix">
        <ul>
            <li class="selected">Stories: {{stories}}</li>
            <!--{{#context.content}}-->
                <!--<li {{#isDefault}}class="selected"{{/isDefault}}>{{type}} ({{count}})</li>-->
            <!--{{/context.content}}-->
        </ul>
    </div>
    {{/context}}
</div>