<div id="breadcrumbs">
    Seeds Now! → Basil
</div>
<div id="title" class="clearfix">
    {{#context}}
    <div id="title-header">
        <span id="title-text">
                <!--Seeds Now! → Basil-->
                {{ title }}
        </span>
    </div>
    <div id="title-body" class="clearfix">
        {{#echoedUser}}
            <ul>
                <li>Followers: {{followers}}</li>
                <li>Following: {{following}}</li>
            </ul>
        {{/echoedUser}}
        {{#partner}}
            <ul>
                <li>Followers: {{followers}}</li>
            </ul>
        {{/partner}}
    </div>
    <div id="title-nav" class="clearfix">
        <ul>
            <li class="selected">Stories: {{stories}}</li>
            <!--{{#context.content}}-->
                <!--<li {{#isDefault}}class="selected"{{/isDefault}}>{{type}} ({{count}})</li>-->
            <!--{{/context.content}}-->
        </ul>
    </div>
    {{/context}}
</div>