{{#topic}}
<li>
    <div class="topic-container">
        <a href="#topic/{{ id }}" class="topic">
            {{ title }}
        </a>
    </div>
    <a href="#write/topic/{{id}}" class="title-share" style="display:inline-block;">+ Add Story</a>
</li>
{{/topic}}
