<div class="item_content">
    <div id="login-container">
        <div id="login-title">Join Echoed</div>
        <div id="login-description">Share your stories with the world.</div>
        <div id="login-buttons">
            <a class="login-button facebook-button" id="facebookLogin" >
                <span class="fb-login-logo"></span>
                <span class="login-button-text">Login With Facebook</span>
            </a>
            <a class="login-button twitter-button" id="twitterLogin" >
                <span class="tw-login-logo"></span>
                <span class="login-button-text">Login With Twitter</span>
            </a>
        </div>
        - or -
        <div id="login-email-title">
            <a href="login">Login</a> / <a href="login/register">Sign-up</a> With E-mail Address
        </div>
    </div>
</div>
