<div class="item_content">
    <div id="login-container">
        <div id="login-title">Join Echoed</div>
        <div id="login-description">Share stories about things you love.<!--<br/>Login to begin sharing your story.--></div>
        <div id="login-buttons">
            <a class="login-button facebook-button" id="facebookLogin" href="https://www.facebook.com/dialog/oauth?client_id={{facebookClientId}}&redirect_uri={{https.site}}/facebook/login&scope=email,user_birthday,publish_actions">
                <span class="fb-login-logo"></span>
                <span class="login-button-text">Login With Facebook</span>
            </a>
            <a class="login-button twitter-button" id="twitterLogin" href="{{urls.site}}/twitter?redirect=">
                <span class="tw-login-logo"></span>
                <span class="login-button-text">Login With Twitter</span>
            </a>
        </div>
        - or -
        <div id="login-email-title">
            <a href="login">Login</a> / <a href="login/register">Sign-up</a> With E-mail Address
        </div>
    </div>
</div>
