    <div class="field-close"></div>
    <div class="field-title">Share Your Product Story</div>
    <div class="field-body clearfix">
        <div class="field-preview">
            <div class="field-preview-title">
                Example:
            </div>
            <div class="story-preview">
                <div class="story-preview-image-container">
                    <img id="story-preview-photo" />
                    <div id="story-preview-overlay">
                        Your Photo
                    </div>
                </div>
                <div class="story-preview-text">
                    <div class="story-preview-title">(Your Story Title)</div>
                    <div class="story-preview-from">(Where The Product Is From)</div>
                    <div class="story-preview-by">(Your Name)</div>
                </div>
            </div>
        </div>
        <div class="field-main-col clearfix">
            <div class="field-main-title">Let's Create The Cover For Your Story</div>
            <div class="field-row">
                <label>
                    <strong>Give Your Story A Title:</strong><br/>
                    Name your experience or the item
                </label>
                <div class="field-indent">
                    <input id="story-name" type="text">
                </div>
            </div>
            <div class="field-row">
                <label>
                    <strong>Where Is The Product From?</strong><br/>
                    Name or URL of the store
                </label>
                <div class="field-indent">
                    <input id="story-from" type="text">
                </div>
            </div>
            <div class="field-row">
                <label>
                    <strong>Your Photo</strong><br/>
                    Show us your picture of the item
                    <div id="field-photo-upload"></div>
                </label>
                <div class="field-indent clearfix">
                    <div class="field-photo-container">
                        <div id="preview">
                            <img height="150px" id="field-photo">
                        </div>
                    </div>

                </div>
            </div>
            <div class="field-row">
                <label></label>
                <div class="field-indent">
                    <div class="field-submit">Save and Continue</div>
                </div>
            </div>
        </div>
    </div>
