    <div class="field-close"></div>
    <div class="field-title">Share Your Story</div>
    <div class="field-body clearfix">
        <div class="field-preview">
            <div class="field-preview-title">
                Your Cover
            </div>
            <div class="story-preview">
                <div class="story-preview-image-container">
                    <img id="story-preview-photo" />
                </div>
                <div class="story-preview-text">
                    <div class="story-preview-title"></div>
                    <div class="story-preview-from"></div>
                    <div class="story-preview-by"></div>
                    <span id="story-preview-edit">Edit</span>
                </div>
            </div>
        </div>
        <div class="story-summary">
            <div class="story-summary-body">
                <div class="field-main-title">Your Story, So Far</div>
                <div class="field-main-category">
                    <div class="field-main-category-title">
                        <div class="field-main-category-helper">Choose a community for your story. Make it easier to find!</div>
                        <strong>Community:</strong>
                                <span id="field-main-category-content">
                                </span>
                        <span id="field-main-category-edit">Edit</span>
                    </div>
                    <div id="ajax-input">
                        <div style="display: inline-block;">
                            <input id="ajax-input-field" type="text" class="input-field"/><span id="category-add">Save</span>
                            <div id="ajax-input-suggestions" class="ajax-input-suggestions">
                                <div id="ajax-suggestions-header">Suggested Communities:</div>
                                <div id="ajax-suggestions-list"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="story-summary-buttons">
                <span class="story-summary-submit" act="add">Add Another Topic</span>
                <span class="story-summary-submit" act="finish">I'm Done!</span>
            </div>
        </div>
    </div>
