<div class="item_content">
    <div class="story-brief">
        <div class="story-brief-image-container">
            <img class="story-brief-image" />
        </div>
        <div class="story-brief-text">
            <img class="story-brief-text-user-image" height="35px" width="35px" src="{{ profilePhotoUrl }}"/>
            <div class="story-brief-text-title">
                {{ story.title }}
            </div>
            <div class="story-brief-text-by">
                by <a class="link-black story-brief-text-user" href="#user/{{echoedUser.id}}">{{ echoedUser.name }}</a>
            </div>
            <div class="story-brief-text-quote">{{ chapterText }}</div>
            <div class="story-brief-indicator">
                <span>Votes: </span>
                <!--<span class="story-brief-indicator-value">{{ votes.length }}</span>-->
                <span>Comments: </span>
                <span class="story-brief-indicator-value">{{ comments.length }}</span>
                <span>Photos: </span>
                <span class="story-brief-indicator-value">{{ chapterImages.length + 1 }}</span>
                <span class="s-b-i-c">
                    {{ elapsedString }}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="story-brief-edit" style="text-align: center;">
    <a href="#write/story/{{ story.id }}" class="story-brief-edit-tab">
        Edit Story
    </a>
</div>
