    <div id="story-nav" class="clearfix">
        <div act="previous" class="story-nav-button" style="float:left">Previous Story</div>
        <div act="next" class="story-nav-button" style="float:right">Next Story</div>
    </div>
    <div class="echo-story-container clearfix">
        <div class="echo-story-header clearfix">
            <div class="echo-s-h-close"><!--<img src="{{urls.images}}/btn_close_x_black.png" />--></div>
            <div class="echo-s-h-title clearfix">
                <div class="echo-s-h-i-c">
                    <img class="echo-s-h-i-i" src="" />
                </div>
                <div class="echo-s-h-t-t">
                </div>
                <div class="echo-s-h-t-n">
                </div>
            </div>
        </div>
        <div class="echo-story-main">
            <div class="echo-story-body clearfix">
                <div class="echo-s-b-text">
                    <!--<div class="echo-s-b-t-t"></div>
                    <div class="echo-s-b-t-b"></div>
                    <div class="echo-chapters clearfix">
                        <div class="echo-chapters-title">
                            Stories
                        </div>
                    </div>-->
                </div>
                <div class="echo-s-b-segment"></div>
                <div class="echo-s-b-gallery clearfix">
                </div>
            </div>
            <div class="echo-story-footer clearfix">
                <div class="echo-story-comments">
                    <div class="echo-s-c-t">
                        Discussion <span id="echo-s-c-t-count"></span>
                    </div>
                    <div class="echo-s-c-ta">
                        <textarea id="echo-story-comment-ta"></textarea>
                    </div>
                    <div class="comment-submit" style="display: none;">Submit Comment</div>
                    <div class="comment-login" style="display: none;">
                        <div class="comment-login-title">Login to Discuss</div>
                        <div class="login-button facebook-button comment-login-fb">
                            <span class="fb-login-logo"></span>
                        </div>
                        <div class="login-button twitter-button comment-login-tw">
                            <span class="tw-login-logo"></span>
                        </div>
                    </div>
                    <div class="echo-s-c-l">
                        <!-- Comment List -->
                    </div>
                </div>
            </div>
        </div>
        <div id="echo-story-gallery" class="echo-story-gallery">
        </div>
    </div>
