    <div id="story-nav" class="clearfix">
        <div act="previous" class="story-nav-button" style="float:left">Previous Story</div>
        <div act="next" class="story-nav-button" style="float:right">Next Story</div>
    </div>
    <div class="echo-story-container clearfix">
        <div id="echo-story-user-container">
            <div id="echo-story-user">
                <div class="echo-s-h-t-n">
                </div>
                <div style="border-top: 1px dotted #FFF; color: #FFF; margin: 10px 0px; text-align:center; font-size: 14px; font-weight: bold;">Vote</div>
                <div class="echo-s-vote">
                    <div><img style="margin:2px;vertical-align: middle" id="upvote" src="http://localhost.com:8080/images/uparrow_off.png"/></div>
                    <div><img style="margin:2px;vertical-align: middle" id="downvote" src="http://localhost.com:8080/images/downarrow_off.png"/></div>
                </div>
                <div id="story-actions">
                    <ul>
                        <li>
                            <span class="greyButton">
                                Share
                            </span>
                        </li>
                        <li>
                            <span class="greyButton">
                                Follow
                            </span>
                        </li>
                    </ul>
                </div>



            </div>
            <div id="story-edit-container">
                <a id="story-edit-tab">
                    Edit Story
                </a>
            </div>
        </div>
        <div class="echo-story-header clearfix">
            <div class="echo-s-h-close"></div>
            <div class="echo-s-h-title clearfix">
                <div class="echo-s-h-i-c">
                    <img class="echo-s-h-i-i" src="" />
                </div>
                <div class="echo-s-h-t-t">
                </div>
            </div>
        </div>
        <div class="echo-story-main">
            <div class="echo-story-chapter-title">

            </div>
            <div class="echo-story-body clearfix">
                <div class="echo-s-b-gallery clearfix">
                </div>
                <div class="echo-s-b-text">
                </div>
                <div class="echo-s-b-segment"></div>
            </div>
            <div class="echo-story-footer clearfix">
                <div class="echo-story-comments">
                    <div class="echo-s-c-t">
                        Discussion <span id="echo-s-c-t-count"></span>
                    </div>
                    <div class="echo-s-c-ta">
                        <textarea id="echo-story-comment-ta"></textarea>
                    </div>
                    <div class="comment-submit" style="display: none;">Submit Comment</div>
                    <div class="comment-login" style="display: none;">
                        <div class="comment-login-title">Login to Discuss</div>
                        <div class="login-button facebook-button comment-login-fb">
                            <span class="fb-login-logo"></span>
                        </div>
                        <div class="login-button twitter-button comment-login-tw">
                            <span class="tw-login-logo"></span>
                        </div>
                    </div>
                    <div class="echo-s-c-l">
                        <!-- Comment List -->
                    </div>
                </div>
            </div>
        </div>
        <div id="echo-story-gallery-container">
            <div id="echo-story-gallery-prev"></div>
            <div id="echo-story-gallery" class="echo-story-gallery">
                <div id="echo-story-gallery-body">
                </div>
                <div style="height: 100%; width:100px">
                </div>
            </div>
            <div id="echo-story-gallery-next"></div>
        </div>
    </div>
