    <div class="field-close"></div>
    <div class="field-title">Share Your Product Story</div>
    <div class="field-body">
        <div class="field-preview">
            <div class="field-preview-title">
                Your Cover
            </div>
            <div class="story-preview">
                <div class="story-preview-image-container">
                    <img id="story-preview-photo" />
                </div>
                <div class="story-preview-text">
                    <div class="story-preview-title">(Title)</div>
                    <div class="story-preview-by">(Your Name)</div>
                </div>
            </div>
        </div>
        <div class="story-edit">
            <div class="chapter-edit-body clearfix">
                <div class="chapter-edit-body-top">
                    <div class="chapter-edit-body-top-title">
                        Tell Your Story
                    </div>
                </div>
                <div class="chapter-edit-body-main">
                    <div class="chapter-edit-body-row">
                        <label for="chapter-title">
                            <strong>Choose a topic:</strong><br/>
                        </label>
                        <!--<input id="chapter-title" type="text" name="chapter-title" />-->
                        <div id="chapter-title" class="field-select"></div>
                    </div>
                    <div class="chapter-edit-body-row">
                        <label>
                            <strong>Your Story:</strong><br/>
                        </label>
                        <textarea id="chapter-text" class="expanding"></textarea>
                    </div>
                    <div class="chapter-edit-body-row">
                        <label>
                            <strong>Have More Photos?</strong><br/>
                            <div class="photo-upload"></div>
                        </label>
                        <div class="chapter-edit-photos">
                            <div class="thumbnails">
                            </div>
                            <div class="thumbnail-placeholder">
                                <img id="thumb-placeholder" class="thumb" />
                            </div>

                        </div>
                    </div>
                    <div class="chapter-edit-body-row">
                        <label></label>
                        <span class="chapter-submit">Save</span>
                        <span class="chapter-cancel">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
