<div id="title" class="clearfix">
    <div id="title-header">
        <span id="title-text">
        </span>
    </div>
    <div id="title-body">
            <ul>
                <li>
                    <div class="topic-container">
                        <a href="#" class="topic">
                            Is there a guide or mentor that has significantly shaped who you are today?
                        </a>
                    </div>
                    <div class="title-share" style="display:inline-block;">+ Add Story</div>
                </li>
                <li>
                    <div class="topic-container">
                        <a href="#" class="topic">
                            Is there a guide or mentor that has significantly shaped who you are today?
                        </a>
                    </div>
                    <div class="title-share" style="display:inline-block;">+ Add Story</div>
                </li>
                <li>
                    <div class="topic-container">
                        <a href="#" class="topic">
                            Is there a guide or mentor that has significantly shaped who you are today?
                        </a>
                    </div>
                    <div class="title-share" style="display:inline-block;">+ Add Story</div>
                </li>
                <li>
                    <div class="topic-container">
                        <a href="#" class="topic">
                            Show Your DIY
                        </a>
                    </div>
                    <div class="title-share" style="display:inline-block;">+ Add Story</div>
                </li>
            </ul>
    </div>
</div>