$colorEC: #E31B23; //Echoed Color
$colorFB: #3B5998; //Facebook Color
$colorTW: #4099FF; //Twitter Color


//DEFAULT FONT SETTINGS
$fontTextFamily: 'Open Sans', sans-serif;
$fontHeaderFamily: 'Arvo', sans-serif;

$fontTextSizeDefault: 12px;
$fontTextColorDefault: #333;

//MIXINS
    @mixin sprite($posX, $posY, $width, $height){
        background-image: image-url('sprites.png');
        background-repeat: no-repeat;
        background-position: $posX $posY;
        width: $width;
        height: $height;
    }

    @mixin fontText($size: $fontTextSizeDefault, $color: $fontTextColorDefault, $weight: 400){
        font-family: $fontTextFamily;
        font-weight: $weight;
        color: $color;
    }

    @mixin dropShadowDown(){
        box-shadow: 0 3px 3px rgba(34,25,25,0.4);
        -moz-box-shadow: 0px 3px 3px rgba(34,25,25,0.4);
        -webkit-box-shadow: 0px 3px 3px rgba(34,25,25,0.4);
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666');
    }

    @mixin button{
    }


//RESET
html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td {
    margin:0;
    padding: 0;
    @include fontText;
}