//RESET
$mainColor: #E31B23;
$navFontFamily: "Open Sans", Tahoma, Arial,sans-serif;
$textFontFamily: "Open Sans", Tahoma, Arial,sans-serif;
$headerFontFamily: 'Arvo', serif;

@mixin textFontNormal($size: 12px, $color: #333){
        font-family: $textFontFamily;
        font-weight: normal;
        color: $color;
        font-size: $size;
    }

    @mixin textFontBold($size: 12px, $color: #333){
        font-family: $textFontFamily;
        font-weight: bold;
        color: $color;
        font-size: $size;
    }

    @mixin headerFont($size: 16px, $color: #333){
        font-family: $headerFontFamily;
        color: $color;
        font-size: $size;
    }


    @mixin drop-shadow{
        box-shadow: 1px 1px 2px rgba(34,25,25,0.4);
        -moz-box-shadow: 1px 1px 2px rgba(34,25,25,0.4);
        -webkit-box-shadow: 1px 1px 2px rgba(34,25,25,0.4);
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666');
    }

    @mixin button(){

        margin: 3px;
        display: inline-block;
        padding: 10px 10px;
        background-color: #eb1a24;
        background: -moz-linear-gradient(
            top,
            #eb1a24 0%,
            #b41b25);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#eb1a24),
            to(#b41b25));
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border: 1px solid #591b24;
        -moz-box-shadow:
            inset 0px 1px 1px rgba(255,255,255,0.5);
        -webkit-box-shadow:
            inset 0px 1px 1px rgba(255,255,255,0.5);
        text-shadow:
            0px -1px 1px rgba(089,027,036,1),
            0px -1px 0px rgba(255,255,255,0.3);
    }



#echoed-fade { /*--Transparent background layer--*/
    //position: absolute;
    z-index: 9999;
    //background-image: image-url("bk_greyPx.png");
    background-color: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    position: fixed;
    width: 100%;
    display: none;
    overflow-y: scroll;
}


#echoed-opener{
    position:absolute;
    left: 0px;
    top: 50%;
    margin-top: -260px;
    //background-image: image-url("btn_echoed_opener.jpg");
    @include drop-shadow;
    //width: 30px;
    //height: 250px;
    //border-top: 1px solid #CCC;
    cursor: pointer;
    img{
        display: block;
        border: 0px;
        margin: 0px;
        padding:0px;
    }

}

#echoed-infiniteScroll{
    position: absolute;
    z-index: 99999;
    bottom: 10px;
    margin-bottom: 10px;
    left: 50%;
    width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background-image: image-url("bg-blackpx90.png");
    margin-left: -125px;
    @include textFontNormal(16px, #FFF);
    text-align: center;
}


#echoed-exhibit-container{
    position:absolute;
    top: 50px;
    left: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
    z-index: 10000;
    text-align: left;
    .clearfix{
        zoom:1;
        &:before,&:after{
            content:"";
            display:table;
        }
        &:after{
            clear:both;
        }
    }

    #echoed-e-c-b{
        position:relative;
        border: 1px solid #CCC;
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        #echoed-exhibit{
            background-image: image-url("bk_noise.jpg");
            width: 780px;
            background-color: #FFF;
        }
    }

    #echoed-title{
        width: 210px;
        padding: 10px;
        text-align:center;
        @include textFontNormal(24px, #FFF);
        background-color: #333 !important;
        .title-description{
            @include textFontNormal(18px, #FFF);
            //font-weight: bold;
        }
        img {
            width: 230px;
            padding: 0px;
            margin: 0px;
        }
    }


    .item_wrap{
        border: 1px solid rgba(155,155,155, 0.5);
        z-index :1;
        float:left;
        margin:5px;
        padding: 6px;
        background-color: #FFF;

        .exhibit_image{
            border: 4px solid #F0F0F0;
            border-radius: 3px;
            cursor: pointer;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            //width: 260px;
            display: block;
            &.highlight{
                border-color: #CCC;
            }
        }

        .icl_pn{
            text-decoration: underline;
            cursor: pointer;
        }

        .item_text{
            padding: 5px;
            line-height: 1.5em;
            text-overflow: ellipsis;
            width: 200px;
            @include textFontNormal(12px, #000);
            text-align: left;
        }


        .story-brief{
            cursor: pointer;
            .story-brief-text{
                padding: 7px 5px 2px 5px;
                line-height: 1.5em;
                @include textFontNormal(12px, #333);
                background-color: rgba(255,255,255, 0.8);
                width: 200px;
                .story-brief-text-user{
                    @include textFontBold(12px);
                    text-decoration: none;
                    //@include textFpmt(12px);
                    &:hover{
                        color: $mainColor;
                    }
                }
            }
            .story-brief-image-container{
                position:relative;
                border: 4px solid #F0F0F0;
                border-radius: 3px;
                cursor: pointer;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                &.highlight{
                    border-color: #CCC;
                }
                .story-brief-overlay{
                    background-color: rgba(0,0,0, 0.8);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top:0px;
                    left:0px;
                    right:0px;
                    overflow: hidden;
                    .story-brief-overlay-wrap{
                        margin: 20px;
                        @include headerFont(24px, #FFF);
                        text-align: center;
                    }
                }
                .story-brief-image{
                    display: block;
                }
            }

        }
    }


/* Start: Recommended Isotope styles */

    .isotope-item {
        z-index: 2;
    }

    .isotope-hidden.isotope-item {
        pointer-events: none;
        z-index: 1;
    }

    .isotope,
    .isotope .isotope-item {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

    .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -o-transition-property: height, width;
        transition-property: height, width;
    }

    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property:    -moz-transform, opacity;
        -o-transition-property:         top, left, opacity;
        transition-property:         transform, opacity;
    }

    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
    }

    .isotope.infinite-scrolling {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }

}


#echoed-story{
    position:absolute;
    top: 50px;
    text-align: left;
    width: 765px;
    left: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
    z-index: 10000;
    .clearfix{
        zoom:1;
        &:before,&:after{
            content:"";
            display:table;
        }
        &:after{
            clear:both;
        }
    }
    .echo-story-container{
        position:relative;
        background-image: image-url("bk_noise.jpg");
        padding-bottom: 10px;
        border-radius: 3px;
        .echo-story-header{
            padding: 10px;
            .echo-s-h-title{
                @include textFontNormal(16px);
                .echo-s-h-t-t{
                    @include headerFont(36px);
                    text-shadow: 0px 1px 0px #FFF;
                    margin: 0px 30px;
                    text-align: center;
                }
                .echo-s-h-t-n{
                    @include textFontNormal(16px);
                    text-align: center;
                    .echo-s-h-t-n-u{
                        @include textFontNormal(16px);
                        text-decoration: none;
                        &:hover{
                            color: $mainColor;
                        }
                    }
                }
                .echo-s-h-i-c{
                    float:left;
                    display: none;
                    margin-right: 10px;
                    .echo-s-h-i-i {
                        height: 50px;
                    }
                }
            }
        }

        .echo-chapters{
            width: 300px;
            background-color: #F0F0F0;
            box-shadow:         inset 0 0 1px #000000;
            -moz-box-shadow:    inset 0 0 1px #000000;
            -webkit-box-shadow: inset 0 0 1px #000000;

            .echo-chapters-title{
                padding: 3px 5px;
                @include textFontBold(14px);
            }
            .echo-chapter{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 3px 20px;
                cursor:pointer;
                @include textFontNormal(12px);

                &.on, &:hover{
                    //background-color: #FFF;
                    @include textFontBold(12px);
                }
            }
        }
        .echo-story-body{
            position: relative;
            margin: 5px 10px;
            padding: 10px 0px;
            border-top: 1px solid #FFF;
            box-shadow: 0px -1px 0px #CCC;
            .echo-s-b-text{
                float:left;
                width: 300px;
                padding: 0px 0px 0px 5px;

                .echo-s-b-t-t{
                    padding-bottom: 5px;
                    @include textFontBold(20px);
                    text-shadow: 0px 1px 0px #FFF;
                    word-wrap: break-word;
                }
                .echo-s-b-t-b{
                    padding-bottom: 20px;
                    @include textFontNormal(14px, #333);
                    font-style: italic;
                    line-height: 1.3em;
                    word-wrap: break-word;
                }
            }
            .echo-s-b-segment{
                position: absolute;
                left: 0px;
                bottom: 10px;
                padding: 10px 0px;
                background-color: #CCC;
                .echo-s-b-s-t{
                    padding: 0px 10px;
                    @include textFontNormal(14px);
                }
            }
            .echo-s-b-gallery{
                float: left;
                width: 412px;
                margin-left: 12px;
                text-align:center;
                .echo-s-b-item{
                    height: 320px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                    .echo-s-b-i-c{
                        display: inline-block;
                        max-width: 400px;
                        border: 5px solid #FFF;
                        overflow:hidden;
                        img{
                            display: block;
                            max-height: 300px;
                            max-width: 400px;
                        }
                    }
                }
                .echo-s-b-thumbnails{
                    text-align: left;
                    margin-top: 3px;
                    .echo-s-b-thumbnail{
                        height: 60px;
                        border: 2px solid #CCC;
                        margin-right: 3px;
                        cursor: pointer;
                        &.highlight{
                            border-color: #FFF;
                        }
                    }
                }
            }

        }
        .echo-story-footer{
            padding: 0px 10px;
            .echo-story-nav{
                margin: 5px 0px 10px 0px;
                .echo-s-n-s{
                    margin-right: 5px;
                    cursor: pointer;
                    float:left;
                    border: 1px solid #CCC;

                    img {
                        height: 40px;
                        padding: 3px;
                        background-color: #FFF;
                    }
                    .echo-s-n-s-tt {
                        visibility: hidden;
                        padding: 10px;
                        border-radius: 5px;
                        background-color: #000;
                        color: #FFF;
                        @include textFontNormal(14px, #FFF);
                        position:absolute;
                    }
                }
            }
            .echo-story-comments{
                .echo-s-c-t{
                    @include textFontBold(24px);
                    text-shadow: 0px 1px 0px #FFF;
                    margin-bottom: 5px;
                    #echo-s-c-t-count{

                    }
                }
                .echo-s-c-ta{
                    margin: 5px 0px;
                    textarea{
                        width: 705px;
                        padding: 10px;
                        border-radius: 5px;
                        resize: none;
                        height: 50px;
                        border: 1px solid #CCC;
                        @include textFontNormal(14px);
                    }

                }

                .echo-s-c-tb{
                    padding: 10px 0px;
                    .comment-submit{
                        cursor: pointer;
                        @include textFontBold(14px, #FFF);
                        @include button;
                        display: none;
                    }
                }

                .echo-s-c-l{
                    margin-top: 10px;
                    border-top: 1px dotted #999;
                    padding: 10px 0px;
                    .echo-s-c-l-c{
                        padding: 10px 0px 10px 10px;
                        .echo-s-c-l-c-u{
                            a{
                                @include textFontBold(14px, $mainColor);
                                text-decoration: none;
                            }
                        }
                        .echo-s-c-l-c-t{
                            padding: 5px 0px;
                            @include textFontNormal(14px, #000);
                            border-bottom: 1px dotted #999;
                        }

                    }

                }
            }

        }
    }
}



.echoed-head{
    height: 40px;
    position:relative;
    #echoed-selector{
        padding: 6px 25px 6px 6px;
        float:left;
        bottom:2px;
        background: -moz-linear-gradient(top,white 0%, #F3F3F3 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #F3F3F3));
        background: -webkit-linear-gradient(top, white 0%, #F3F3F3 100%);
        background: -o-linear-gradient(top, white 0%, #F3F3F3 100%);
        background: -ms-linear-gradient(top, white 0%, #F3F3F3 100%);
        background: linear-gradient(top, white 0%, #F3F3F3 100%);
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border: 1px solid #CECECE;
        border-bottom-color: #A0A0A0;
        background-repeat: no-repeat;
        background-position: 90% 50%;
        @include textFontNormal(14px, #000);
        font-weight: 400;
    }
}

.echoed-close{
    position: absolute;
    right:0px;
    top:0px;
    margin-right: -20px;
    margin-top: -20px;
    z-index: 10000;
    img{
        cursor: pointer;
    }
}

.echoed-footer{
    padding-top: 10px;
    text-align: center;
    .echoed-footer-left-title{
        text-align: center;
        @include headerFont(24px);
    }
    .echoed-footer-left-text{
        text-align: center;
        @include textFontNormal(14px);
        width: 400px;
        margin: 0px auto 5px aut;
    }
    .echoed-share{
        @include textFontBold(14px, #FFF);
        @include button;
        text-decoration: none;
    }
}