//$mainColor: #FF7733;
$mainColor: #E31B23;
$highlightColor : #DC0814;
$fbColor: #3B5998;
$twitterColor: #4099FF;

$labelColor: #666;
$navColor: #111;


$containerColor: #FFF;
$backgroundColor: #CCC;

$headerHeight: 40px;

$navFontFamily: Lato, Tahoma, Arial,sans-serif;
$textFontFamily: Lato, Tahoma, Arial,sans-serif;

//MIXINS


    //DROP SHADOW
    @mixin drop-shadow{
        box-shadow: 0 1px 1px rgba(34,25,25,0.4);
        -moz-box-shadow: 0px 1px 1px rgba(34,25,25,0.4);
        -webkit-box-shadow: 0px 1px 1px rgba(34,25,25,0.4);
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666')";
       	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666');
    }
    @mixin navFont($size: 16px, $color: #111){
        font-family: $navFontFamily;
        font-size: $size;
        color: $color;
        font-weight: normal;
    }

    @mixin textFontBold($size: 14px, $color: #333) {
        font-family: $textFontFamily;
        font-size: $size;
        color: $color;
        font-weight: 700;
    }

    @mixin textFontLight($size: 14px, $color: #111){
        font-family: $textFontFamily;
        font-weight: 300;
        color: $color;
        font-size: $size;
    }

    @mixin textFontNormal($size: 14px, $color: #111){
        font-family: $textFontFamily;
        font-weight: normal;
        color: $color;
        font-size: $size;
    }

//RESET
html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td{
	margin:0;
	padding: 0;
	@include textFontLight;
}

table{
    border-collapse: collapse;
}

//STANDARD HTML ELEMENTS DEFINITION
html{
    height: 100%;
    overflow-y: scroll;
}

body{
    background-image: image-url("bk_noise.png");
}

img{
    border: none;
}

th{
    font-weight: normal;
}

a{
	text-decoration:none;
    color: inherit;
    &:visited{
        text-decoration: none;
        color: inherit;
    }
}

h2{
    @include navFont($labelColor);
}

.highlight{
    color: $highlightColor;
}

.nav-label{
    padding: 7px 0px;
    border-bottom: 1px #CCC solid;
    @include navFont;
    text-align:center;
}

#fade { /*--Transparent background layer--*/
    position: absolute;
    z-index: 9999;
    background-image: image_url("bk_greyPx.png");
    top: 0px;
    left: 0px;
}

#container{
    min-width: 1000px;
    height: 100%;
    &.facebook{
        min-width: 740px;
    }

    #header{
        height: 40px;
        background-color: #FFF;
        width: 100%;
        position: fixed;
        z-index: 99999;
        @include drop-shadow;
    }
}

    #nav-container{
        position:fixed;
        right:0px;
        width: 250px;
        padding: 10px;
        height: 100%;
    }


		#logo{
            height: 40px;
            text-align:center;
            background-color: #FFF;
            @include drop-shadow;
            //margin-bottom: 10px;
            border-bottom: 1px #CCC solid;
		}

        #user{
            background-color: #FFF;
            margin-bottom: 10px;
            padding: 5px 5px;
            @include drop-shadow;
            //border-bottom: 1px #CCC solid;
            #user-text{
                line-height:30px;
                @include textFontNormal(12px);
                float:left;
                text-align:left;
            }

            #user-image{
                float:left;
                margin: 0px 5px;
                #u-i-i{
                    border: 2px #CCC solid;
                }
            }
		}

        #actions{
            background-color: #FFF;
            @include drop-shadow;
            margin-bottom: 10px;
            text-align:center;
            padding: 5px;
            .action-button{
                cursor: pointer;
                border-radius: 5px;
                margin: 10px;
                padding: 10px 0px;
                color: #FFFFFF;
                font-weight: bold;
                background-color: #00CC00;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, .42);
            }
        }

        #networks{
            float:right;
        }

		#header-nav{
			//margin-left: 100px;
			//float:left;
            background-color: #FFF;
            @include drop-shadow;
            margin-bottom: 10px;

            li{
                padding: 7px 10px;
                list-style:none;
                @include textFontNormal(14px);
                //float:left;
            }
            li:hover, .current{
            	color: $highlightColor;
            }
		}

    #title{
        height: 80px;
        width: 600px;
        margin: 10px auto;
        background-color: #FFF;
        @include drop-shadow;
    }

    #content{
        margin-right: 270px;
        border-right: 1px solid #CCC;
        box-shadow: 1px 0 0 #FFF;
        -moz-box-shadow: 1px 0 0 #FFF;
        -webkit-box-shadow: 1px 0 0 #FFF;

    }

    #content-title{
        @include navFont;
        color: $highlightColor;
        padding: 10px;
        margin: 10px;
        background-color: #FFF;
        @include drop-shadow;
    }

		#content-selector{
            position:relative;
			margin: 0px auto 0px;

            a{
                &:hover{
                    color:$highlightColor;
                }
                &.current{
                    color: $highlightColor;
                }
            }
		}

        .dropdown{
            position:relative;
            cursor: pointer;
            background-color: #FFF;
            margin-bottom: 10px;
            @include drop-shadow;
            white-space: nowrap;
                .dd-header{
                    padding: 7px 10px;
                }
                .dd-body{
                    display:none;
                    ul{
                        background-color: #FFF;
                        position:relative;
                        z-index: 10;
                        border-top: 1px solid #CCC;
                        list-style: none;
                        li{
                            width: 250px;
                        }
                        a{
                            display:block;
                            padding: 10px;
                            text-align:left;
                        }
                    }
                }
            }

        #field{
            position:fixed;
            top: 20%;
            left: 50%;
            margin-left: -350px;
            width: 700px;
            //height: 350px;
            z-index: 99999;
            background-color: #FEFEFE;
            border-radius: 5px;
            .field-close{
                position:absolute;
                float:left;
                cursor: pointer;
            }
            .field-title{
                padding: 10px;
                @include textFontBold(36px);
                text-shadow: 0 -1px 0 rgba(0, 0, 0, .42);
                text-align:center;
            }
            .field-body{
                padding: 10px;
                text-align: center;
                textarea{
                    width: 660px;
                    height: 200px;
                    resize: none;
                    @include textFontNormal(20px);
                }
                .field-button{
                    border-radius: 5px;
                    margin: 10px;
                    padding: 10px 0px;
                    @include textFontBold(16px, #FFF);
                    background-color: #FF7733;
                    text-shadow: 0 -1px 0 rgba(0, 0, 0, .42);
                    cursor: pointer;
                }
            }
        }

		#exhibit{
	        margin:auto;
	        .no-echoes{
	            font-size: 20px;
	            font-weight: bold;
	            margin-top: 50px;
	            text-align: center;
	        }

            .fbp{
                float:left;
                width: 230px;
                height: 240px;
                .message{
                    margin: 10px;
                }
            }

            .profile{
                float: left;
                width: 480px !important;
                height: 400px;
                .profile_content{
                    padding: 10px;
                    .profile_username{
                        @include textFontBold(24px);
                    }
                    .profile_stat{
                        float:left;
                        width: 210px;
                        padding: 10px;
                        .profile_label{
                            @include textFontNormal(30px);
                            text-align: right;
                        }
                        .profile_reward, .profile_referrers{
                            @include textFontBold(48px);
                            text-align: right;
                        }
                    }
                }
            }

			.item_hover{
				width:100%;
	            position: absolute;
	            bottom: 0px;
	            left: 0px;
	            overflow:hidden;
  	            background-color: #222;
			}

			.item_hover_wrap{
				padding: 10px;
				text-align:left;
	            line-height: 1.5em;
                @include textFontNormal(14px, #FFF);
			}

	        .item_wrap{
                @include drop-shadow;
                //width:230px;
                z-index :1;
                float:left;
                margin:8px;
                position:relative;
                cursor:pointer;
                background-color: #FFF;
                &.hover{
                    width: 460px;
                }

	            img{
	                width: 230px;
	                border: 0px;
	                &.open-echo{
    	                //border-color: $highlightColor;
    	            }
    	        }

    	        .item_content_large{
                    background-image: image-url("bk_noise.png");
                    width: 690px;
                    border: 20px solid #FFF;
                    .icl_in{
                        text-align: center;
                        @include textFontBold(36px);
                        text-shadow: 0 -1px 0 rgba(0, 0, 0, .42);
                    }
                    .icl_pn{
                        text-align: center;
                        @include textFontNormal(24px);
                        border-bottom: 1px solid #CCC;
                        box-shadow: 1px 1px 0px #FFF;
                    }
                    .icl_top{
                        padding: 10px;
                        .icl_left{
                            height: 100%;
                            float:left;
                            .icli{
                                background-color: #FFF;
                                border: 1px solid #CCC;
                            }
                        }
                        .icl_right{
                            float:left;
                            width: 440px;
                            text-align:center;
                            textarea{
                                width: 400px;
                                height: 75px;
                                border-radius: 5px;
                                resize: none;
                            }
                        }
                    }
    	        }
	        }
	        .item_text{
	            border-top: 1px solid #333;
	            padding: 5px;
	            line-height: 1.2em;
                text-overflow: ellipsis;
                width: 220px;
                @include textFontNormal(14px, #111);

	        }
		}
			.friend{
				width: 230px;
				height: 50px;
				float:left;
	            margin: 10px;
	            background-color: #FFF;
	            @include drop-shadow;
	            &:hover{
	                border-color: $highlightColor;
	            }
	            img{
                    width: 50px;
                    height: 50px;
                    float:left;
	            }
	            .friend-text{
                    float:left;
                    @include textFontNormal(14px, #111);
                    padding: 5px;
                    width: 170px;
                }
			}




.clearfix{
    zoom:1;
    &:before,&:after{
        content:"";
        display:table;
    }
    &:after{
        clear:both;
    }
}

.center{
    width:960px;
    margin:auto;
}

.orange{
    color: $highlightColor;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}