@charset "utf-8";
/* CSS Document */

#echoed-fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
#echoed-popup{
	display: none; /*--hidden by default--*/
	background: #fff;
	border: 20px solid #FFF;
	float: left;
	font-size: 1.2em;
	position: absolute;
    margin:auto;
    left: 50%;
	z-index: 99999;
}

#echoed-header{
    height: 30px;
    border-bottom: 1px solid #000;
}

#echoed-close{
    cursor: pointer;
}