//MIXINS
$fontFamily: 'Open Sans','Open Sans Condensed', Arial, sans-serif;
$labelFontFamily: 'Open Sans Condensed',Lato, Arial, sans-serif;


@mixin headerFont($size: 16px, $color: #111) {
    font-family: $labelFontFamily;
    font-size: $size;
    font-weight: 700;
    color: $color;
    text-shadow: white 1px 1px 0;
}

@mixin navFont($size: 16px, $color: #111) {
    font-family: $fontFamily;
    font-size: $size;
    color: $color;
}

@mixin textFont($size: 14px, $color: #111) {
    font-family: $fontFamily;
    font-size: $size;
    color: $color;
}

@mixin textFontBold($size: 14px, $color: #111) {
    font-family: $labelFontFamily;
    font-size: $size;
    color: $color;
    font-weight: 700;
}

@mixin textFontLight($size: 16px, $color: #111){
    font-family: $fontFamily;
    font-weight: 300;
    color: $color;
    font-size: $size;
}


@mixin labelFont($size: 32px, $color: #333) {
    font-family: $fontFamily;
    font-size: $size;
    color: $color;
    font-weight: 700;
}

@mixin inset-shadow{
    -moz-box-shadow:    inset 0 1px 1px rgba(34,25,25,0.4);
    -webkit-box-shadow: inset 0 1px 1px rgba(34,25,25,0.4);
    box-shadow:         inset 0 1px 1px rgba(34,25,25,0.4);
}

@mixin drop-shadow{
    box-shadow: 1px 1px 10px #000;
    -moz-box-shadow: 1px 1px 10px #000;
    -webkit-box-shadow: 1px 1px 10px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666');
}

//RESET


html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td{
    margin:0;
    padding: 0;
    //@include textFont;
}

body{
    background-color: #222;
}

img{
    margin:0;
    padding:0;
    border: 0;
}

.echo-story-container{
    position:relative;
    background-color: #E3E3E3;
    background-image: image-url("bk_story_gradient.jpg");
    background-repeat: repeat-x;
    width: 680px;
    border-radius: 5px;
    padding-bottom: 10px;
    border: 8px solid #FFF;
    margin: 10px auto;
    .echo-story-header{
        //background-color: #FFF;
        padding: 10px;
        .echo-s-h-title{
            @include textFont(16px);

            .echo-s-h-t-t{
                @include headerFont(36px);
            }
            .echo-s-h-t-n{
                @include textFont(16px);
            }
        }
    }
    .echo-story-body{
        position: relative;
        //margin: 10px;
        margin: 5px 10px;
        padding-bottom: 10px;
        //@include inset-shadow;
        border-bottom: 1px solid #CCC;
        box-shadow: 0px 1px 0px #FFF;
        .echo-s-b-text{
            float:left;
            width: 230px;
            padding: 0px 0px 0px 5px;
            .echo-s-b-t-t{
                padding-bottom: 5px;
                @include headerFont(24px);
            }
            .echo-s-b-t-b{
                padding: 10px 0px;
                @include textFont(14px, #333);
                font-style: italic;
                line-height: 1.3em;

            }
        }
        .echo-s-b-segment{
            position: absolute;
            left: 0px;
            bottom: 10px;
            padding: 10px 0px;
            background-color: #CCC;
            .echo-s-b-s-t{
                padding: 0px 10px;
                @include textFontBold(14px);
            }
        }
        .echo-s-b-gallery{
            float: left;
            //width: 410px;
            width: 412px;
            height: 312px;
            margin-left: 12px;
            text-align:center;
            .echo-s-b-item{
                //border: 1px solid #CCC;
                //background-color: #999;
                text-align: center;
                .echo-s-b-i-c{
                    border: 1px solid #CCC;
                    background-color: #FFF;
                    padding: 5px;
                    img{
                        //@include drop-shadow;
                        max-height: 300px;
                        //width: 535px;
                    }
                }
            }
        }

    }
    .echo-story-footer{
        padding: 0px 10px;
        .echo-story-nav{
            margin: 5px 0px 10px 0px;
            .echo-s-n-s{
                margin-right: 5px;
                cursor: pointer;
                float:left;
                border: 1px solid #CCC;

                img {
                    height: 40px;
                    padding: 3px;
                    background-color: #FFF;
                }
                .echo-s-n-s-tt {
                    visibility: hidden;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #000;
                    color: #FFF;
                    @include textFont(14px, #FFF);
                    position:absolute;
                }
            }
        }
        .echo-story-comments{
            //border-top: 1px #CCC solid;
            .echo-s-c-t{
                @include headerFont(24px);
            }
        }

    }

}


.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}