$navFontFamily: Lato, Arial, sans-serif;
$textFontFamily: Lato, HelveticaNeue-Light, Arial, Helvetica, sans-serif;

@mixin drop-shadow{
    box-shadow: 0 2px 2px rgba(34,25,25,0.4);
    -moz-box-shadow: 0px 2px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0px 2px 2px rgba(34,25,25,0.4);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666');
}

    @mixin navFont($size: 16px, $color: #111){
        font-family: $navFontFamily;
        font-size: $size;
        color: $color;
        font-weight: normal;
    }

    @mixin textFontLight($size: 16px, $color: #111){
        font-family: $textFontFamily;
        font-weight: 300;
        color: $color;
        font-size: $size;
    }

    @mixin textFontNormal($size: 16px, $color: #111){
        font-family: $textFontFamily;
        font-weight: normal;
        color: $color;
        font-size: $size;
    }

    @mixin textFontBold($size: 16px, $color: #333) {
        font-family: $textFontFamily;
        font-size: $size;
        color: $color;
        font-weight: 700;
    }


//RESET
html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td{
    margin:0;
    padding: 0;
    @include textFontLight();
}

.logo{
    position:absolute;
    left: 10px;
    top: 10px;
    img {
        max-height: 80px;
        max-width: 300px;
    }
}

.coupon-container{
    width: 960px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -480px;
    text-align:center;
    @include textFontLight(36px);
    .product{
        img{
            margin: 20px;
        }
        a, a:visited,{
          @include textFontBold(20px);
        }
        .product-name, .partner-name{
            @include textFontBold(36px);
        }
        .product-text{
            @include textFontLight(36px);
        }
        margin-bottom: 20px;

    }
    .coupon-code, .expires{
        @include textFontBold(36px);
    }
}
