$colorEC: #E31B23;
$highlightColor : #DC0814;
$fbColor: #3B5998;
$twitterColor: #4099FF;

$labelColor: #666;
$navColor: #111;


$containerColor: #FFF;
$backgroundColor: #CCC;

$headerHeght: 40px;

$navFontFamily: 'Open Sans', sans-serif;
$textFontFamily: 'Open Sans', sans-serif;
$headerFontFamily: 'Arvo', serif;

//MIXINS
    @mixin sprite($posX, $posY, $width, $height){
        background-image: image-url('sprites.png');
        background-repeat: no-repeat;
        background-position: $posX $posY;
        width: $width;
        height: $height;
    }

    //DROP SHADOW
    @mixin drop-shadow-down{
        box-shadow: 0 3px 3px rgba(34,25,25,0.4);
        -moz-box-shadow: 0px 3px 3px rgba(34,25,25,0.4);
        -webkit-box-shadow: 0px 3px 3px rgba(34,25,25,0.4);
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666');
    }

    @mixin drop-shadow{
        box-shadow: 0 0px 8px rgba(34,25,25,0.4);
        -moz-box-shadow: 0px 0px 8px rgba(34,25,25,0.4);
        -webkit-box-shadow: 0px 0px 8px rgba(34,25,25,0.4);
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666')";
       	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#666666');
    }

    @mixin black-gradient{
        background-color: rgb(77, 77 , 77);
        background-image: linear-gradient(top, rgb(77,77,77) 15%, rgb(41,41,41) 49%, rgb(36,36,36) 61%);
        background-image: -o-linear-gradient(top, rgb(77,77,77) 15%, rgb(41,41,41) 49%, rgb(36,36,36) 61%);
        background-image: -moz-linear-gradient(top, rgb(77,77,77) 15%, rgb(41,41,41) 49%, rgb(36,36,36) 61%);
        background-image: -webkit-linear-gradient(top, rgb(77,77,77) 15%, rgb(41,41,41) 49%, rgb(36,36,36) 61%);
        background-image: -ms-linear-gradient(top, rgb(77,77,77) 15%, rgb(41,41,41) 49%, rgb(36,36,36) 61%);
    }

    @mixin navFont($size: 12px, $color: #333){
        font-family: $navFontFamily;
        font-size: $size;
        color: $color;
        font-weight: normal;
    }

    @mixin grooveBottom(){
        border-bottom: 1px solid #CCC;
        box-shadow: 0px 1px 0px #FFF;
    }

    @mixin grooveTop(){
        border-top: 1px solid #FFF;
        box-shadow: 0px -1px 0px #CCC;
    }

    @mixin fontTextBold($size: 12px, $color: #333) {
        font-family: $textFontFamily;
        font-size: $size;
        color: $color;
        font-weight: 700;
    }

    @mixin textFontLight($size: 12px, $color: #333){
        font-family: $textFontFamily;
        font-weight: 300;
        color: $color;
        font-size: $size;
    }

    @mixin fontTextNormal($size: 12px, $color: #333){
        font-family: $textFontFamily;
        font-weight: normal;
        color: $color;
        font-size: $size;
    }

    @mixin headerFontBold($size: 16px, $color: #333){
        font-family: $headerFontFamily;
        color: $color;
        font-size: $size;

    }

    @mixin overlayBackground(){
        background-color: rgba(0, 0 ,0 , 0.4);
    }

    @mixin buttonSmall(){
        cursor: pointer;
        margin: 3px;
        display: inline-block;
        text-align: center;
        padding: 3px 10px;
        background-color: #eb1a24;
        background: -moz-linear-gradient(top, #eb1a24 0%, #b41b25);
        background: -webkit-gradient(linear, left top, left bottom, from(#eb1a24), to(#b41b25));
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border: 1px solid #591b24;
        -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5);
        -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5);
    }

    @mixin button(){
        cursor: pointer;
        margin: 3px;
        display: inline-block;
        min-width: 100px;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #000;
        background-color: $colorEC;
        background: -moz-linear-gradient(top, #eb1a24 0%, #b41b25);
        background: -webkit-gradient(linear, left top, left bottom, from(#eb1a24), to(#b41b25));
        border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        border: 1px solid #591b24;
        -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5);
        -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5);
    }

//RESET
html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td{
	margin:0;
	padding: 0;
	@include fontTextNormal;
}

table{
    border-collapse: collapse;
}

//STANDARD HTML ELEMENTS DEFINITION
html{
    overflow-y: scroll;
    height: 100%;
    &.noScroll{
        //overflow-y: hidden;
        overflow-y: hidden;
    }
}


body{
    background-color: rgba(226,229, 236, 1);
    background-image: image-url("bk_noise.jpg");
    height: 100%;
    &.noScroll{
        overflow-y: hidden;
    }


}

img{
    -ms-interpolation-mode: bicubic;
    border: none;
}

th{
    font-weight: normal;
}

a{
	text-decoration:none;
}

.highlight{
    color: $highlightColor;
}

.bold{
    font-weight: bold;
}

.nav-label{
    margin: 5px 10px 0px 10px;
    padding: 3px 0px;
    @include grooveBottom;
    @include fontTextBold(14px);
    text-shadow: 0px 1px 0px #FFF;
    text-align: left;
}

#container{
    top: 0px;
    height: 100%;
    &.facebook{
        min-width: 740px;
    }

    #header-container{
        position: fixed;
        z-index: 1000;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 40px;
        background: #ffffff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
        @include drop-shadow;

        #logo{
            margin-left: 10px;
            height: 40px;
            text-align:center;
            float:left;
        }

        #notifications-container{
            position: absolute;
            display:none;
            right: 185px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
            &.on{
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
        #notifications {
            cursor: pointer;
            padding: 9px 10px;
        }

        #notifications-text{
            padding: 4px;
            border: 1px solid #000;
            border-radius: 5px;
            background-color: $colorEC;
            @include fontTextBold(12px, #FFF);
            line-height: 12px;
            &.off{
                background-color: #AAA;
                color: #333;
                border-color: transparent;
            }
        }

        #notifications-menu{
            background-color: #FFF;
            position:absolute;
            border: 1px solid #666;
            border-bottom: 0px !important;
            top: 40px;
            right: 0px;
            display: none;
            width: 260px;
            #notifications-list-header{
                padding: 7px 0px 5px 5px;
                @include fontTextBold(12px);
                border-bottom: 1px dashed #CCC;
            }
            .notification{
                font-size: 10px;
                padding: 5px 10px;
                background-color: #F0F0F0;
                border-bottom: 1px solid #666;
                cursor: pointer;
                &:hover{
                    background-color: rgb(255, 255, 200);
                }
            }
            #notification-settings{
                padding: 5px;
                font-weight: bold;
                border-bottom: 1px solid #666;
            }
        }



        #user{
            position: absolute;
            right: 0px;
            width: 180px;
            padding: 2px 0px;
            cursor: pointer;
            background-position: right;
            background-repeat: no-repeat;
            border-left: 1px solid #CCC;
            box-shadow: -1px -1px #FFF;
            &:hover{
                .downarrow{
                    border-top-color: #333;
                }
                border-left: 1px solid #333;
                background-color: rgba(0,0,0,0.1);
            }
            #user-text{
                display:inline-block;
                width: 130px;
                padding-left: 10px;
                line-height:32px;
                @include fontTextBold(13px);
                text-wrap: none;
                text-overflow: ellipsis;
                text-align:left;
                vertical-align: middle;
            }

            #user-image{
                margin-left: 2px;
                vertical-align: middle;
                display:inline-block;
                #u-i-i{
                    height: 30px;
                    border: 1px #CCC solid;
                }
            }

            #user-list{
                position:absolute;
                top: 40px;
                display: none;
                width: 180px;
                border-top: 1px solid #999;
                border-right: 0;
                right: 0px;
                @include drop-shadow-down;
                background-color: #FFF;
                .user-list-item{
                    //@include fontTextBold(12px);
                    list-style: none;
                    padding: 7px 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba(255, 255, 200, 1);
                        color: $colorEC;

                    }
                }
            }
        }


    }
}

    #nav-container{
        position:fixed;
        right:0px;
        top: 40px;
        width: 180px;
        height: 100%;
        min-height: 600px;
        background-color: #F0F0F0;
        border-left: 1px solid #999;



    }

        #actions{
            margin: 20px 5px;
            text-align:center;
            .action-button{
                cursor: pointer;
                @include fontTextBold(12px, #FFF);
                @include button();
                display: block;
            }
        }

        #networks{
            float:right;
        }

        .login-button{
            @include fontTextBold(13px, #FFF);
            line-height: 30px;
            text-align: left;
            padding: 2px;
            margin: 5px;
            display: inline-block;
            border-radius: 5px;
            vertical-align: baseline;
        }

        #login-container{
            //background-color: rgba(200,225,255, 0.5);
            background: #646e7d; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2NDZlN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NCUiIHN0b3AtY29sb3I9IiMzZDQzNGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
            background: -moz-radial-gradient(center, ellipse cover,  #646e7d 0%, #3d434c 74%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#646e7d), color-stop(74%,#3d434c)); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover,  #646e7d 0%,#3d434c 74%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover,  #646e7d 0%,#3d434c 74%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover,  #646e7d 0%,#3d434c 74%); /* IE10+ */
            background: radial-gradient(ellipse at center,  #646e7d 0%,#3d434c 74%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646e7d', endColorstr='#3d434c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
            text-align: center;
            color: #FFF;
            width: 572px;
            height: 230px;
            #login-title{
                padding: 7px 20px;
                @include headerFontBold(48px, #FFF);
                text-shadow: 0px 1px 1px #000;
                text-align: center;
            }
            #login-description{
                padding: 0px 10px;
                @include fontTextNormal(28px,#FFF);
                text-shadow: 0px 1px 1px #000;
                text-align: center;
            }

            #login-buttons{
                margin-top: 7px;
                text-align: center;
                .login{
                    padding: 7px 10px;
                    text-align: center;
                    border-bottom: 1px solid #CCC;
                }
            }
            #login-email-title{
                padding: 5px;
                text-align: center;
                @include fontTextBold(14px, #FFF);
                text-shadow: 0px 1px 1px #000;
                a {
                    @include fontTextBold(14px, #FFF);
                    text-decoration: underline;
                    &:hover{
                        color: $colorEC;
                    }
                }
            }
        }

		#header-nav, #footer-nav, #help-nav{
            .icon_world{
                //background-image: image-url("bk_icon_world.png");
                background-position: left;
                background-repeat: no-repeat;
            }
            .icon_me{
                //background-image: image-url("bk_icon_me.png");
                background-position: left;
                background-repeat: no-repeat;
            }
            .icon_friends{
                //background-image: image-url("bk_icon_friends.png");
                background-position: left;
                background-repeat: no-repeat;
            }

            li{
                margin-left: 10px;
                //padding: 7px 10px 7px 30px;
                padding: 5px;
                list-style:none;
                cursor: pointer;
                @include fontTextNormal(12px);
                text-shadow: 0px 1px 0px #FFF;
            }
            li:hover, .current{
            	color: $highlightColor;
            }
		}

        #footer-nav{
            position: absolute;
            bottom: 50px;
            li{
                padding: 3px 10px;
                list-style:none;
                @include fontTextNormal(12px);
                text-shadow: 0px 1px 0px #FFF;
            }
            li:hover, .current{
                color: $highlightColor;
            }
        }
    #title-container{
        text-align: center;
        #title{
            width: 600px;
            margin: 5px auto;
            padding: 10px;
            #title-text{
                text-align: center;
                @include headerFontBold(36px);
                text-shadow: 0px 1px 0px #FFF;
            }
            #title-description{
                @include fontTextNormal(16px);
                text-shadow: 0px 1px 0px #FFF;
                text-align: center;
            }
        }

    }

    #content-title{
        height: 100%;
    }

    #content{
        padding-top: 43px;
        margin-right: 180px;
    }

    #content-title{
        @include navFont;
        color: $highlightColor;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #FFF;
        @include drop-shadow;
    }

    #content-selector-container{
        display:none;
		#content-selector{
            position:relative;
			margin: 0px auto 0px;

            a{
                &:hover{
                    color:$highlightColor;
                }
                &.current{
                    color: $highlightColor;
                }
            }
		}
        margin-bottom: 10px;
    }

        .dropdown{
            position:relative;
            cursor: pointer;
            margin-bottom: 10px;
            border: 1px solid #CCC;
            white-space: nowrap;
                .dd-header{
                    padding: 7px 10px;
                    @include fontTextNormal(18px);
                    text-shadow: 0px 1px 0px #FFF;
                }
                .dd-body{
                    //display:none;
                    ul{
                        //background-color: #FFF;
                        position:relative;
                        z-index: 10;
                        border-top: 1px solid #CCC;
                        list-style: none;
                        li{
                            width: 250px;
                        }
                        a{
                            display:block;
                            padding: 7px 10px;
                            text-align:left;
                        }
                    }
                }
            }

        #infiniteScroll{
            position: fixed;
            z-index: 99999;
            bottom: 10px;
            left: 50%;
            width: 250px;
            height: 50px;
            line-height: 50px;
            border-radius: 5px;
            background-image: image-url("bg-blackpx90.png");
            margin-left: -75px;
            @include fontTextBold(16px, #FFF);
            text-align: center;
        }

		#exhibit{
	        margin:auto;
	        .no-echoes{
	            font-size: 20px;
	            font-weight: bold;
	            margin-top: 50px;
	            text-align: center;
	        }

            .fbp{
                float:left;
                width: 230px;
                height: 240px;
                .message{
                    margin: 10px;
                }
            }

            .profile{
                float: left;
                width: 480px !important;
                height: 400px;
                .profile_content{
                    padding: 10px;
                    .profile_username{
                        @include fontTextBold(24px);
                    }
                    .profile_stat{
                        float:left;
                        width: 210px;
                        padding: 10px;
                        .profile_label{
                            @include fontTextNormal(30px);
                            text-align: right;
                        }
                        .profile_reward, .profile_referrers{
                            @include fontTextBold(48px);
                            text-align: right;
                        }
                    }
                }
            }

			.item_hover{
				width:100%;
	            position: absolute;
	            bottom: 0px;
	            left: 0px;
	            overflow:hidden;
  	            background-color: #222;
			}

			.item_hover_wrap{
				padding: 10px;
				text-align:left;
	            line-height: 1.5em;
                @include fontTextNormal(12px, #FFF);
			}

	        .item_wrap{
                border: 1px solid rgba(155,155,155, 0.5);
                z-index :1;
                float:left;
                margin:5px;
                padding: 7px;
                background-color: #FFF;
                position:relative;
                .item_content{

                }
            }

	        .item_text{
	            padding: 5px;
	            line-height: 1.5em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 250px;
                @include fontTextNormal(12px, #333);
                background-color: #FFF;

	        }
		}


        .friend{
            width: 230px;
            height: 50px;
            float:left;
            margin: 5px;
            background-color: #FFF;
            border: 1px solid #CCC;
            &:hover{
                border-color: #000 !important;
                cursor: pointer;
            }
            img{
                width: 50px;
                height: 50px;
                float:left;
            }
            .friend-text{
                float:left;
                @include fontTextNormal(12px);
                padding-left: 10px;
                line-height: 50px;
                width: 170px;
            }
        }




.clearfix{
    zoom:1;
    &:before,&:after{
        content:"";
        display:table;
    }
    &:after{
        clear:both;
    }
}

.center{
    width: 960px;
    margin:auto;
}

.static-section{
    margin:20px 0px;
    @include fontTextNormal(16px);
}

.orange{
    color: $highlightColor;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

//STATIC

.privacy, .terms{
    p{
        line-height: 1.5em;
        margin-bottom: 20px;
    }

    ol{
        list-style: lower-alpha;
    }

    li{
        margin: 10px 40px 10px 40px;
        line-height: 1.5em;
    }
}

.roundbox{
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px;
    @include drop-shadow;

    .register_form_container{
        margin: 20px 0px;
        .register_form{
            margin: auto;
            width: 600px;
            padding: 10px;
            background-color: #F1F1F1;
            border: 2px solid #FF0000;
            border-radius: 5px;
            @include drop-shadow;


            label{
                font-size: 16px;
                margin: 10px 5px 5px 5px;
                display:block;
            }
            input[type=text],input[type=password]{
                display:block;
                width: 400px;
                font-size: 16px;
                line-height: 1em;
                border: 1px solid #CCC;
                margin: 5px;
            }
        }
    }

}

h1{
    @include headerFontBold(48px);
    text-shadow: #fff 1px 1px 0;
}

h2{
    @include fontTextNormal(30px);
    text-shadow: #fff 1px 1px 0;
    background-color: rgba(0, 0, 0, 0.1);
}

h3{
    @include fontTextNormal(24px, #FF0000);
    margin-bottom: 10px;
    text-shadow: #fff 1px 1px 0;
}

.subtitle{
    @include fontTextBold(30px);
    border-bottom: 2px solid #CCC;
    margin: 15px 0px;
}

.text-blue1{
    color: RGB(2,116,184);
}

.text-blue2{
    color: RGB(73,117,147);
}

.text-green1{
    color: RGB(125,186,39);
}

.text-green2{
    color: RGB(106,151,31);
}

.text-magenta{
    color: RGB(198,1,74);
}

.text-yellow{
    color: RGB(250,100,50);
}

.text-orange{
    color: #FF7733;
}

.integration{
    font-size: 20px;
    ol{
        li{
            @include fontTextNormal(14px);
            margin: 10px 0px 10px 40px;
        }
    }
    img {
        margin: 20px;
        border: 2px #DDD solid;
        @include drop-shadow;
    }
    textarea{
        width: 80%;
        height: 100px;
        resize: none;
    }

    input[type="submit"] {
        padding: 10px;
        cursor: pointer;
        @include fontTextNormal(16px);
        border-radius: 5px;
        border: 0;
        background: -moz-linear-gradient(top, $colorEC 0, $colorEC 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,$colorEC),color-stop(100%, $colorEC));
        background: -webkit-linear-gradient(top, $colorEC 0, $colorEC 100%);
        background: -o-linear-gradient(top, $colorEC 0, $colorEC 100%);
        background: -ms-linear-gradient(top, $colorEC 0,$colorEC 100%);
        background: linear-gradient(top, $colorEC 0, $colorEC 100%);
        color: #FFF;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .42);
    }
}

#transition{
    background-color: #FFF;
}

#story{
    position: absolute;
    //top: 75px;
    left: 50%;
    z-index: 99999;
    width: 876px;
    padding-bottom: 50px;
}

#menu{
    position:absolute;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    top: 75px;
    border-radius: 5px;
    border: 10px solid #FFF;
    background-image: image-url("bk_noise.jpg");
    background-color: #FFF;

    .menu-close{
        position:absolute;
        @include sprite(0px, -28px, 15px, 15px);
        right: -25px;
        top: -25px;
        cursor: pointer;
    }
    #menu-content{
        padding: 10px;
        display: table;
        .menu-column{
            width: 200px;
            display: table-cell;
        }
    }

    #menu-header{
        text-align: center;
        @include headerFontBold(30px);
        padding: 10px;
        border-bottom: 1px solid #CCC;
        box-shadow: 0px 1px #FFF;
    }
    .menu-item{
        padding: 5px 10px;
        @include fontTextBold(14px);
        cursor: pointer;
        &:hover{
            color: $colorEC;
        }
    }
}

.echo-story-main{
    float:left;
}
.echo-story-gallery{
    width: 104px;
    float:left;
    padding: 10px 5px;
    text-align: center;
    .echo-gallery-header{
        @include fontTextBold(14px);
        text-shadow: 0px 1px #FFF;
        margin-bottom: 5px;
        text-align: left;
    }
    .echo-gallery-chapter{
        padding: 5px;
        margin-bottom: 5px;
        background-color: #F0F0F0;
        cursor: pointer;
        &.highlight{
            background-color: rgba(0,0,0,0.2);
        }
    }
    .echo-gallery-title{
        @include fontTextBold(12px, #000);
        text-shadow: 0px 1px #FFF;
        margin-bottom: 5px;
    }
    .echo-s-b-thumbnail{
        margin: 5px 0px;
        border: 2px solid #FFF;
        cursor: pointer;
        &:hover, &.highlight{
            border-color: #333;
        }
    }
}

#field-fileupload{
    float:left;
    margin-left: 10px;
}

#thumb{
    background-color: #FFF;
}

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    color: #FF0000;
    text-decoration: underline;
    margin-left: 10px;
}
.qq-upload-button-hover {}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
    @include fontTextNormal();
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {
    margin:15px 35px;
    padding:0;
    list-style:none;
    color: #FFF;
}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
    color: #FFF;
}

.qq-upload-file, .qq-upload-size { display: none !important;}
.qq-upload-spinner {display:inline-block; background: image-url("bk_loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

#field-photo-upload{
    position: relative;
    float:right;
}

.italic{
    font-style: italic;
}

.expandingText{
    display: inline-block;
    margin-bottom: 10px;
    textarea, .textareaClone{
        min-height: 5em;
        padding: 5px 6px;
        width: 300px;
        @include fontTextNormal(14px);
        resize: none;
        outline: 0px;
        border: 1px solid #CCC;
    }
}

.chapter-thumb{
    position: relative;
    .chapter-thumb-x{
        position: absolute;
        top: -15px;
        left: -15px;
        @include sprite(-31px, -157px, 36px, 37px);
        cursor: pointer;
    }
}

#story-nav{
    .story-nav-button{
        padding: 20px 0px;
        @include fontTextBold(16px, #F0F0F0);
        cursor: pointer;
        &:hover{
            color: #FFF;
        }
    }
}

.title{
    text-align: center;
    padding: 20px 0px;
}
.highlight{
    color: $colorEC !important;
}

.field-main-category{
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    .field-main-category-helper{
        @include fontTextNormal(14px);
        font-style: italic;
        margin-bottom: 5px;
    }
    .field-main-category-title{
        @include fontTextNormal(14px);
    }
    #field-main-category-content{
        @include fontTextNormal(14px);
    }
    #field-main-category-edit{
        @include fontTextNormal(14px, $colorEC);
        text-decoration: underline;
        cursor: pointer;
        float:right;
    }
}

.input-field{
    width: 290px;
    resize: none;
    display: inline-block;
    padding: 8px 5px;
    border: 1px solid #CCC;
    -webkit-appearance:none;
    @include fontTextNormal(14px);
}

#ajax-input{
    display: none;
    padding-top: 10px;
    position: relative;
    @include fontTextNormal(14px);
    #ajax-input-suggestions{
        width: 300px;
        position: absolute;
        background-color: #FFF;
        top: 48px;
        left:0px;
        border: 1px solid #CCC;
        display: none;
        #ajax-suggestions-header{
            padding: 4px 5px;
            @include fontTextBold(12px);
            background-color: #F0F0F0;
        }
        .suggestion-item{
            padding: 4px 5px;
            @include fontTextNormal(12px);
            border-top: 1px dotted #CCC;
            cursor: pointer;
            &:hover{
                background-color: #CCC;
                font-weight:bold;
            }
        }
    }
}

#category-add{
    @include buttonSmall;
    @include fontTextNormal(16px, #FFF);
}

#category-more{
    @include fontTextBold(12px);
    margin: 3px 10px;
    padding: 3px 5px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #F3F3F3;
    border: 1px solid #CCC;
    background: -moz-linear-gradient(top, white 0%, #F3F3F3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #F3F3F3));
    background: -webkit-linear-gradient(top, white 0%, #F3F3F3 100%);
    background: -o-linear-gradient(top, white 0%, #F3F3F3 100%);
    background: -ms-linear-gradient(top, white 0%, #F3F3F3 100%);
    background: linear-gradient(top, white 0%, #F3F3F3 100%);
    cursor: pointer;
    &:hover{
        color: $colorEC;
    }
}
#category-nav{
    .category-menu-header{
        margin: 10px 10px 0px 10px;
        @include fontTextBold(14px);
        padding: 3px 0px;
        margin-bottom: 4px;
        @include grooveBottom;
    }
    .category-menu-item{
        margin: 0px 10px;
        padding: 4px 5px;
        cursor:pointer;
        @include fontTextNormal(12px);
        &:hover{
            color: $colorEC;
        }
    }
}

#login-content{
    padding-top: 50px;
}

.login-form{
    margin: 20px auto;
    width: 450px;
    text-align: center;
    .login-form-title{
        margin-bottom: 10px;
        text-align: center;
        @include headerFontBold(36px);
    }
    .login-form-row{
        padding: 5px 20px;
    }

    label{
        display: block;
        padding: 5px;
        color: $colorEC;
    }
    input[type="text"], input[type="password"]{
        width: 300px;
        @include fontTextNormal(24px);
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
        border: 1px solid #CCC;
    }

    input[type="submit"]{
        width: 200px;
        @include fontTextBold(20px);
        background-color: #F0F0F0;
        outline: none;
        border: 1px solid #CCC;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: $colorEC;
            color: #FFF;
            border-color: #000;
        }
    }
}

.error{
    color: red;
}

.form{
    width: 600px;
    margin: 50px auto;
    legend{
        font-size: 20px;
    }
    label{
        font-size: 16px;
        margin: 10px 0px 5px 0px;
        display:block;
    }
    input[type=text],input[type=password]{
        display:block;
        width: 400px;
        font-size: 16px;
        line-height: 1em;
        border: 1px solid #CCC;
    }
}

.underline{
    text-decoration: underline;
}

.red-link{
    color: $colorEC;
    font-weight: bold;
    &:hover{
        color: #333 !important;
    }
    &:visited{
        color: $colorEC;
    }
}

.link-black{
    color: #333;
    &:visited, &:active{
        color: #333;
    }

}

.story-edit-button{
    @include button;
    position: absolute;
    left: 10px;
    bottom: 10px;
    @include fontTextBold(12px, #FFF);
}

.underline{
    text-decoration: underline;
}

.login-button-text{
    width: 140px;
    display: inline-block;
}

.fb-login-logo{
    display: inline-block;
    vertical-align: middle;
    @include sprite(0px, -164px, 30px, 30px)
}

.tw-login-logo{
    display: inline-block;
    @include sprite(-73px, -164px, 30px, 30px);
    vertical-align: middle;
}

.story-brief-overlay-edit-button{
    @include button;
    @include fontTextBold(12px, #FFF);
}

#content-wide{
    padding-top: 43px;
}

.downarrow{
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 10px;
    border-style: solid dashed dashed;
    border-color: transparent;
    border-top-color: #999;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-width: 5px 5px 0;
    padding-top: 1px;
}

.facebook-button{
    background-color: $fbColor;
    //background: #3b5998; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiNTk5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzM2OTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #3b5998 0%, #073693 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b5998), color-stop(100%,#073693)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3b5998 0%,#073693 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3b5998 0%,#073693 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3b5998 0%,#073693 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3b5998 0%,#073693 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#073693',GradientType=0 ); /* IE6-8 */
    &:hover{
        //border: 1px solid #CCC;
    }
}

.twitter-button{
    background-color: $twitterColor;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwOTlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjg3ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #4099ff 0%, #1687ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4099ff), color-stop(100%,#1687ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4099ff 0%,#1687ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4099ff 0%,#1687ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4099ff 0%,#1687ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4099ff 0%,#1687ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4099ff', endColorstr='#1687ff',GradientType=0 ); /* IE6-8 */
    &:hover{
    }
}