@font-face {
  font-family: 'BebasNeue';
  src: url("BebasNeue-webfont.eot");
  src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("BebasNeue-webfont.woff") format("woff"), url("BebasNeue-webfont.ttf") format("truetype"), url("BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicBD20Cond';
  src: url("tradegothicbd20cd-webfont.eot");
  src: url("tradegothicbd20cd-webfont.eot?#iefix") format("embedded-opentype"), url("tradegothicbd20cd-webfont.woff") format("woff"), url("tradegothicbd20cd-webfont.ttf") format("truetype"), url("tradegothicbd20cd-webfont.svg#TradeGothicLTStdBdCnNo.20") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #222; }

html {
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

h2 {
  font-family: TradeGothicBD20Cond, Helvetica, Arial, sans-serif;
  color: #666666; }

textarea {
  padding: 2px;
  font-size: 16px;
  border: 1px #CCC solid;
  font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif; }

.confirm-label {
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px; }

.confirm-text {
  font-size: 16px;
  line-height: 1.5em; }

#container {
  min-width: 960px;
  height: 100%; }

#header {
  height: 50px;
  border-bottom: 5px solid #444444;
  padding-left: 10px; }

.poweredby {
  font-family: TradeGothicBD20Cond, Helvetica, Arial, sans-serif;
  font-size: 18px;
  float: left; }

.sharingvalued {
  font-family: TradeGothicBD20Cond, Helvetica, Arial, sans-serif;
  font-size: 50px;
  float: right;
  margin-right: 5px; }

.red {
  color: #e31b23; }

#thankyou {
  padding: 5px; }

.ty-text {
  font-family: TradeGothicBD20Cond;
  font-size: 36px;
  letter-spacing: -3px; }

.highlight {
  color: #ff7733;
  text-decoration: underline; }

.not-name {
  font-size: 12px;
  font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif; }

#lower {
  height: 360px; }

#left-ei {
  width: 600px;
  float: left;
  margin-right: 25px;
  margin-left: 10px; }

#right-ei {
  width: 250px;
  float: left; }
  #right-ei img {
    max-height: 200px;
    max-width: 200px; }

#left {
  width: 500px;
  float: left;
  margin-left: 10px;
  background-color: #FFF; }

#left_content {
  width: 100%;
  border: 1px solid #AAA; }

#rewards {
  width: 200px;
  float: left; }

.reward_box {
  width: 185px;
  padding: 5px;
  padding-top: 25px;
  margin-bottom: 10px; }

#product {
  margin: 10px; }

#product_upper {
  padding-bottom: 5px; }

#product_picture_container {
  text-align: center;
  float: left;
  width: 240px;
  height: 150px; }

#product_picture {
  max-height: 150px;
  max-width: 240px; }

#product-description {
  float: left;
  margin-left: 5px;
  font-size: 16px;
  line-height: 14px;
  font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif; }

#product_text {
  margin-top: 10px; }
  #product_text table {
    border-collapse: collapse; }
    #product_text table tr {
      border: 1px solid #CCC; }
    #product_text table tr.odd {
      background-color: #EBEBEB; }
    #product_text table td {
      padding: 15px 2px;
      font-size: 14px;
      font-family: HelveticaNeue-Medium; }

#right {
  width: 420px;
  margin-left: 10px;
  background-color: #FFF;
  float: left; }

#echoes {
  border-collapse: collapse; }

#echoes td {
  text-align: center;
  padding: 0px 5px 20px 5px; }

#echoit {
  height: 50px;
  border: 0px;
  font-size: 16px;
  line-height: 24px;
  color: #FFF; }

.clear {
  clear: both; }

.echoed-text {
  color: #ff7733;
  font-weight: bold; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }
