@font-face {
    font-family: 'BebasNeue';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//$mainColor: #FF7733;
$mainColor: #E31B23;
$highlightColor : #FF7733;
$fbColor: #3B5998;
$twitterColor: #4099FF;

$labelColor: #666;
$navColor: #666;


$containerColor: #FFF;
$backgroundColor: #CCC;

$headerHeight: 50px;

$navFontFamily: BebasNeue, Arial, sans-serif;
$textFontFamily: HelveticaNeue-Light,Tahoma,Arial, Helvetica, sans-serif;

//RESET
html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td{
	margin:0;
	padding: 0;
	font-family: $textFontFamily;
}

table{
    border-collapse: collapse;
}

//STANDARD HTML ELEMENTS DEFINITION
html{
    height: 100%;
}

body{
    min-height:100%;
}

th{
    font-weight: normal;
}

a{
	text-decoration:none;
	color:inherit;
}

a:visited{
    text-decoration:none;
    color:inherit;
}

h2{
    font-family: $navFontFamily;
    color: $labelColor;
}

/*Echoed Colors*/
.echoed-text{
    color:$highlightColor;
}

/*Facebook Colors*/
.fb-text,.like-text,.comment-text{
    color: $fbColor;
}

/*Twitter Colors*/
.twitter-text,.retweet-text{
    color: $twitterColor;
}

/*White Areas*/
.third,.half,.table_container{
    background-color: $containerColor;
}


#container{
    min-width: 1000px;
    height: 100%;
}

	#header{
	    min-width: 1100px;
		height:50px;
		border-bottom: 1px solid #999;
		background-color: $containerColor;
	}
	
		#logo{	
            margin-left:10px;
			font-size:48px;
			line-height: $headerHeight;
			height: $headerHeight;
			float:left;
			font-family: $navFontFamily;
		}
		
		
		#user{
			//position:absolute;
			padding:10px;
			font-size: 14px;
			float:right;
			height: $headerHeight;
			text-align:right;
		}
		
		#header-nav{
			margin-left:25px;
			float:left;
		}
		
			#header-nav li{
				padding:5px 20px;
				height: 40px;
				line-height: $headerHeight;			
				list-style:none;
                font-size:24px;
				font-family: $navFontFamily;
                color: $navColor;
				float:left;
			}
			
			#header-nav li:hover, #header-nav .current{
				color: $highlightColor;
				background-image:url(arrow.png);
				background-position:bottom;
				background-repeat:no-repeat;
			}

        #sub-nav{
            height: 25px;
            background-color: $containerColor;
            text-align:center;
            line-height: 25px;
            font-family: $navFontFamily;
            border-bottom: 1px solid #999;
        }

        #sub-nav a{
            margin: 0px 10px;
            color: $navColor;
        }

        #sub-nav a:hover{
            color : $mainColor;
        }

        #sub-nav a.current{
            color : $mainColor;
        }

	#content{
	}

	#content-selector-container{
		border-bottom: 1px solid #CCC;
		padding:10px;
		margin-bottom:10px;
	}


		#content-selector{
			font-family: $navFontFamily;
			margin: 0px auto 0px;
		}
		
			#content-selector a{
				margin:0px 10px;
			}
			
			#content-selector a:hover, {
				color: $mainColor;
			}

            a.current{
                color: $mainColor;
            }


			
	
		#exhibit{
		}

            #exhibit div{
            }


			.exhibit_image{
				width: 230px;
 				border:3px solid #CCC;
			}
			
			
		#friends{
			width:80%;
			margin:auto;
		}
			
			
			.friend{
				width: 150px;
				height:100px;
				float:left;
			}
		
			
			.item_wrap{
				float:left;
				margin:2px;
				position:relative;
			}
			
			.item_hover{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:url(blackPx.png) repeat;
				overflow:hidden;
	            z-index: 10;
			}
			
			.item_hover_wrap{
				padding: 10px 10px 0px 10px;
				text-align:left;
				color: #FFF;
				overflow:hidden;
			}

        #summary-stats{

        }

            .full-column-left{
                width:450px;
                float:left;
            }

            .full-column-right{
                width:450px;
                margin-right:10px;
                float:right;
            }

                .ss-row{
                    height:100px;
                }

                .ss-box{
                    height:100px;
                    width: 120px;
                    float:right;
                    margin: 0px 0px 20px 20px;
                }

                .ss-box-label{
//                  margin-top:20px;
                    width:100%;
                    margin-bottom:5px;
                    text-align:center;
                    font-family: $navFontFamily;
                    font-size: 1.5em;
                    color: $labelColor;
                }

                .ss-box-number{
                    width:100%;
                    text-align:right;
                    font-size: 48px;
                    font-weight: bold;
                    font-family: $navFontFamily;
                }
        .report-selector{
            text-align:left;
        }

            .select-report{
                margin-bottom: 5px;
                width: 200px;
                padding: 0px 10px;
                background-color: white;
                font-size: 1.5em;
                font-family: $navFontFamily;
                -webkit-appearance: none;
            }

        .product-detail-image-container{
            float:left;
            width: 150px;
            height: 200px;
            text-align:left;
        }

        .product-detail-image{
            max-width: 150px;
            max-height: 200px;
        }

        .product-detail-table-container{
            float:left;
        }

        .product-detail-table{
            font-size:14px;
            font-family: $textFontFamily;
        }

            .product-detail-table tr td{
                padding: 10px 20px 5px 0px;
                border-bottom: 1px solid #CCC;
            }

            .product-detail-table td{
                text-align:left;
            }

        .report-table{
            border-collapse: collapse;
            width: 100%;
        }

        .report-table th,.report-table td{
            padding: 20px;
            font-family: $textFontFamily;
            font-size: 12px;
            border: 1px solid #CCC;
        }

        .report-table td{
            cursor: pointer;
        }

        .report-table th{
            background-color: #DEDEDE;
            font-weight: bold;
        }


        .report-nav{
            width:200px;
            float:left;
            min-height:400px;
        }

            .report-label{
                text-align: left;
            }

        .report-chart{
            width:700px;
            padding-left:10px;
            min-height:400px;
            border-left:1px solid #ccc;
            float:left;
        }

        #top-product-table{
            height:250px;
        }

        .top-products-table{
            width: 100%;
            font-size: 12px;
        }
            .top-products-table img{
                height: 150px;
                border:2px solid #CCC;
            }

            .top-products-table tr{
                border: 1px solid #CCC;
            }

            .top-products-table th{
                font-weight:bold;
                background-color: #EBEBEB;
                padding:10px;
            }

            .top-products-table td{
                text-align:left;
                padding: 5px;
            }


td.number{
    text-align:right;
}

//CLEARFIX

.row{
    padding: 20px 10px 0px 10px;
}

.row:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.full{
    padding: 10px;
    width: 920px;
    //min-height: 300px;
    background-color: $containerColor;
    border: 1px $highlightColor solid;
}
.full:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.half{
    padding: 10px;
    width: 439px;
    margin-right: 20px;
    height: 300px;
    background-color: $containerColor;
    border: 1px $highlightColor solid;
    float:left;
}

    .half-chart{
        height: 270px;
    }

.label{
    font-family: $navFontFamily;
    color: $labelColor;
    font-size: 1.5em;
    text-align:left;
}

.third{
    padding: 10px;
    width: 279px;
    margin-right: 20px;
    min-height: 300px;
    float:left;
    background-color: $containerColor;
    border: 1px $highlightColor solid;
}
	
.clear{
	clear:both;
}

.clearfix{
    zoom:1;
}

.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}

.clearfix:after{
    clear:both;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.ui-button {
    -webkit-appearance:none;
    background-color:#FFF;
    height: 30px;
    border: 0px;
}
.ui-button-icon-only .ui-button-text { padding: 0.35em; }
.ui-menu-item{
    list-decoration: none;
}
.ui-autocomplete-input {
    -webkit-appearance:none;
    font-family: $navFontFamily;
    font-size: 24px;
    border:0px;
}
