@font-face {
  font-family: 'BebasNeue';
  src: url("BebasNeue-webfont.eot");
  src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("BebasNeue-webfont.woff") format("woff"), url("BebasNeue-webfont.ttf") format("truetype"), url("BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue-Light, Tahoma, Arial, Helvetica, sans-serif; }

img {
  float: left;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse; }

html {
  height: 100%; }

body {
  height: 100%; }

th {
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

h2 {
  font-family: BebasNeue, Arial, sans-serif;
  color: #666666; }

.primary-text {
  color: #f20006; }

.secondary-text {
  color: #ff6f00; }

.echoed-text {
  color: #ff6f00; }

#container {
  min-width: 1000px;
  min-height: 100%;
  background-color: #444; }

#header {
  min-width: 1100px;
  height: 50px;
  background-color: #FFF;
  border-bottom: 1px #000 dotted; }

#logo {
  font-size: 48px;
  line-height: 50px;
  height: 50px;
  float: left;
  font-family: BebasNeue, Arial, sans-serif; }

#nav {
  float: right;
  font-family: BebasNeue, Arial, sans-serif;
  line-height: 50px;
  font-size: 20px; }

#nav a {
  margin-left: 10px; }

#nav a.highlight {
  color: #ff6f00; }

#nav a:hover {
  color: #ff6f00; }

#primary {
  min-height: 500px;
  background-color: white; }

.learnmore-button {
  margin-top: 50px;
  padding: 5px 10px;
  background-color: #ff6f00;
  text-align: center;
  font-family: BebasNeue;
  color: #FFF;
  font-size: 18px; }

#lm-left {
  float: left;
  width: 480px; }

#lm-left-label {
  font-family: BebasNeue, Arial, sans-serif;
  font-size: 64px;
  margin-bottom: 24px; }

#index-subtitle {
  font-size: 18px;
  font-weight: bold; }

#lm-right {
  width: 360px;
  float: right; }

.center {
  width: 960px;
  margin: auto; }

#secondary {
  padding: 20px 0px; }

.third-box {
  background-color: #666;
  width: 250px;
  padding: 5px 25px;
  margin: 5px;
  float: left; }

.tb-text {
  font-size: 12px;
  margin: 2px;
  font-family: 'HelveticaNeue-Medium',Tahoma;
  color: #FFFFFF; }

#footer {
  height: 100px;
  width: 100%; }

.center-outline {
  width: 920px;
  margin: auto;
  padding: 0px 20px;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: #FFF;
  margin-bottom: 10px; }

.hiw-title {
  font-family: BebasNeue, Arial, sans-serif;
  font-size: 64px;
  margin-bottom: 20px;
  margin-top: 20px; }

.indent {
  padding-left: 50px; }

.section {
  margin-bottom: 20px; }

.hiw-label {
  font-family: HelveticaNeue-Medium,Tahoma;
  font-size: 28px;
  margin-bottom: 15px; }

.hiw-text {
  font-family: HelveticaNeue-Light, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 16px; }

.label {
  font-family: BebasNeue, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF; }

.flush-right {
  float: right;
  margin-right: -20px; }

.flush-left {
  float: left;
  margin-left: -20px; }

.right {
  float: right; }

.left {
  float: left; }

.column {
  width: 460px; }

.clear {
  clear: both; }

.clearfix {
  zoom: 1; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }
