@font-face {
    font-family: 'BebasNeue';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//$mainColor: #FF7733;
$mainColor: #F20006; //RED
$secondaryColor: #ff6f00; //ORANGE
$greyColor : #444444;
$fbColor: #3B5998;
$twitterColor: #4099FF;


$labelColor: #666;
$navColor: #666;


$containerColor: #FFFFFF;
$backgroundColor: #CCC;
$subtleColor: #EAEBED;

$headerHeight: 50px;

$navFontFamily: BebasNeue, Arial, sans-serif;

$labelFontFamily: BebasNeue, Arial, sans-serif;

$readingTextFontFamily: HelveticaNeue-Light,Tahoma,Arial, Helvetica, sans-serif;
$readingTextColor: #444444;
$readingTextSize: 14px;
$readingTextLineHeight: 1.5em;

//RESET
html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td{
	margin:0;
	padding: 0;
	font-family: $readingTextFontFamily;
    color: $readingTextColor;
    font-size: $readingTextSize;
}

img{
    float:left;
    margin:0;
    padding:0;
}

table{
    border-collapse: collapse;
}

//STANDARD HTML ELEMENTS DEFINITION
html,body{
    height: 100%;
}

html.nooverflow{
    overflow:hidden;
}

body.nooverflow{
    overflow:hidden;
}

th{
    font-weight: normal;
}

a{
	text-decoration:none;
	color:inherit;
}

h1{
    font-family: $labelFontFamily;
    font-size: 64px;
    color: #000;
}

h2{
    font-family: $navFontFamily;
    color: $labelColor;
}

.primary-text{
    color: $mainColor;
}


.text-blue1{
    color: RGB(2,116,184);
}

.text-blue2{
    color: RGB(73,117,147);
}

.text-green1{
    color: RGB(125,186,39);
}

.text-green2{
    color: RGB(106,151,31);
}

.text-magenta{
    color: RGB(198,1,74);
}

.text-yellow{
    color: RGB(240,181,0);
}

.echoed-text{
    color: $secondaryColor;
}

.bg-grey{
    background-color: $greyColor;
}

.bg-highlight{
    background-color:$mainColor;
}

#mainImage{
}

#container{
    min-width: 1000px;
    min-height: 100%;
    width: 100%;
    position:absolute;
    z-index:10;
}

	#header{
	    min-width: 1100px;
		height:50px;
     //   border-bottom: 1px #000 dotted;
        background-image: url("http://v1-cdn.echoed.com/bg-whitepx90.png");
	}

		#logo{
			font-size:48px;
			line-height: $headerHeight;
			height: $headerHeight;
			float:left;
			font-family: $navFontFamily;
        }

        #nav{
            float:right;
            font-family: $navFontFamily;
            line-height: $headerHeight;
            font-size: 20px;
        }

        #nav a{
            margin-left:10px;
            color: #000000;
        }
        
        #nav a.highlight{
            color: $secondaryColor;
        }

        #nav a:hover{
            color: $secondaryColor;
        }

    #primary{
        //min-height: 500px;
    }

        #learnmore{
        }
            .learnmore-button{
                margin-top:50px;
                padding:5px 10px;
                background-color: $secondaryColor;
                text-align: center;
                font-family: BebasNeue;
                color: #FFF;
                font-size:18px
            }

            #lm-left{
                float:left;
                width: 480px;
            }
                #lm-left-label{
                    font-family: $navFontFamily;
                    font-size: 64px;
                    //margin-bottom: 24px;
                }

                #index-subtitle{
                    font-size:18px;
                }

            #lm-right{
                margin-top: 50px;
                padding: 20px;
                width: 450px;
                float:right;
                background-image: url("http://v1-cdn.echoed.com/bg-whitepx90.png");
            }
    .center{
        width:960px;
        margin:auto;
    }

    #secondary{
        padding: 20px 0px;
    }

    .quarter{
        width: 220px;
        padding:5px 20px 0px 0px;
        float:left;
    }

        .secondary-title{
            font-family: $navFontFamily;
            font-size: 28px;
            margin-bottom: 20px;
        }

        .secondary-text{
            line-height: 1.5em;
        }


    .third-box{
        width: 250px;
        padding: 5px 25px;
        margin: 5px;
        float:left;
    }

    .tb-text{
        font-size: 12px;
        margin: 2px;
        font-family: 'HelveticaNeue-Medium',Tahoma;
        color: #FFFFFF;
    }

    .login-button{
        width: 200px;
    }

    #footer{
        height: 60px;
    }

    #footer.relative{
        height: 50px;
        border-top: 1px dotted #000;
        padding-top: 10px;
    }

    #footer.float{
        position: absolute;
        bottom:0px;
        width: 100%;
        background-image: url("http://v1-cdn.echoed.com/bg-whitepx90.png");
    }

        #sv{
            font-size: 40px;
            font-family: $navFontFamily;
            color: #000;
            text-align:right;
        }

        #masthead{
            height:350px;
        }

            #masthead.hiw{
                background-image: url("http://v1-cdn.echoed.com/mh-hiw.jpg");
            }

            #masthead.biz{
                background-image: url("http://v1-cdn.echoed.com/mh-biz.jpg");
            }

            .masthead-content{
                float:right;
                width: 510px;
                padding: 0px 10px;
                height:100%;
                background-image: url("http://v1-cdn.echoed.com/bg-whitepx80.png")
            }

            .masthead-content-black{
                float:right;
                width: 510px;
                padding: 0px 10px;
                height:100%;
                background-image: url("http://v1-cdn.echoed.com/bg-blackpx90.png")
            }

                .masthead-content-black .masthead-title,
                .masthead-content-black .masthead-text{
                    color : #FFF;
                }


                .masthead-title{
                    font-size: 64px;
                    font-family: $navFontFamily;
                    color: #000;
                }

                .masthead-text{
                    font-family: $readingTextFontFamily;
                    line-height: 1.5em;
                    font-size: 24px;
                }

            #cu-form input[type=text],#cu-form label,#cu-form textarea{
                display:block;
            }

            #cu-form label{
                font-size: 18px;
                margin: 10px 0px 5px 0px;
            }

            #cu-form textarea{
                width:800px;
                height: 400px;
                font-size: 18px;
                border: 1px solid #CCC;
            }

            #cu-form input[type=text]{
                width: 400px;
                font-size: 18px;
                line-height: 1em;
                border: 1px solid #CCC;
            }

        #footer-nav{
            line-height:45px;
            font-size: 14px;
            //font-family: $navFontFamily;
        }

        #footer-nav a{
            margin-right:10px;
            color: #000;
        }

    .center-outline{
        width: 920px;
        margin: auto;
        padding: 20px 20px;
        border: 1px solid $greyColor;
        margin-bottom: 10px;
    }

    .indent{
        padding-left:50px;
    }

    .section{
        margin-bottom:20px;
    }
                        
.label{
    font-family: $navFontFamily;
    font-size: 18px;
    text-align:center;
    color: #FFFFFF;
}
.column{
    width: 460px;
}

.clearfix{
    zoom:1;
}

.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}

.clearfix:after{
    clear:both;
}

