@font-face {
  font-family: 'BebasNeue';
  src: url("BebasNeue-webfont.eot");
  src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("BebasNeue-webfont.woff") format("woff"), url("BebasNeue-webfont.ttf") format("truetype"), url("BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicBD20Cond';
  src: url("tradegothicbd20cd-webfont.eot");
  src: url("tradegothicbd20cd-webfont.eot?#iefix") format("embedded-opentype"), url("tradegothicbd20cd-webfont.woff") format("woff"), url("tradegothicbd20cd-webfont.ttf") format("truetype"), url("tradegothicbd20cd-webfont.svg#TradeGothicLTStdBdCnNo.20") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue-Light, Tahoma, Arial, Helvetica, sans-serif; }

table {
  border-collapse: collapse; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background-image: url("http://v1-cdn.echoed.com/texture.jpg"); }

th {
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

h2 {
  font-family: TradeGothicBD20Cond, Arial, sans-serif;
  color: #666666; }

/*Echoed Colors*/
.echoed-text {
  color: #ff7733; }

/*Facebook Colors*/
.fb-text, .like-text, .comment-text {
  color: #3b5998; }

/*Twitter Colors*/
.twitter-text, .retweet-text {
  color: #4099ff; }

/*White Areas*/
.third, .half, .table_container {
  background-color: white; }

#container {
  min-width: 1000px;
  height: 100%; }

#header {
  min-width: 1100px;
  height: 50px;
  border-bottom: 1px solid #999;
  background-color: white; }

#logo {
  margin-left: 10px;
  font-size: 48px;
  line-height: 50px;
  height: 50px;
  float: left;
  font-family: TradeGothicBD20Cond, Arial, sans-serif; }

#user {
  padding: 10px;
  font-size: 14px;
  float: right;
  height: 50px;
  text-align: right; }

#networks {
  float: right; }

#header-nav {
  margin-left: 25px;
  float: left; }

#header-nav li {
  padding: 5px 20px;
  height: 40px;
  line-height: 50px;
  list-style: none;
  font-size: 24px;
  font-family: TradeGothicBD20Cond, Arial, sans-serif;
  color: #666666;
  float: left; }

#header-nav li:hover, #header-nav .current {
  color: #ff7733;
  background-image: url(arrow.png);
  background-position: bottom;
  background-repeat: no-repeat; }

#sub-nav {
  height: 25px;
  background-color: white;
  text-align: center;
  line-height: 25px;
  font-family: TradeGothicBD20Cond, Arial, sans-serif;
  border-bottom: 1px solid #999; }

#sub-nav a {
  margin: 0px 10px;
  color: #666666; }

#sub-nav a:hover {
  color: #ff7733; }

#sub-nav a.current {
  color: #ff7733; }

#content-selector-container {
  position: relative;
  border-bottom: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #FFF; }

#content-selector {
  font-size: 14px;
  margin: 0px auto 0px; }

#content-selector a {
  margin: 0px 10px; }

#content-selector a:hover {
  color: #ff7733; }

a.current {
  color: #ff7733; }

#exhibit {
  margin: auto; }

.exhibit_image {
  width: 230px;
  border: 3px solid #CCC; }

#friends {
  width: 80%;
  margin: auto; }

#content-title {
  position: absolute;
  margin: 10px;
  top: 0px;
  left: 0px;
  width: 100px;
  float: left; }

.friend {
  width: 250px;
  height: 50px;
  float: left;
  margin: 10px; }

.friend-img {
  width: 50px;
  height: 50px;
  float: left; }

.friend-text {
  float: left;
  padding: 5px;
  width: 190px; }

.item_wrap {
  float: left;
  margin: 2px;
  position: relative;
  cursor: pointer; }

.item_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("http://v1-cdn.echoed.com/bg-blackPx.png") repeat;
  overflow: hidden;
  z-index: 10; }

.item_hover_wrap {
  padding: 10px 10px 0px 10px;
  text-align: left;
  color: #FFF;
  overflow: hidden;
  line-height: 12px;
  font-size: 14px;
  font-family: HelveticaNeue-Light, Tahoma, Arial, Helvetica, sans-serif; }

.full-column-left {
  width: 450px;
  float: left; }

.full-column-right {
  width: 450px;
  margin-right: 10px;
  float: right; }

.ss-row {
  height: 100px; }

.ss-box {
  height: 100px;
  width: 120px;
  float: right;
  margin: 0px 0px 20px 20px; }

.ss-box-label {
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-family: TradeGothicBD20Cond, Arial, sans-serif;
  font-size: 1.5em;
  color: #666666; }

.ss-box-number {
  width: 100%;
  text-align: right;
  font-size: 48px;
  font-weight: bold;
  font-family: TradeGothicBD20Cond, Arial, sans-serif; }

.report-selector {
  text-align: left; }

.select-report {
  margin-bottom: 5px;
  width: 200px;
  padding: 0px 10px;
  background-color: white;
  font-size: 1.5em;
  font-family: TradeGothicBD20Cond, Arial, sans-serif;
  -webkit-appearance: none; }

.product-detail-image-container {
  float: left;
  width: 150px;
  height: 200px;
  text-align: left; }

.product-detail-image {
  max-width: 150px;
  max-height: 200px; }

.product-detail-table-container {
  float: left; }

.product-detail-table {
  font-size: 14px;
  font-family: HelveticaNeue-Light, Tahoma, Arial, Helvetica, sans-serif; }

.product-detail-table tr td {
  padding: 10px 20px 5px 0px;
  border-bottom: 1px solid #CCC; }

.product-detail-table td {
  text-align: left; }

.report-table {
  border-collapse: collapse;
  width: 100%; }

.report-table th, .report-table td {
  padding: 20px;
  font-family: HelveticaNeue-Light, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #CCC; }

.report-table td {
  cursor: pointer; }

.report-table th {
  background-color: #DEDEDE;
  font-weight: bold; }

.report-nav {
  width: 200px;
  float: left;
  min-height: 400px; }

.report-label {
  text-align: left; }

.report-chart {
  width: 700px;
  padding-left: 10px;
  min-height: 400px;
  border-left: 1px solid #ccc;
  float: left; }

#top-product-table {
  height: 250px; }

.top-products-table {
  width: 100%;
  font-size: 12px; }

.top-products-table img {
  height: 150px;
  border: 2px solid #CCC; }

.top-products-table tr {
  border: 1px solid #CCC; }

.top-products-table th {
  font-weight: bold;
  background-color: #EBEBEB;
  padding: 10px; }

.top-products-table td {
  text-align: left;
  padding: 5px; }

td.number {
  text-align: right; }

.row {
  padding: 20px 10px 0px 10px; }

.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.full {
  padding: 10px;
  width: 920px;
  background-color: white;
  border: 1px #ff7733 solid; }

.full:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.half {
  padding: 10px;
  width: 439px;
  margin-right: 20px;
  height: 300px;
  background-color: white;
  border: 1px #ff7733 solid;
  float: left; }

.half-chart {
  height: 270px; }

.label {
  font-family: TradeGothicBD20Cond, Arial, sans-serif;
  color: #666666;
  font-size: 1.5em;
  text-align: left; }

.third {
  padding: 10px;
  width: 279px;
  margin-right: 20px;
  min-height: 300px;
  float: left;
  background-color: white;
  border: 1px #ff7733 solid; }

.clear {
  clear: both; }

.clearfix {
  zoom: 1; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.center {
  width: 960px;
  margin: auto; }

.orange {
  color: #ff7733; }

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.ui-button {
  -webkit-appearance: none;
  background-color: #FFF;
  height: 30px;
  border: 0px; }

.ui-button-icon-only .ui-button-text {
  padding: 0.35em; }

.ui-menu-item {
  list-decoration: none; }

.ui-autocomplete-input {
  -webkit-appearance: none;
  font-family: TradeGothicBD20Cond, Arial, sans-serif;
  font-size: 24px;
  border: 0px; }
