@font-face {
  font-family: 'BebasNeue';
  src: url("http://v1-cdn.echoed.com/BebasNeue-webfont.eot");
  src: url("http://v1-cdn.echoed.com/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("http://v1-cdn.echoed.com/BebasNeue-webfont.woff") format("woff"), url("http://v1-cdn.echoed.com/BebasNeue-webfont.ttf") format("truetype"), url("http://v1-cdn.echoed.com/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicBD20Cond';
  src: url("http://v1-cdn.echoed.com/tradegothicbd20cd-webfont.eot");
  src: url("http://v1-cdn.echoed.com/tradegothicbd20cd-webfont.eot?#iefix") format("embedded-opentype"), url("http://v1-cdn.echoed.com/tradegothicbd20cd-webfont.woff") format("woff"), url("http://v1-cdn.echoed.com/tradegothicbd20cd-webfont.ttf") format("truetype"), url("http://v1-cdn.echoed.com/tradegothicbd20cd-webfont.svg#TradeGothicLTStdBdCnNo.20") format("svg");
  font-weight: normal;
  font-style: normal; }
