@charset "utf-8";
/* CSS Document */


/***** RESET ********/
html, body, div, h1, h2, h3, h4, h5, h6 ,ul, ol ,dl, li ,dt ,dd ,p ,blockquote,
pre, form, fieldset, table, th, td{
	margin:0;
	padding: 0;
}

a img{
	border:none;
}

html, body{
	height:100%;
}

body{
	background-color:#FFF;
	font-size: 13px;
	font-family:Helvetica,'Lucida Grande','Lucida Sans Unicode',sans-serif;
}

body.share{
	background-color:#FFF;
}

/***** STANDARDIZED COLORS *********/
.bkclr_logo{
	background-color:#508AFF;
}

/******** WRAPPER **********/
#container{
	width:100%;
	min-height: 100%;
	min-width: 742px;
	background-color:#FFF;
}

/***** HEADER ********/
#header{
	height: 50px;
	border-bottom: 1px solid #D2D2D2;
	width:100%;
}

	.echoed_logo{
		float:left;
		width:150px;
		height:50px;
		background-image:url(../images/echoed_new.png);
	}

	ul#nav_header{
		float:right;
	}
	
	ul#nav_header li {
		float: left;
		list-style-type: none;
		background: none;
	}
	
	ul#nav_header li a {
		color: #DDD;
		text-decoration: none;
		font-weight: normal;
		font-size: 12.5px;
		text-shadow: 1px 1px 1px #222;
		outline: none;
		text-shadow: 1px 1px 0.5px black;
		color: white;
		float: left;
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
	}
	
	ul#nav_header li a:hover {
		background-color:#333;
	}
	
	/*****    MAIN      ****/
	.content_left{
		width:200px;
		padding-top:20px;
		vertical-align:top;
		float:left;
	}
	
	.content_right{
		min-height:900px;
		padding:20px;
		width:520px;
		float:left;		
		border-top: 1px solid transparent;
	}
	

/***** BODY ********/
#body{
	height: auto;
	width:100%;
}

	#nav_top_container{
		width:741px;
		background-color:#EFEFEF;
		border-top:1px solid #999;
		border-right:1px solid #999;
	}

	ul#nav_top{
	}

	ul#nav_top li{
		float:left;
		list-style-type:none;
		background-color:#EFEFEF;
		border-left:1px solid #999;
		color:#333;
	}
	
	ul#nav_top li.last{
		border-right:1px solid #999;
	}

	ul#nav_top li > a{
		padding:5px;		
		display:block;
		text-decoration:none;
		color:#333;
	}

	ul#nav_top li a.selected,
	ul#nav_top li a:hover{
		text-decoration:none;
		background-color:#FFF;
		color:#508AFF;
	}

	ul#nav_top li a.selected{
		font-weight:bold;
	}
	
	#closet_display{
		padding: 10px 2px;
		display:block;
		border:1px #999 solid;
	}
	
	#closet_display .product{
		width:180px;
		float:left;
		margin-right:2px;
		margin-bottom:2px;
		text-align:center;
		border: 1px #DEDEDE solid;
		position:relative;
	}
	
	#closet_display .image{
		max-height:200px;
		max-width:180px
	}
	
	#closet_display a{
		text-decoration:none;
		color: #000;
	}
	
	#closet_display .product_desc{
		height: 50px;
		width:180px;
		border-top: 1px #DEDEDE solid;
		font-size: 12px;
		line-height: 15px;
		background-color: #F7F7F7;
	}

	#closet_display .item{
		font-weight:bold;
	}
	
	#closet_display .brand{
		color:#508AFF;
		text-decoration:underline;
	}

	#closet_display .friend{
		width:240px;
		margin-right:2px;
		margin-bottom:5px;
		height:50px;
		border: 1px #DEDEDE solid;
	}
	
	#closet_display .friend_title{
		width:100%;
		height:50px;
		margin-bottom:10px;
	}	
	
	#closet_display .friend_image{
		width:50px;
		height:50px;
		float:left;
	}
	
	#closet_display .friend a{
		text-decoration: none;
		color:#508AFF;
	}
	
	#closet_display .friend_name{
		width:185px;
		line-height:50px;
		height:50px;
		padding-left:5px;
		float:left;
	}

/***** FOOTER **********/
#footer{
	background-color:#333;
	height: 200px;
	border-top:1px solid #000;
	width:100%;
}

.content{
	width:742px;
	margin:auto;
	height: auto;
}