<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Closet</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.isotope.min.js"></script>
    <script type="text/javascript" src="jquery.imagesloaded.js"></script>
    <script type='text/javascript' src="json2.js"></script>
    <script type='text/javascript' src="underscore-min.js"></script>
    <script type='text/javascript' src="backbone.js"></script>
    <script type='text/javascript'>

var EventAggregator = _.extend({}, Backbone.Events);

Echoed = {
    Views: {
        Pages:{},
        Components:{}
    },
    Models:{},
    Collections:{},
    init: function() {
        var router = new Echoed.Router({EvAg: EventAggregator});
        var nav = new Echoed.Views.Components.Nav({EvAg: EventAggregator});
        Backbone.history.start();
    }
};

Echoed.Models.Product = Backbone.Model.extend({
    initialize: function(){
    }
});

Echoed.Router = Backbone.Router.extend({
    initialize: function(options) {
        _.bindAll(this,'exhibit','friends');
        this.EvAg = options.EvAg;
        this.page = null;

    },
    routes:{
        "_=_" : "fix",
        "": "exhibit",
        "exhibit": "exhibit",
        "exhibit/:id": "exhibit",
        "friends": "friends",
        "friends/exhibit/:id": "friendsExhibit",
        "friends/exhibit/:id/:filter": "friendsExhibit"
    },
    fix: function(){
        window.location.href = "#";
    },
    exhibit: function(id) {
        if(!id) selector = "*";
        else selector = "." + id;

        if(this.page != "Exhibit") {
            pageView = new Echoed.Views.Pages.Exhibit({EvAg: this.EvAg, Filter: selector});
            this.EvAg.trigger('filter/change',selector);
        }
        else
            this.EvAg.trigger('filter/change',selector);
        this.page = "Exhibit";
    },
    friends: function() {
        pageView = new Echoed.Views.Pages.Friends({EvAg: this.EvAg});
        this.page = "Friends";
    },
    friendsExhibit: function(id,filter){
        pageView = new Echoed.Views.Pages.Exhibit({EvAg: this.EvAg, Filter: filter, Id: id})
        this.page = "FriendsExhibit"
    }

});

Echoed.Views.Pages.Exhibit = Backbone.View.extend({
    el: '#content',
    initialize: function(options){
        _.bindAll(this,'render','addProduct','filterProducts');
        this.EvAg = options.EvAg;
        this.EvAg.bind('products/add', this.addProduct);
        this.EvAg.bind('filter/change', this.filterProducts);
        if(options.Id)
            this.jsonUrl = "http://v1-api.echoed.com/closet/exhibit/" + options.Id;
        else
            this.jsonUrl = "http://v1-api.echoed.com/closet/exhibit";
        this.element = $(this.el);

        this.render(options.Filter);
    },
    render: function(filter){
        var template = _.template($('#templates-pages-exhibit').html());

        this.element.html(template);

        var ex = this;
        ex.filter = filter;

        var productSelector = new Echoed.Views.Components.ProductSelector({EvAg: this.EvAg});

        var exhibit = $('#exhibit');

        exhibit.append('<div style="width:1px;"></div>');
        exhibit.isotope({filter: filter});
        var jsonUrl = this.jsonUrl
        //var jsonUrl = "exhibit.json";
        this.EvAg.trigger("category/add","","All");
        $.ajax({
            url: jsonUrl,
            dataType: 'json',
            success: function(data){
                $.each(data, function(index,product){
                    var productModel = new Echoed.Models.Product(product);
                    ex.addProduct(productModel,ex.filter);
                    ex.EvAg.trigger('category/add',product.echoCategory,product.echoCategory);
                });
            },
            error:function (xhr, ajaxOptions, thrownError){
            }
        });
    },
    filterProducts: function(selector){
        $('#exhibit').isotope({filter: '#exhibit .item_wrap' + selector});
    },
    addProduct: function(productModel,filter){

        var exhibit = $('#exhibit');
        var productDiv = $('<div></div>');
        var productComponent = new Echoed.Views.Components.Product({el: productDiv, model:productModel});
        productDiv.hide().appendTo(exhibit);

        exhibit.imagesLoaded(function(){
            exhibit.isotope('insert',productDiv);
            productDiv.show();
        });

    }
});

Echoed.Views.Pages.Friends = Backbone.View.extend({
    el: '#content',
    initialize: function(options){
        _.bindAll(this);
        this.EvAg = options.EvAg;
        this.element = $(this.el);
        this.render();
    },
    render: function(){
        this.element.html('');
        var ex = this.element
        jsonUrl = "http://v1-api.echoed.com/closet/friends";
        $.ajax({
            url: jsonUrl,
            dataType: 'json',
            success: function(data){
                $.each(data, function(index,friend){
                    var  a = $('<a></a>').html(friend.name).attr("href","#friends/exhibit/" + friend.toEchoedUserId)
                    $('<div></div>').append(a).appendTo(ex)
                });
            },
            error:function (xhr, ajaxOptions, thrownError){
            }
        });
    }
});

Echoed.Views.Components.ProductSelector = Backbone.View.extend({
    el: '#content-selector',
    initialize: function(options){
        _.bindAll(this,'addSelector','triggerClick');
        this.EvAg = options.EvAg;
        this.EvAg.bind('category/add',this.addSelector);
        this.EvAg.bind('filter/change',this.triggerClick);
        this.categoryHash = {};
        this.element = $(this.el);
        this.render();
    },
    render: function(){
        this.element.isotope({layoutMode: 'fitRows'});
    },
    addSelector: function(selector,text){
        if(!this.categoryHash[text]){
            this.categoryHash[text] = 1;
            var anc = $('<a></a>').attr("id",selector).attr("href","#exhibit/" + selector).html(text);
            if(text == this.selected){
                anc.addClass("current");
            }
            this.element.append(anc).isotope('appended',anc);

        }
    },
    triggerClick: function(e){
        this.element.find(".current").removeClass("current");
        $("#" + e.substr(1)).addClass("current");
        this.selected = e.substr(1);
    }
});

Echoed.Views.Components.Nav = Backbone.View.extend({
    el: "#header-nav",
    initialize: function(options){
        _.bindAll(this);
        this.element = $(this.el);
        this.EvAg = options.EvAg;
        this.render();
    },
    render: function(){

    },
    events:{
      "click a": "triggerClick"
    },
    triggerClick: function(e){
        this.element.find(".current").removeClass("current");
        $(e.target).parent().addClass("current");
    }


});

Echoed.Views.Components.Product = Backbone.View.extend({
    initialize: function(options){
        _.bindAll(this,'showOverlay','hideOverlay');
        this.el = options.el;
        this.render();
    },
    events:{
        "mouseenter": "showOverlay",
        "mouseleave": "hideOverlay"
    },
    render: function(){
        var template = _.template($('#templates-components-product').html());
        this.el.addClass("item_wrap").addClass(this.model.get("echoCategory")).html(template(this.model.toJSON()));
        return this;
    },
    showOverlay: function(){
        this.el.find('.item_hover').fadeIn('fast');
    },
    hideOverlay: function(){
        this.el.find('.item_hover').fadeOut('fast');
    }

});
</script>
<script type="text/template" id="templates-components-product">
    <div class="item_hover" style="display:none;">
        <div class="item_hover_wrap">
            <%= echoProductName %><br/>
            <%= echoBrand %>
        </div>
    </div>
    <img class="exhibit_image" src="<%= echoImageUrl %>"/>
</script>

<script type="text/templates" id="templates-pages-exhibit">
    <div id="content-selector-container">
        <div id="content-selector"></div>
    </div>
    <div id="exhibit">
    </div>
</script>


<link rel="stylesheet" type="text/css" href="echoed.css"/>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <img height="50px" src="http://v1-cdn.echoed.com/logo.png">
            </div>
            <div id="user">
            	{{#echoedUser}}{{name}}{{/echoedUser}}<br />
                Rewards: {}
            </div>
            <div id="header-nav">
                <ul>
                    <li id="exhibit_nav">
                        <a href="#exhibit">
                            Exhibit
                        </a>
                    </li>
                    <li id="friends_nav">
                        <a href="#friends">
                            Friends
                        </a>
                    </li>
                    <li>
                        <a href="#settings">
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="logout">
                            Logout
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <div id="content">
         </div>
    </div>
</body>
</html>
<script type=text/javascript>
    $(document).ready(function() {
        Echoed.init();
    });
</script>