<div class="item_content story-brieftext">
    <div class="story-brief-text">
        <div class="story-brief-text-title">
            {{ storyFull.story.title }}
        </div>
        <div class="story-brief-text-by">
            by <a class="link-black story-brief-text-user" href="#user/{{echoedUser.id}}">{{ storyFull.echoedUser.name }}</a>
        </div>
        {{^inComplete}}
        <div class="story-brief-text-quote">{{ chapterText }}</div>
        <div class="story-brief-indicator">
            <span>Votes: </span>
            <span class="story-brief-indicator-value vote-counter">{{voteCount}}</span>
            <span>Comments: </span>
            <span class="story-brief-indicator-value">{{ storyFull.comments.length }}</span>
        </div>
        {{/inComplete}}
        {{#inComplete}}
        <div class="story-brief-text-quote"><strong><span class='highlight'>Your Story is Incomplete. Please complete the story.</span></strong><br/></div>
        {{/inComplete}}
    </div>
</div>
<div class="story-brief-edit" style="text-align: center;{{#isSelf}}display:block;{{/isSelf}}">
    <a href="#write/story/{{ storyFull.id }}" class="story-brief-edit-tab">
        {{^inComplete}}Edit Story{{/inComplete}}{{#inComplete}}Finish Story{{/inComplete}}
    </a>
</div>
