<div class="item_content story-brieftext">
    <div class="story-brief-text">
        <div class="story-brief-text-title">
            {{ story.title }}
        </div>
        <div class="story-brief-text-by">
            by <a class="link-black story-brief-text-user" href="#user/{{echoedUser.id}}">{{ echoedUser.name }}</a>
        </div>
        {{^inComplete}}
        <div class="story-brief-text-quote">{{ chapterText }}</div>
        <div class="story-brief-indicator">
            <span>Upvotes: </span>
            <span class="story-brief-indicator-value vote-counter"></span>
            <span>Comments: </span>
            <span class="story-brief-indicator-value">{{ comments.length }}</span>
            <span>Photos: </span>
            <span class="story-brief-indicator-value">{{ imageCount }}</span>
            <span class="s-b-i-c">
                {{ elapsedString }}
            </span>
        </div>
        {{/inComplete}}
        {{#inComplete}}
        <div class="story-brief-text-quote"><strong><span class='highlight'>Your Story is Incomplete. Please add a topic.</span></strong><br/></div>
        {{/inComplete}}
    </div>
</div>
<div class="story-brief-edit" style="text-align: center;">
    <a href="#write/story/{{ story.id }}" class="story-brief-edit-tab">
        {{^inComplete}}Edit Story{{/inComplete}}{{#inComplete}}Finish Story{{/inComplete}}
    </a>
</div>
