<div class="item_content story-brief">
    {{#storyImage}}
    <div class="story-brief-image-container">
        <img class="story-brief-image" src="{{storyImage.url}}" style="height: {{storyImage.height}}px; width: {{storyImage.width}}px"/>
    </div>
    {{/storyImage}}
    <div class="story-brief-text">
        {{#storyImage}}
        <img class="story-brief-text-user-image" height="35px" width="35px" src="{{ profilePhotoUrl }}"/>
        {{/storyImage}}
        <div class="story-brief-text-title{{^storyImage}}-large{{/storyImage}}">
            {{ storyFull.story.title }}
        </div>
        <div class="story-brief-text-by">
            by <a class="link-black story-brief-text-user" href="#user/{{ storyFull.echoedUser.screenName }}">{{ storyFull.echoedUser.screenName }}</a>
        </div>
        {{^inComplete}}
        <div class="story-brief-text-quote">{{ chapterText }}</div>
        <div class="story-brief-indicator">
            <span style="float: right;">
                <a class="story-brief-text-partner" href="#partner/{{storyFull.partner.handle}}">{{storyFull.partner.name}}</a>
            </span>
            <span class="story-brief-indicator-value">{{ storyFull.comments.length }} Comments</span>
        </div>
        {{/inComplete}}
        {{#inComplete}}
        <div class="story-brief-text-quote"><strong><span class='highlight'>Your Story is Incomplete. Please complete the story.</span></strong><br/></div>
        {{/inComplete}}
    </div>
</div>
{{#isSelf}}
<div class="story-brief-actions">
    <ul class="clearfix">
        <li><a class="story-brief-action" href="#write/{{storyFull.id}}">Edit</a></li>
    </ul>
</div>
{{/isSelf}}

<!--<div class="story-brief-actions">-->
    <!--<ul class="clearfix">-->
        <!--{{^inComplete}}-->
        <!--<li><span class="upvote"></span></li>-->
        <!--<li><span class="downvote"></span></li>-->
        <!--<li><a href="#">Share</a></li>-->
            <!--{{#isSelf}}<li><a class="story-brief-action" href="#write/{{storyFull.id}}">Edit</a></li>{{/isSelf}}-->
            <!--{{^isSelf}}<li><a class="story-brief-action" href="#">Save</a></li>{{/isSelf}}-->
        <!--{{/inComplete}}-->
        <!--{{#inComplete}}<li><a class="story-brief-action" href="#write/{{storyFull.id}}">Finish</a></li>{{/inComplete}}-->
    <!--</ul>-->
<!--</div>-->

