<div class="item_content story-brief">
    {{#storyImage}}
    <div class="story-brief-image-container">
        <img class="story-brief-image" src="{{storyImage.url}}" style="height: {{storyImage.height}}px; width: {{storyImage.width}}px"/>
    </div>
    {{/storyImage}}
    <div class="story-brief-text">
        {{#storyImage}}
        <img class="story-brief-text-user-image" height="35px" width="35px" src="{{ profilePhotoUrl }}"/>
        {{/storyImage}}
        <div class="story-brief-text-title{{^storyImage}}-large{{/storyImage}}">
            {{ storyFull.story.title }}
        </div>
        <div class="story-brief-text-by">
            by <a class="link-black story-brief-text-user" href="#user/{{storyFull.echoedUser.id}}">{{ storyFull.echoedUser.name }}</a>
        </div>
        {{^inComplete}}
        <div class="story-brief-text-quote">{{ chapterText }}</div>
        <div class="story-brief-indicator">
            <span>Votes: </span>
            <span class="story-brief-indicator-value vote-counter">{{voteCount}}</span>
            <span>Comments: </span>
            <span class="story-brief-indicator-value">{{ storyFull.comments.length }}</span>
        </div>
        {{/inComplete}}
        {{#inComplete}}
        <div class="story-brief-text-quote"><strong><span class='highlight'>Your Story is Incomplete. Please complete the story.</span></strong><br/></div>
        {{/inComplete}}
    </div>
</div>

<div class="story-brief-actions">
    <ul class="clearfix">
        {{^inComplete}}
        <li><a href="#">Like</a></li>
        <li><a href="#">Share</a></li>
            {{#isSelf}}<li><a class="story-brief-action" href="#write/story/{{storyFull.id}}">Edit</a></li>{{/isSelf}}
            {{^isSelf}}<li><a class="story-brief-action" href="#">Save</a></li>{{/isSelf}}
        {{/inComplete}}
        {{#inComplete}}<li><a class="story-brief-action" href="#write/story/{{storyFull.id}}">Finish</a></li>{{/inComplete}}
    </ul>
</div>

